[2021-05-18 08:30] iancooper commented on #1519
@preardon I can do a Zoom call later if you want more help understanding this. But have a stab, and let's see what it looks like.

As ever, its Core, so TDD please :-D

[2021-05-18 08:34] iancooper commented on #1519
PS, The Hash Code here should be based on Id, Topic, and Type. We should kill the other elements as part of this. It doesn't make sense to test messages for equality based on transient variables:

 public override int GetHashCode()
        {
            unchecked
            {
                var hashCode = Id.GetHashCode();
                hashCode = (hashCode * 397) ^ (Topic != null ? Topic.GetH

[2021-05-18 08:38] iancooper commented on #1519
It will need a little bit of tweaking: you are really trying to get a DeferMessageAction exception to have an upper limit on the number of times it gets sent and move to a DLQ of that is exceeded over discard.

We probably need to document that you can throw DeferMessageAction to requeue a message for later processing

[2021-05-18 08:46] preardon commented on #1540
@iancooper Excellent, the PR #1541 Should Give us this for ASB

[2021-05-18 08:59] iancooper commented on #1540
@preardon Cool, will look at lunch or after close of play today

[2021-05-18 09:00] iancooper commented on #1538
@preardon In progress under my 'fix red tests' work, will ping you as a reviewer when done

[2021-05-18 17:40] preardon opened #1542 "ASB Transport - Async Producer"
**Is your feature request related to a problem? Please describe.**
I would like The ASB Transport to be Async

[2021-05-18 18:42] preardon commented on #1519
@iancooper I think I've found an issue in one of your core Tests (When_An_Unacceptable_Message_Is_Recieved), it can't map "" to MyEvent, I'll put a fix in if this isn't intended

[2021-05-18 19:23] preardon commented on #1519
@iancooper The Deeper I go the More Interesting this gets. I am using ASB, Kafka, and SQS as my 3 Examples.

At the Minute ASB Grabs a Producer and Sends with Delay (This is Possibly going to Cause me issues due to not being able to have Async Handlers and Producers), Also I do Wonder if I should Change this Behaviour if AckOnRead is turned on, to Just Abandon the Lock (which will use ASB DLQ) and

[2021-05-18 19:41] preardon commented on #1519
I could Handle 10 minutes of your time if you've got it for Clarification, Otherwise I'll charge Ahead

[2021-05-18 19:48] preardon commented on #1519
Are you saying that We only want to Requeue if we the handler throws a DeferMessageAction? and requeue everything based on the Requeue count of the Channel?

[2021-05-19 08:40] iancooper commented on #1519
@preardon What time works for you, might be worth a chat as I have not fully thought through any design and we may want to explore together

[2021-05-19 09:00] preardon commented on #1519
@iancooper I should be able to do times between 11:00 and 11:30 or 12:00 to 2pm let me know if these work for you

[2021-05-20 12:22] #1540 closed

[2021-05-20 12:23] #1542 closed

[2021-05-20 19:30] preardon opened #1545 "When Adding Service Activator, if you Specify BrighterMessaging it does not register an Async Handler Factory"
When Configuring as such
services.AddServiceActivator(options => { options.Subscriptions = subscriptions; options.ChannelFactory = new AzureServiceBusChannelFactory(asbConsumerFactory); var outBox = new InMemoryOutbox(); options.BrighterMessaging = new BrighterMessaging(outBox, AzureServiceBusMessageProducerFactory.Get(asbConfig)); }).AutoFromAssemblies();

Specifically when adding the BrighterMes

[2021-05-20 20:11] preardon commented on #1545
From what I see the Current logic is

IF we support Receiving and Sending => Request Reply Queues
IF we support Receiving but not Sending => No Task Queues
IF we dot not support Receiving but support Sending Sending => Task Queues
If we do neither => No Task Queues

but from what I Understand, I want to be able to send and Receives but I don't Want RequestReplyQueues

[2021-05-20 21:04] preardon commented on #1545
I've gone through a Few Iterations here

 `
if (options.ChannelFactory is null)
            {

                taskQueuesBuilder = options.BrighterMessaging == null
                    ? messagingBuilder.NoTaskQueues()
                    : messagingBuilder.TaskQueues(new MessagingConfiguration(options.BrighterMessaging.OutBox,
                        options.BrighterMessaging.AsyncOutBox, options

[2021-05-20 21:07] preardon commented on #1545
I have Just added PR #1546

[2021-05-21 07:42] preardon commented on #1545
This fix has been merged in

[2021-05-21 07:44] #1545 closed

[2021-05-21 08:46] iancooper commented on #1545
I think this works for now. I sense it smells a little, as though we might need a flag based enum that says 'turn on these features' as inferring has become too complex. One for post 9.0 to talk over witth @holytshirt

[2021-05-21 08:53] iancooper commented on #1519
Thanks @preardon

[2021-05-21 08:53] #1519 closed

[2021-05-21 08:54] iancooper commented on #1409
Closed this, thanks @preardon

[2021-05-21 08:54] #1409 closed

[2021-05-21 08:55] iancooper commented on #1157
@preardon Does this work with your recent change?

[2021-05-21 09:13] holytshirt commented on #1157
I think @preardon update probably fixes this

[2021-05-21 09:33] #1157 closed

[2021-05-21 13:54] #1538 closed

[2021-05-23 20:57] preardon commented on #1442
@iancooper do we have an ASB that we can use in the pipeline for integration tests?

[2021-05-23 23:25] iancooper commented on #1442
Not at the moment, but I can set one up, I have enough free credits. We just need to crank necessary secrets into GitHb

[2021-05-24 07:32] honkuan86 opened #1554 "AWSSQS - Allow SqsMessageProducer to publish message to SNS based on Message Header"
**Is your feature request related to a problem? Please describe.**
Currently SqsMessageProducer is publishing messages to a SNS topic based on RoutingKey. However a RoutingKey can only be specify once in Configuration, and limits the producer only can send to a single SNS topic.

**Describe the solution you'd like**
Allow SqsMessageProducer  to publish message to a SNS topic based on Message Heade

[2021-05-24 08:19] iancooper commented on #1554
Hi @honkuan86. Let me take a look at this, and see if I can figure out what changed from other transports and why. And then I can figure out the fix.

[2021-05-24 08:36] iancooper opened #1555 "[Feature] Kafka: Support Retry with Delay and DLQ"
**Is your feature request related to a problem? Please describe.**
Kafka has no delay queue feature. So if processing a message results in a transient error, there is no way to delay and retry later.

Kafka preserves ordering. Indeed, series data by its nature is often ordered. When you requeue to retry, you break any ordering as the message will now be serviced out-of-order. So Kafka will not do

[2021-05-24 09:19] iancooper commented on #1554
@honkuan86 Opened a PR. Done by tomorrow.

[2021-05-24 12:32] preardon opened #1558 "Some SQL Connection Factories have a Private Constructor"
Unable to use some of the SQL Connection Factories Due to having a private Constructor

[2021-05-24 18:12] preardon commented on #1558
This should be good now

[2021-05-24 18:12] #1558 closed

[2021-05-24 18:25] #1554 closed

[2021-05-24 18:30] iancooper commented on #1554
@honkuan86 This should be fixed. We now have an internal mapping of topics to topic Arns. On a 'on demand' creation, or validate by name basis, we will build this mapping as we encounter topics in headers, so that we only need to do the expensive AWS lookup once, and replace it with an O(1) dictionary lookup. If you want us to validate by Arn, primarily because you have externally created Arns, an

[2021-05-24 18:42] iancooper commented on #1558
Thanks @preardon

[2021-05-25 10:12] preardon opened #1560 "Declaration of a Service Lifetime Scope in ServiceActivator"
At the Minute the Service Activator is an IHostedService CommandHandlers processing these messages cannot consume a Scoped Service without Injecting a ScopeFactory and creating a new scope inside my Handler

I would like Brighter to Declare a scope, the Real question is where
- If we declare a Scope in the pump around the dispatcher this would solve the issue however the scope would be shared Furt

[2021-05-25 10:55] iancooper commented on #1560
We don't want to bake the IoC library into Brighter's Command Processor,. Dispatcher etc. That is a design decision and comes from this article by Mark Seeman: https://blog.ploeh.dk/2014/05/19/di-friendly-framework/ There was a *strong* design discussion with the ASP.NET team around some of their design decisions here, but those conversations mostly fell on deaf ears.

So we have effectively Creat

[2021-05-25 11:04] penderi commented on #1560
Mate this is awesome, thanks @iancooper.
I agree about Di being on the age - and rightly too  - in the framework. Adding direct DI scopes wouldn't follow the current design at all.
How ameniable are you to an optional/confgurable IScopeFactory being added to the MessagePump? (I *think* that's the right level... ). We can then provide NoOp version and a version in the DI package that plugs into MS

[2021-05-25 11:13] iancooper commented on #1560
I know that lots of other OSS projects have hit the same issue with the whole scoped service problem. it's a nightmare created by the ASP.NET team.

We don't want this in the MessagePump, I don't think its the right level.

I think the answer is to do something similar to Quartz here: https://andrewlock.net/using-scoped-services-inside-a-quartz-net-hosted-service-with-asp-net-core/

Given we alway

[2021-05-25 11:18] iancooper commented on #1560
There is also this alternative from the Quartz community to workaround this issue: https://gist.github.com/Antaris/9c3c097d31a90da279e3e6d78497a369

[2021-05-25 11:20] iancooper commented on #1560
Given it may take a while for us to work this through, the gist use of a scope inside the factory may be the most solid approach to this for now

[2021-05-25 11:22] penderi commented on #1560
Thanks mate - all helpful. Right now we're fugly - scopefactory in hadnelrs to new up dependencies (my face hasn't been pretty discussing this stuff). Factory seems a good shout. Great pointers

[2021-05-25 11:22] iancooper commented on #1560
I know that Quartz has done something more long-lived now, but not had a chance to check on how they finally solved it, when looking at a long term choice: https://andrewlock.net/using-quartz-net-with-asp-net-core-and-worker-services/

[2021-05-25 11:27] iancooper commented on #1560
@penderi I think one of those two strategies will be a better workaround. We may need to look at any 'factory' we create for you to see if we can implement the advice in the gist as otherwise I think we will default to a form that doesn't support scopes //cc @holytshirt

I'll see what the quartz team did, I think that it might just be a marker to use a factory that supports scopes

[2021-05-25 11:39] iancooper commented on #1560
This looks like what Quartz went with, similar to the gist above. They now default to it. It might be that we need to look at something similar with our default factory for use with ServiceCollection: https://github.com/quartznet/quartznet/blob/ecf1dd780e7feea85e34eb31a28b01bea27e82ae/src/Quartz.Extensions.DependencyInjection/Simpl/MicrosoftDependencyInjectionJobFactory.cs

[2021-05-25 11:40] iancooper commented on #1560
(Without the property based approach though if possible)

[2021-05-25 11:41] iancooper commented on #1560
For clarity, we would want to alter this: https://github.com/BrighterCommand/Brighter/blob/master/src/Paramore.Brighter.Extensions.DependencyInjection/ServiceProviderHandlerFactory.cs and the matching mapper factory as well for completeness

[2021-05-25 13:40] preardon commented on #1560
@holytshirt Yeah the need is so that we can Share the EF DB Context between a few repositories in a scope and Rollback all Transactions if we need to

[2021-05-25 14:24] iancooper commented on #1560
@holytshirt I think the way to go is to put a scope into our MS DI Container HandlerFactory implementation. Quartz.NET had to solve the same problem with scopes in their JobFactory

An original community approach to the problem: https://gist.github.com/Antaris/9c3c097d31a90da279e3e6d78497a369

Where they are today: https://github.com/quartznet/quartznet/blob/ecf1dd780e7feea85e34eb31a28b01bea27e82a

[2021-05-25 14:35] penderi commented on #1560
Don't flame me too hard... but what am I missing here ?

`
    public class ServiceProviderHandlerFactory : IAmAHandlerFactory, IAmAHandlerFactoryAsync
    {
        private readonly IServiceProvider _serviceProvider;

        public ServiceProviderHandlerFactory(IServiceProvider serviceProvider)
        {
            _serviceProvider = serviceProvider;
        }

        IHandleRequests IAmAHandl

[2021-05-25 14:44] iancooper commented on #1560
@penderi The only difference here is the ability to dispose of the scope by tracking it:

Original: https://gist.github.com/Antaris/9c3c097d31a90da279e3e6d78497a369
Improvement: https://github.com/AndyPook/QuartzHostedService/blob/master/QuartzHostedService/ScopedJobFactory.cs

[2021-05-25 14:45] iancooper commented on #1560
@penderi So an equivalent for us would be to return a scoped handler that wraps the handler, and when disposed kills the scope itself.

[2021-05-25 14:46] penderi commented on #1560
Yes @iancooper but I fear the problem is we can't identity the release for the individual request, only type. This could create an issue with overlapping handlers of the same type

[2021-05-25 14:51] iancooper commented on #1560
@penderi I'd be happy with us providing an optional parameter on the HandleFactory methods that was the request id, so that we can disambiguate the request that the creation call is for. I think there are a lot of reasons why that could have value for us.

[2021-05-25 14:52] penderi commented on #1560
This is almost like your at the desk lol. Yup saw that and reasoned could be useful. Very partial to using the context if it's not a misuse...?

[2021-05-25 14:52] iancooper commented on #1560
@penderi But the wrapper approach of the second code sample might be a nicer approach overall

[2021-05-25 15:02] penderi commented on #1560
Hmm wrapping with the generic handler looks like an unpleasant thing...

[2021-05-25 15:08] iancooper commented on #1560
TBH if we wrap the scope with an class that implements IDispose we don't need to wrap the handler. Just set the HandlerScope property on the RequestHandler and in Release always remove if it is set. We can probably add the property to IAmAReqeustHandler, so it will always be there, just possibly null

[2021-05-25 15:28] holytshirt commented on #1560
This should be for Service Activator only and not for Brighter. In aspnet core & EFcore the scope is created for you Brighter has to work with an already created scope.
The advice we normal give people using aspnet core & EFcore  is to register the command processer as scoped
https://github.com/BrighterCommand/todo-backend-aspnetcore-brighter/blob/master/src/ToDoApi/Startup.cs#L74-L75

[2021-05-25 16:15] preardon commented on #1560
@holytshirt When I Register the Command Processor Lifetime as Scoped The Service Activator will not start as the iHostedService can't find the CommandProcessor

[2021-05-25 16:21] holytshirt commented on #1560
@preardon that advice is not for Service Activator it's for when you are using Brighter in aspnet core with efcore.

[2021-05-25 16:22] iancooper commented on #1560
@preardon I think @holytshirt's point is that we have two scenarios: ServiceActivator for a consumer receiving messages and stand-alone Brighter being used as a mediator. I guess his question is if we need to have two factories, one we use in ServiceActivator scenarios that creates a scope with the handler and one that we use in stand-alone scenarios, and configure accordingly.

[2021-05-25 16:24] iancooper commented on #1560
@penderi You will want to test the scenario where we have a pipeline i.e. attributes with other handlers. Should anything created for that pipeline use the same scope? I guess if you wanted a DbContext in two handlers to be the same, the answer might be yes. That might move us toward a solution that crates an id for the pipeline

[2021-05-25 16:26] iancooper commented on #1560
@holytshirt Just to note, Quartz originally had scoped and non-scoped and a flag to use scoped. They have now dropped that for scoped everywhere. Which is I guess a 'pit of success'. Any idea what the cost would be for scoped if you didn't need it?

[2021-05-25 16:26] preardon commented on #1560
Ah, Sorry.  Yes this is only an issue on Service Activator, my apologies

[2021-05-25 16:40] iancooper commented on #1560
@penderi All good, as long as we are light touch, and focus on abstractions i.e. you can implement the factories yourself if you are using a different IOC container, then we can touch core if we need to.

(I feel like Linus policing the kernel now)

[2021-05-25 16:49] preardon commented on #1560
@holytshirt @iancooper I think if we have a ScopedFactory and the existing Factory and allow it configurable for Service Activator. I am currently working with @penderi to see if we can find an elegant way to do this, think we found something.

Thinking of passing in the ServiceProviderHandlerFactory to BuildCommandProcessor (Brighter.Extensions.DI) So that we can then Pass it in or build set it i

[2021-05-25 16:52] preardon commented on #1560
@iancooper Only just saw your above response, I suppose if we allow Passing into BrighterHandlerBuilder this will allow people to extend this to use any form of IoC they like

[2021-05-25 18:10] iancooper commented on #1560
I would opt for: UseScopedHandlerFactory given the prior art by Quartz.NET

[2021-05-31 04:49] artem-avanesov opened #1561 "How to specify particular exchanges for particular events?"
In this example, I see that one exchange specified for two events, but I need to specify a different exchange for publishing other events.

Is it possible?

https://github.com/BrighterCommand/Brighter/blob/master/samples/RMQTaskQueueSamples/GreetingsSender/Program.cs

Thanks in advance.

[2021-06-01 00:27] donation93 opened #1568 "Feature reactions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-01 11:21] #1561 closed

[2021-06-02 09:00] holytshirt commented on #1568
Hi @donation93 I assume this was an accident? I'll close this for now, just updated it if you meant to add more.

[2021-06-02 09:00] #1568 closed

[2021-06-02 11:07] nesbo opened #1573 "EntityFramework Outbox"
Hey all lovely people,

just using Brighter with ASB and love the Outbox, except that I'd like my command processing to be atomic and wrap my EF stuff together with Posting new command (to the Outbox obv) inside single db transaction. MSSql Outbox is not using ef contexts, therefore not helping much on this topic.

Do we have any thoughts on this, discussions open or concerns?

Cheers!

[2021-06-02 13:38] preardon commented on #1573
Hi @nesbo

In v9 we broke the connection for Outbox to have a ConnectionFactory, my thoughts for this was that you can implement your own Connection Factory, Inject your EF context and use the DB for that to provide the DB Connection.  I will look to get an example of this and post it here.

[2021-06-02 13:53] preardon commented on #1573
I still have to Test, however this is looking good

`
public class MsSqlOutboxEFConnectionFactory : IMsSqlOutboxConnectionFactory
    {
        private GrettingsDbContext _context;

        public MsSqlOutboxEFConnectionFactory(GrettingsDbContext context)
        {
            _context = context;
        }
        public DbConnection GetConnection()
        {
            return _context.Database.G

[2021-06-02 14:43] preardon commented on #1560
@iancooper @holytshirt We will look to get a PR for this in at the back end of next week

[2021-06-03 02:38] honkuan86 opened #1574 "MySqlOutbox retrieve outstanding messages incorrectly"
### Describe the bug
The current MysqlOutbox implementation of getting outstanding messages is currently unable to get the correct messages due to the filtering below,
`TIMESTAMP < DATE_ADD(CURRENT_DATE(), INTERVAL @OutStandingSince SECOND)`
As CURRENT_DATE() is only returning the date and not time, hence the filter result will not be accurate when we set the interval in seconds.

So CURRENT_TIMES

[2021-06-03 08:21] iancooper commented on #1574
We'll need to check on the tests for this, as to why we didn't pick up, and look into the other SQL providers for repetition of the error

[2021-06-07 09:03] iancooper commented on #1573
@nesbo Does this work as a solution?

[2021-06-07 11:40] preardon commented on #1573
@iancooper I've just had a little bit of a look into implementing it and found a small hitch, we need the DbContext to be DI injected and the way the outbox is currently setup it does not appear to support this (As we Create a factory and pass it to Configuration) I will have a bit more of a think and come up with a solution but might require a little bit of a change to the initialisation of Outbo

[2021-06-07 18:20] preardon opened #1578 "Service activator - RejectMessageAction"
At this minute the only way for Command Handler code to talk to the message pump is by throwing a DeferMessageAction which will retry the message and eventually add it to the Dead Letter Queue (If Applicable)

I would like a RejectMessageAction which instructs the Message Pump to Dead Letter the Message for when the issue is not due to a Transient issue.

I am currently wondering weather this is a

[2021-06-07 19:24] iancooper commented on #1578
So, technically:

- Message you cannot translate: Invalid Message Queue.
- Message you cannot deliver: Dead Letter Queue
- Application Error: Log them as any application error. We will ack any message that throws an exception i.e. you reject. If you want a copy, use an Inbox

So we prefer not to to let you use the DLQ.

However, I know some folks do want an error queue, and there is always a quest

[2021-06-07 19:46] preardon commented on #1578
@iancooper Thanks for the Clarification, I suppose I was treating the DLQ as a Standard "Could not Process" queue, most of the cases in my head were things like Validation Failures which I suppose you could say that should not happen, but this would fall under Application Error Umbrella.

So while I  can see why people would reach for this first, it is then Treating the DLQ as a generic Error Queu

[2021-06-07 19:46] #1578 closed

[2021-06-13 09:05] preardon opened #1582 "Async Outbox Sweeper"
At the moment Brighter only has synchronous Outbox Sweeper

I would also like to be able to use it with Async Outboxes

Low Priority, I can look to get this out after v9

[2021-06-13 09:08] preardon commented on #1582
Also, just a thought, is there any reason we wouldn't just make this Static (if we are just passing in All the Deps anyway)

[2021-06-13 13:44] preardon opened #1583 "MsSQL Outbox Error when calling OutstandingMessages - System.InvalidCastException: The SqlParameterCollection only accepts non-null SqlParameter type objects, not SqlParameter objects"
I am vaguely sure this was working, and I can not yet see why it is doing this, however at the minute I am currently getting

System.InvalidCastException: The SqlParameterCollection only accepts non-null SqlParameter type objects, not SqlParameter objects.
   at Microsoft.Data.SqlClient.SqlParameterCollection.ValidateType(Object value)
   at Microsoft.Data.SqlClient.SqlParameterCollection.AddRange

[2021-06-13 13:57] preardon commented on #1583
I've found something that fixes this, but Its on the Brighter side,

If we change the Reference in MsSqlOutbox to Microsoft.Data.SqlClient from System.Data.SqlClient, Then it Magically starts working, I'm not Overly sure Why this works, or how it would work if we were to pass a Null Value into the Parameters.

@iancooper Given that Microsoft have been looking at replacing System.Data.SqlClient wit

[2021-06-13 21:55] holytshirt commented on #1583
I would use ` Microsoft.Data.SqlClient`. ` System.Data.SqlClient` is only for legacy support.

[2021-06-13 22:01] preardon commented on #1583
@holytshirt that was my understanding as well.

I have played with this a bit this afternoon and it looks to work fine so far, didn't quite get to the ci tests in the pipeline due to the artifacts post failure.

I've been spending some time in one around outbox today, will have some questions/suggestions but can obviously wait until v9.x

[2021-06-13 22:45] iancooper commented on #1583
Can't see why we shouldn't switch over. Likely anyone using the lib has moved their dependency too, or will need to anyway.

[2021-06-13 22:46] iancooper commented on #1583
Worth noting that this probably applies to Inbox and transport too, and we should upgrade all of them

[2021-06-14 06:43] preardon commented on #1583
Already have upgraded inbox, I'll get transport done and in the PR in the next 39 mins

[2021-06-14 08:00] iancooper commented on #1583
That's very precise...

[2021-06-14 08:02] #1583 closed

[2021-06-14 10:25] preardon commented on #1583
@iancooper I am now seeing this in a few more place, I think I'm going to have to go through it and Change all DbParameters & Connections to SqlParameters and SqlConnections.

I can get this done this afternoon

Still perplexes me as to why this as all of a sudden become an issue

[2021-06-14 14:54] iancooper commented on #1582
So the Outbox Sweeper is intended to run on a dedicated background thread. Making it async would probably make it slower, because there would be nothing else to schedule against it. Still, I don't mind you doing an async version, I'm just not sure of the value. We could make it static rather than an instance.

[2021-06-14 17:19] preardon commented on #1574
I believe We've found an Issues with This Query Still Does not appear to work for me there where statement is problematic as it will work if nothing is dispatched, but otherwise the row numbers are out. PR incomming

[2021-06-15 06:48] iancooper opened #1596 "Apply /// comments to public methods on Kafka client"
### Describe the bug
Our standard is that a public method on a public class should be documented using the /// standard. This helps provide effective documentation both through Intellisense in an IDE and through code navigation. We expect that all public methods on public classes should be documented this way.

We don't document internals or privates this way as they are not part of our contract a

[2021-06-15 09:42] honkuan86 opened #1597 "AwsSqs - Option to read Sqs message with Sns metadata"
**Is your feature request related to a problem? Please describe.**
For the ServiceActivator and a Sqs message consumer to read and dispatch message correctly, we need to enable Raw Message Delivery in Sns subscription. This request is to add an option like "**RawMessageDeliveryDisabled**", so that the SqsMessageCreator knows it needs to strip off the Sns metadata when reading a message body.

**De

[2021-06-16 09:31] honkuan86 commented on #1597
@holytshirt , @iancooper , I can pick this up if this makes sense.

[2021-06-16 09:52] iancooper commented on #1597
@honkuan86 Feel free to have a stab at this. Generally, I would agree, add an option, probably just call it RawMessageDelivery and default it to true over the double negative.

You then need to look at both how to obtain our message header data from the message body now, as well as find the body. I would suggest we would like to see some sort of strategy around this i.e. a SQSMessageCreatorFactory

[2021-06-19 10:09] preardon opened #1599 "Update Outbox Implementation to Allow do be Injected via DI"
In some Circumstances I would like my MsSql Outbox to share the DB Connection to my code so that I can wrap db updates and Outbox Transactions in a Single DbDatabase transaction

It appears that I could make this changes Specifically in the Command Processor Builder, Also this appears to only affect Task Queues

I also want to have a little bit of a look at how the MsSql Handles its connections as

[2021-06-19 17:51] preardon commented on #1573
@iancooper @holytshirt Do we have the ability to include our current MsSql outbox implementation in a Transactions started from Application code. I can't currently see how this would work, I've been going around with how to do this at the Minute, I've made some small changes around the the Service Collection Extensions, and Command Processor Builder which allows a Nice easy injection of and use of

[2021-06-21 09:54] preardon opened #1602 "When ASB Transport is Unable to Acknowledge the Lock (Due to Expiry) the Message Pump has an Unhandled error"
When using an ASB Transport if it takes longer than the Lock time on the Subscription to Complete the Handle the Command then an uncaught Microsoft.Azure.ServiceBus.MessageLockLostException is Thrown

@iancooper Is this the Behaviour you would like, or would it be better to just Log the Error and continue

[2021-06-22 08:44] iancooper commented on #1597
@honkuan86 Did you make any progress with this? Do you need more help? We could set up a Zoom call if that would help.

[2021-06-22 13:20] honkuan86 commented on #1597
@iancooper , I haven't got chance to get on the code yet, planning to work on this in this weekend.

[2021-06-25 08:51] preardon opened #1610 "Outbox Sweeper throws NullReferenceException When no outstanding Messags"
When the Outbox Sweeper is called and there are no outstanding Messages, a Null Reference Exception is thrown

![image](https://user-images.githubusercontent.com/7712876/123397844-cb742b00-d59a-11eb-88cc-8d701bd70fcd.png)

[2021-06-25 10:40] preardon commented on #1610
Looks like this is Happening on the background thread when trying to Update the Outstanding Instruction Count

[2021-06-25 10:56] preardon commented on #1610
Ok,  I've had a little bit of a look into this, I believe the following is Happening

we are running Sweeper connected to a Command Processor with a Lifetime of Scoped, the OutstandingMessagesCheck runs on a background Task and as such it is entirely Plausible that this command processor is in the middle of Disposal when we are trying to update the remaining message check and the Null Reference Ex

[2021-06-28 12:32] preardon commented on #1573
@nesbo There is a Solution for this in PR #1601
src/Paramore.Brighter.Inbox.MsSql/ConnectionFactories/MsSqlInboxManagedIdentityConnectionFactory.cs

[2021-06-28 15:13] holytshirt commented on #1573
@sdcondon this will be of interest to you

[2021-06-29 08:34] iancooper commented on #1602
Where does the exception get thrown? I think I'd need to understand more. Some options I can think of:

* Transport: Can we extend the lease if we are not finished? Raise a channel failure exception if no.
* Handler: Should be treated as an application exception anyway, but we will try to Ack the message in that case, so Ack would need to be aware that if lease has expired do nothing, so would nee

[2021-06-29 08:41] iancooper commented on #1602
@preardon OK, seen the PR. We might want to understand the trade-offs on catching all exceptions as opposed to this one which we know is fine

[2021-06-29 08:42] preardon commented on #1602
The very last thing the Message pump does in its loop is Acknowledge the Message (this is not in a try catch block).

we have already lost the lock by this time, I was considering a Channel Failure exception

it is the act of ACKing the message that gives us this error (ACK after least expiry) we are logging the error in the Catch

[2021-06-29 08:49] preardon commented on #1602
@iancooper I've updated this to catch and not throw on this exact exception.  However one thing that is on my mind around here is that if there is another error this will kill this performer, do we want to wrap the Acknowledge in the Pump so that we can apply logic here (Channel Failure) and not kill the Performer?

[2021-06-29 08:50] #1610 closed

[2021-06-29 08:54] #1599 closed

[2021-06-29 08:56] preardon commented on #1573
This is now in master, please note if you want to use this you need to have your Command Processor as a Scoped service (have a look at my ASB Sample web app), this is a basic working example

[2021-06-29 11:53] #1602 closed

[2021-06-29 11:54] iancooper commented on #1573
All going to close this issue, please raise new ones for further outstanding items

[2021-06-29 11:54] #1573 closed

[2021-06-29 11:56] iancooper commented on #1602
it's a tricky one as the trade-off here is 'fail fast and surface it' over log and keep working. For now, I'm inclined to only "log and keep working" for exceptions we predict that we know we can ignore

[2021-06-30 08:02] preardon opened #1619 "Command Processor Keeps track of Outstanding Message count (In Outbox) when it is a Scoped Service"
When Clear Messages is called on the Command Processor, it runs a CheckOutstandingMessages in a background task as this is expensive, however when we are running the Command Processor as a Scoped Service it is updating a variable that is about to be disposed.

Another thing to note here, is that at the beginning of ClearOutbox it runs a CheckOutboxOutstandingLimit, the first time this is run in a

[2021-06-30 08:44] iancooper commented on #1619
It's an interesting one as scoped command processors can be a little bit of a pain around some assumptions we have. We also use background processes for publisher confirms from RMQ or producer callbacks from Kafka, because they will occur asynchronously, and if we don't have a command processor around any more, there is no way to update the dispatched list.

The Command Processor really works best

[2021-06-30 08:45] iancooper commented on #1619
I need to carve out some time to think about this more deeply

[2021-06-30 09:04] iancooper commented on #1619
I don't think Brighter plays well with scoping to request-response because it may need to react beyond that i.e. to publisher confirms or callabacks. An Outbox does not really work, unless it is a singleton. Our memento pattern for a pipeline is explicitly a singleton. So we really ought to say: you should register Brighter as a singleton and any scoped dependency should be created by one of our f

[2021-06-30 09:06] iancooper commented on #1619
I also suspect that we would benefit from a clear rule when reasoning about Brighter: it's most likely been instantiated as a singleton and so must be thread safe.

[2021-06-30 09:08] iancooper commented on #1619
BTW this was not always as true, but the move to support Outbox and callbacks has made it very true.

[2021-07-07 12:28] preardon opened #1629 "Update ASB Transport to use The Azure.Messaging.ServiceBus"
Microsoft now recommend using Azure.Messaging.ServiceBus Instead of Azure.ServeiceBus

I can take this one, more to keep track

[2021-07-16 11:02] DevJonny opened #1634 "CommandProcessor doesn't support Request/Reply and async handlers in the same configuration"
### Describe the bug
The [CommandProcessor.cs](https://github.com/BrighterCommand/Brighter/blob/a3ea14247e00b1b7c52d37e298f5be580a006504/src/Paramore.Brighter/CommandProcessorBuilder.cs#L254) constructor for Request/Reply doesn't allow for adding an `IAmAHandlerFactoryAsync.cs` instance.

Using either the `CommandProcessor` or the `CommandProcessorBuilder` you are unable to set the `IAmAHandlerFac

[2021-07-24 14:40] preardon commented on #299
@jablamas will Destructurama work now that we have the ability for Structured Logging?

[2021-08-12 04:33] honkuan86 opened #1668 "AWSSQS - Message is Acknowledged and deleted after Requeue"
### Describe the bug
There is an issue with the MessagePump that will Acknowledge messages after requeue. While it may work for other MessageGateway, but for AwsSqs it behave unexpectedly, because in AwsSqs, Acknowledge a message means deleting off from the queue. So the requeued message will be deleted before reach to DLQ.

Noticed the behavior changed after this commit #1544

A indication or a f

[2021-08-19 07:15] honkuan86 commented on #1668
Hi @iancooper , @preardon , is this behavior expected? What I'm trying to achieve is that, when a handler throws a DerferMessageAction, I'm expecting the message to be pushed back to the queue until the max receive is reached then Sqs will move that message to DLQ. But it is not working as expected currently. Am I understand it wrongly ?

[2021-08-19 07:17] preardon commented on #1668
@honkuan86 the expected behaviour is that it ACK's the message and puts in back on the back of the queue until the max retry count has been reached, then it will put it on the DLQ

[2021-08-19 09:49] iancooper commented on #1668
Yeah, that could be an issue, as @preardon  suggests we would expect if you ask for a requeue we would push back onto the queue, not delete. So the place to look will be at how we have implemented requeue, where we might have just called ack, because we do that in some other transports

[2021-08-19 09:53] iancooper commented on #1634
@DevJonny Yeah, it's not by design. Things are a little better on this in 9, but it still needs work to be right. We have clarified some names, and intent there around what constructor you should use, but adding request-response on top is still not right.

Have a look if you can.

[2021-08-19 09:55] iancooper commented on #1619
There are a range of PRs dealing with making us behave nice with an EF Scope

[2021-08-19 09:55] iancooper commented on #1574
@preardon Is this still outstanding?

[2021-08-19 09:57] iancooper commented on #1560
@penderi Lots of movement around scopes, how does this fit in now?

[2021-08-19 09:58] iancooper commented on #1208
I'll pick this up after Kafka Delay Queues and Redis

[2021-08-19 10:01] preardon commented on #1619
@iancooper I think this Issue will go away with the work you've done around splitting the Command processor as its not the Transaction shared Connection Provider wont be the one used for the Singleton outbox.

One thing I would like to talk about next time we're on a call is how we feel about this, as the way I've got it running locally is that I use a SQLAuth Connection Provider and a EF Connecti

[2021-08-19 10:03] preardon commented on #1574
@iancooper from what I remember this is fixed and merged in, but I don't think its been published on nuGet as yet

[2021-08-19 10:06] preardon commented on #1629
I will look into this as soon as we have the command process refactored, this may be an interesting one as it aligns the connection with the rest of the Microsoft Suite being that if you want to use Token Based Authentication, previously you could add a flag to the connection string, but now you need to pass in your TokenProvider (Same as SQL ect.) so I may have to change the config or have someth

[2021-08-19 15:27] iancooper commented on #1619
@preardon OK, let's discuss that next time before we try to kill this one

[2021-08-19 15:28] iancooper commented on #1574
@preardon I'll close the issue for sanity

[2021-08-19 15:28] #1574 closed

[2021-08-20 19:02] DevJonny commented on #1634
Great, thanks for clarifying @iancooper I’ll definitely take a look and hopefully get a PR sorted.

[2021-08-25 14:33] #1619 closed

[2021-09-01 08:46] iancooper opened #1693 "Dockerhub Community Application"
Dockerhub has updated its licensing requirements. We do have an org on Dockerhub, which would allow us to push to dockerhub, although  I don't believe that we actively use it since we dropped AppVeyor. We will pull containers during our GA build though.

I have completed a Dockerhub community OSS application for Brighter, so that we don't hit any service issues.

[2021-09-06 16:31] holytshirt commented on #1693
Dockerhub monitors changes to our docker file for rabbitmq + delay plugin https://github.com/BrighterCommand/Brighter/blob/master/Docker/RabbitMQ/Dockerfile and will build a new one container. We then used that when we started up a rabbitmq container for tests https://github.com/BrighterCommand/Brighter/blob/master/docker-compose-rmq.yaml#L5

[2021-09-07 07:37] #1634 closed

[2021-09-07 08:34] DevJonny opened #1699 "CommandProcess.Call() breaking due to Subscription not being RmqSubscription"
### Describe the bug
When CommandProcessor.Call is invoked a generic `Subscription` is created and passed to the `ChannelFactory.CreateChannel()`. The [ChannelFactory](https://github.com/BrighterCommand/Brighter/blob/e605ef111cca1c15e6a053cc51bec3087fa2a63c/src/Paramore.Brighter.MessagingGateway.RMQ/ChannelFactory.cs#L53) enforces the type of the Subscription to match the type of messaging gateway

[2021-09-07 08:36] DevJonny commented on #318
While looking into this (I believe it's actually fixed based on our Production code) I found another issue which I've created a [ticket](https://github.com/BrighterCommand/Brighter/issues/1699) for.

[2021-09-07 08:59] iancooper commented on #318
Thanks @DevJonny, I expect you might be the first team member to use it in anger

[2021-09-07 09:43] DevJonny commented on #1699
@iancooper was `.Call()` designed only for RMQ or all Messaging Gateways. Just working through ways of fixing this and the check for the right type of subscription is trashing most of my ideas.

One I did have was having a separate method on the `IAmAChannelFactory` that would allow for a simpler set of values to be passed to create the temporary queues, but I'm not sure that will work for all Mes

[2021-09-07 13:37] DevJonny opened #1700 "Support for Feature Switch configuration via Service Collection Extensions"
Feature Switch configuration can only currently be done when building the CommandProcessor from scratch rather than using the `CommandProcessBuilder` or `ServiceCollectionExtensions`.

**Describe the solution you'd like**
The ability to use either `CommandProcessorBuilder` and/or `ServiceCollectionExtensions` to configure feature switches.

[2021-09-07 17:51] iancooper commented on #1699
@DevJonny It ought to work for things like SNS+SQS too, but I can't recall now how far I got beyond making RMQ work TBH We should not close out that option. The Channel Factory idea does have some merits

[2021-09-07 17:57] iancooper commented on #1693
@holytshirt Docker have accepted us and we are no longer subject to their pull rate limits.

[2021-09-07 17:57] #1693 closed

[2021-09-15 10:10] preardon commented on #1582
@iancooper Had some time this morning so I thought I'de get this one knocked off

[2021-09-15 10:59] preardon commented on #1582
It looks like we have some Unit Tests failing on master (for MsSql Outbox)

[2021-09-15 11:03] preardon commented on #1582
@iancooper Is it correct that if there is no message found in the outbox we want it to return a MT_None Messages instead of a null. I understand that in the Command Pump we want this, however its fed from a queue not an outbox?

[2021-09-15 11:54] preardon commented on #1582
I've found some Bugs, I will get a fix in for these

[2021-09-15 12:48] iancooper commented on #1582
I'll need to take a look. Let me stick my current work on a PR, as there is a little bit of change to OutboxSweeper

[2021-09-15 12:50] preardon commented on #1582
Not a problem I'll rebase onto yours

[2021-09-15 12:53] iancooper commented on #1582
See this: https://github.com/BrighterCommand/Brighter/pull/1708

I need to test the MySql stuff before it gets out of draft.

[2021-09-15 12:55] preardon commented on #1582
I'll can have a fix for the MySql Sweeper in 30 minutes if you haven't done it already

[2021-09-16 08:00] preardon commented on #1582
@iancooper I haven't rebased on your branch yet, would you like me to?

[2021-09-16 08:05] iancooper commented on #1582
May be easier for you to go first and me to rebase

[2021-09-16 08:06] iancooper commented on #1582
If you are done, we could just merge you in?

[2021-09-16 08:28] preardon commented on #1582
Looks like I have a small change to make to InMemory Outbox (its never defined as Aysnc however some of the test call sweepAsync), so I'll have a look at making InMemory an Async Outbox viewer (Even though there is really no point)

Or would you prefer that In Memory to fail if you try to Async?

[2021-09-16 08:41] iancooper commented on #1582
Nah, just use the TaskCompletionSource pattern to return a task on the async api implementation for the in memory message box.

[2021-09-16 08:41] iancooper commented on #1582
I'll wait for you to merge, and then merge your changes from master. I was about to test MySql in my example, so I'll just hit bugs you have fixed, and might as well wait for your changes first.

[2021-09-16 08:52] preardon commented on #1582
there is also a small change you can make to your code with mine now that the sweeper is static as well, so you don't have to instantiate an instance

[2021-09-16 09:01] iancooper commented on #1582
Cool, that may make that code easier. Let me know when we are merged.

[2021-09-16 09:47] preardon commented on #1582
There is one final test that appears to be hanging (on Async Sweep) but I have pushed lets see how the tests run in CI

[2021-09-16 09:54] iancooper commented on #1582
Cool. I won't get to this again until next week probably, so don't kill yourself.

[2021-09-16 10:01] preardon commented on #1582
@iancooper Should be good now, the aws CI doesn't work due to missing Creds apparently, issue was with Task Completion Source in Fake Command Processor

[2021-09-16 17:12] iancooper commented on #1582
Did a merge, going to close this issue

[2021-09-16 17:12] #1582 closed

[2021-09-22 14:34] #1700 closed

[2021-09-22 14:34] #1699 closed

[2021-09-25 13:35] preardon commented on #1442
There is one basic Integration Test now, also fixed some things that weren't being patches through

[2021-09-25 13:38] preardon commented on #1442
PR in now #1727

[2021-09-27 11:29] preardon commented on #1442
@iancooper This can now be closed

[2021-09-29 08:36] #1442 closed

[2021-10-05 00:57] honkuan86 commented on #1597
Closing this as the feature has been merged.

[2021-10-05 00:57] #1597 closed

[2021-10-05 08:00] iancooper commented on #318
@DevJonny Can I close this one?

[2021-10-05 08:04] DevJonny commented on #318
Yes @iancooper I meant to come and say exactly that!

[2021-10-05 09:14] iancooper commented on #318
Thanks @DevJonny

[2021-10-05 09:14] #318 closed

[2021-10-05 17:03] penderi commented on #1560
#1746

@iancooper apologies for the delay. But at least I have something. Although I'm reticent.

The best thing about this PR is it isolates the scope to what I think is the ideal esp for a worker - scope to an Event or Command received on by the Dispatcher. This is by creating the scope for each pipeline (in PipelineBuilder) - thereby covering all pre/post attributes and handlers.

I have *tried

[2021-10-05 17:45] iancooper commented on #1560
Thanks @penderi. I'll probably need a day or two to find time to review, and I have to look at a SNS/SQS issue first. Sorry. But if you can give me a few days I can look through and see where we are. Overall, we know that the ASP.NET Scope needs are painfully intrusive, but let's see what this does and if I can make any meaningful suggestions as to how we might limit the intrusion. In some cases j

[2021-10-08 19:17] iancooper opened #1748 "ASB Transport needs XML comments"
### Describe the bug
Our standard is to use XML comments on public methods as these provides documentation on a  help request. The ASB Transport needs this work

[2021-10-11 18:05] preardon opened #1753 "ASB Transport ACK on Read Flag"
When Setting the ACKOnRead Flag to True it uses Peek and Lock not Read and ACK

[2021-10-13 10:13] preardon opened #1755 "[Feature] ASB Transport - on Requeue don't post back to Topic"
Using the ServiceBusReceiver.DeferMessage it may be possible to just put the message back on the same queue (subscription)

[2021-10-13 10:19] #1753 closed, assigned to preardon

[2021-10-13 10:24] iancooper commented on #1560
@penderi We fixed the requeue issues, so this is next up

[2021-10-13 13:38] dsquadcgi opened #1756 "OperationInterruptedException, ObjectDisposedException and NullReferenceException when CommandProcessor is scoped"
### Describe the bug

#### TL;DR;

When CommandProcessor is registered as Scoped, several exceptions may be raised (all stacktraces are in the repo):
- OperationInterruptedException
- ObjectDisposedException
- NullReferenceException

When CommandProcessor is registered as Singleton (default), no exceptions are raised.

#### Details

In many of ours handlers, we inject gRPC clients that are registe

[2021-10-13 14:49] holytshirt commented on #301
Now call  Open Telemerty  https://opentelemetry.io/

[2021-10-14 11:55] preardon opened #1757 "When a TransactionConnectionProvider and Calling POST this will fail"
### Describe the bug
When Calling Post it then calls Deposit and then Clear

When a TransactionConnectionProvider is provider added Deposit defined it automatically uses an open transaction if there is one where as Clear does not, so when a Transaction is open we can Deposit Post but Cannot clear as it is not yet committed

@iancooper  I will look to fix this so that if we call Post / PostAysnc it

[2021-10-14 12:12] preardon opened #1758 "When calling ClearOutbox on a MsSql outbox, if it can't find the message it will still try to send"
When Calling Clear the Outbox, if MsSQL is configured and it cannot find the message it will return new Message() instead of null

[2021-10-16 10:10] preardon opened #1760 "Have the TimedOutboxSweeper Configurable"
Currently when registering the TimedOutboxSweeper there is no way to configure the time between ticks (Currently defaulted to 5 seconds) and the age of a message before sweeping (Currently defaulted to 5000ms)

I was considering adding IOptions so that we can have these configurable

[2021-10-16 10:12] preardon commented on #1748
@iancooper I am happy for this to be closed if you are

[2021-10-16 10:13] preardon commented on #1629
@iancooper I think this one can be closed as well

[2021-10-16 13:47] #1629 closed

[2021-10-16 13:48] #1748 closed

[2021-10-16 13:51] iancooper commented on #1758
I know in some places we use the pattern of returning an MT_EMPTY message over a null message i.e. null object pattern. Is this the intent here?

[2021-10-16 13:56] iancooper commented on #1756
Hi @dsquadcgi thanks very much for the bug report, and the comprehensive way that it was filled out. We had a number of issues supporting scoped in v8, which we are fixing in v9. v9 is currently in pre-release, but I believe we are on the last of those issues - serviceactivator supporting scoped mesages - and then we will have a solution around this.

The solution comes from the fact that certain

[2021-10-16 15:49] iancooper commented on #1758
@preardon yeah, I guess if you pass me a missing Guid there is no way to "handle" that error, and in principle something went badly wrong.

[2021-10-16 15:49] iancooper commented on #1757
@preardon thanks, closed

[2021-10-16 15:49] #1757 closed

[2021-10-16 15:58] iancooper commented on #1758
@preardon Agreed. And having been a C++ programmer from the COM error, I'm not a fan of forcing you to check a function cal for ok/err every time, if the non-exceptional case is success

[2021-10-17 11:10] #1760 closed

[2021-10-17 11:12] preardon commented on #1758
@iancooper this can now be closed

[2021-10-17 11:18] #1758 closed

[2021-10-17 21:17] pieperu opened #1763 "KafkaGateway - FindTopic() logic does not consider when Error is not null but has reason of "Success""
### Describe the bug
The FindTopic method does a search for any matching topics, then checks that the "Error" property on the matching topic is null. This is a problem because it is possible for the "Error" to not be null, and to have a "Reason" of "Success" (weirdly). This is a response that comes back from Confluent client:

Paramore.Brighter.MessagingGateway.Kafka.KafkaMessagingGateway.FindTopi

[2021-10-18 08:40] iancooper commented on #1763
@pieperu Thanks for this, and for filling out a detailed report. Let me take a look and offer advice a.s.a.p

[2021-10-18 08:44] iancooper commented on #1763
@pieperu I think from the docs, you should check for (matchingTopic.Error.Code == ErrorCode.NoError) as otherwise you will need to check IsError, IsFatal, IsLocalError etc.

Do you want to have a stab at a PR? We welcome them if you would like to, but I can pick up if you are unsure.

[2021-10-18 08:51] iancooper commented on #1763
@pieperu Thanks!!

[2021-10-18 11:26] preardon opened #1764 "Outbox Sweeper - Bulk Operations"
At them minute when calling Sweep on the outbox the code path is

- Get a list of the first 100 dispatched messages older than a certain age
- Past the IDs of those messages into the Clear Function which then does a ForEach loop of
- Get the Individual Message
- Send the Individual Message
- Mark the Individual Message (if post back is not supported)

This means Per Clear operation we are doing up

[2021-10-18 12:02] preardon commented on #1764
Agreed, lets put it on the 9.1 backlog

[2021-10-18 12:11] iancooper commented on #147
The problem with this is that DLQs tend to work with native delay queues to move to a DLQ after retrying, closed and moved to provider specific solutions

[2021-10-19 08:10] iancooper opened #1775 "[Feature] Support Transaction Logs as an alternative to Outbox for correctness with DynamoDb"
**Problem*
Transactions are expensive in a distributed data store like DynamoDb, so a transaction that spans the Outbox and an Entity table is expensive. This can be ameliorated somewhat by single-table design, but this is less approachable for some teams.

**Solution**
DynamoDb exposes a transaction log, either an ordered, 24 hour persistent log, or a Kinesis one that lasts for a week. This log c

[2021-10-19 09:16] iancooper opened #1776 "[Feature] DynamoDb Transaction Provider"
**Problem**
It is not possible to participate in a DynamoDb transaction when writing to the Outbox

**Solution**
We should utilize the new transaction provider pattern to make it possible to use a DynamoDb transaction to ensure that the Outbox writes occur in the same transaction as the entity writes.

**Describe alternatives you've considered**
- Use single table approaches to the Outbox. This is

[2021-10-19 09:23] iancooper opened #1777 "[Feature] Support a CosmosDb Outbox"
**Problem**
We don't support the Outbox pattern for CosmosDb. increasingly, Azure customers may be using CosmosDb for entities and we should support working with the Outbox and CosmosDb

**Describe the solution you'd like**
- Support for using it with a CosmosDb TransactionalBatch

**Describe alternatives you've considered**
- Consider support for using the CosmosDb Change Feed instead of a Transa

[2021-10-26 10:57] preardon opened #1797 "When using a Scoped Box Transaction provider with a Scoped Service Activator the Transaction Provider can not be resolved"
When Adding a Scoped Transaction Provider with a Scoped Service Activator the Scope is not used when trying to resolve the Scoped Box Transaction Connection Provider

[2021-11-04 16:39] #1596 closed

[2021-11-08 18:32] iancooper opened #1818 "[Feature] Support RMQ Streams"
**Is your feature request related to a problem? Please describe.**
RMQ now supports streams as well as notifications, behavior is similar to Kafka. To be comprehensive in our support of popular brokers, we should support the streams model within Brighter

https://blog.rabbitmq.com/posts/2021/07/rabbitmq-streams-overview/

**Describe the solution you'd like**
Model RMQ streams similarly to Kafka st

[2021-11-09 10:07] iancooper opened #1819 "Move .NET 5.0 dependencies to .NET 6.0"
**Is your feature request related to a problem? Please describe.**
We are on netstandard 2.1 and .net core 3.1 but we have some examples on 5.0 and over time we seem to have acquired .NET 5 dependencies, such as System.Text.JSON. .NET 5..0 is out of support in 6 months as it is not LTS.

We target LTS releases, so now we need to think about moving to .NET 6.0.

**Describe the solution you'd like**

[2021-11-09 10:29] samrumley88 opened #1820 "System.InvalidCastException thrown when using UsePostgreSqlOutbox ServiceCollection Extension"
### Description
When using the UsePostgreSqlOutbox ServiceCollection Extension a System.InvalidCastException is thrown because the _PostgreSqlOutboxSync_ class is being registered as the implementation for _IAmAnOutboxAsync<Message>_ as well as _IAmAnOutboxSync<Message>_.

The method name _BuildDynamoDbOutbox_ is also a bit misleading.

### To Reproduce
Implement the UsePostgreSqlOutbox extension

[2021-11-09 11:30] iancooper opened #1821 "Support Google Pub-Sub"
**Is your feature request related to a problem? Please describe.**
We want to be able to support .NET developers using the major messaging systems, including those native to cloud environments. We have AWS and Azure support, but we don't have support for Google Cloud.

**Describe the solution you'd like**
Implement a transport to support Google Pub-Sub. We prefer transports created by contributors

[2021-11-12 13:40] samrumley88 opened #1838 "PostgreSql outbox transaction support"
### **Problem**
It is not possible to include events that are written to the PostgreSql outbox table within the same transaction as the entity writes.

### **Solution**
Make use of the connection/transaction provider patterns, so that it is possible to ensure that events added to the PostgreSql outbox table occur within the same transaction as the entity writes.

[2021-11-14 12:42] preardon commented on #1797
Ok, I have done a bit of testing and it looks to work.

When Use Scoped is true it works and I can observer separate scopes.

When Use Scoped is false it doesn't fail how I expect (i.e. it appears to resolve a Dependency instead of throwing) however there are a few other issues that occur later, also I Observe Objects living longer than the the scope (As Expected)

I can confirm that the Outbox Pa

[2021-11-14 16:08] preardon commented on #1819
From what I can tell we Have taken on the following Microsoft Libraries

- Microsoft.Extensions.Configuration.Binder
- Microsoft.Extensions.Configuration.EnvironmentVariables
- Microsoft.Extensions.DependencyInjection
- Microsoft.Extensions.Hosting
- Microsoft.Data.Sqlite
- System.Text.Json
- Microsoft.EntityFrameworkCore.Sqlite.Core
- Microsoft.EntityFrameworkCore.SqlServer
- Microsoft.EntityFram

[2021-11-14 16:26] preardon opened #1840 "CI run always fails for a PR"
Due to a PR coming from a Fork, the token that is generated for it does not allow a Push to github Feeds.

I am going to add a condition so that PRs do not attempt to publish an artefact

[2021-11-16 11:42] #1820 closed

[2021-11-16 17:31] preardon opened #1855 "Creation of Paramore.Brighter.Abstractions"
I would like an Abstractions Package that can contain our More External Contracts (i.e. IRequest, Event, Command ect.) and only re publish this once per Major

At the minute every time I Updated my Shared Packages, my colleagues need to update their version of brighter to consume these.

[2021-11-17 14:22] #1840 closed

[2021-11-17 14:22] #1797 closed

[2021-11-19 06:38] honkuan86 opened #1857 "MySql Outbox - Some query syntax is not supported in MySql version 5.7"
### Describe the bug
The query syntax to query the number of outstanding messages that using ROW_NUMBER() is not supported in MySql version below 8.0

### Exceptions (if any)
MySqlConnector.MySqlException (0x80004005): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(ORDER BY Timestamp  ASC) As ROWNUMBER FROM me

[2021-11-22 13:58] holytshirt commented on #1857
@honkuan86  you should  have a chat with @samrumley88  as he submitted the patch for that.

I assume it needs to support versions 5.7 and 8.*

[2021-11-22 19:46] samrumley88 commented on #1857
@holytshirt the patch I submitted was for the Postgres Outbox https://github.com/BrighterCommand/Brighter/issues/1820#issue-1048439158.

@honkuan86 happy to have a discussion about this, given that we need both PostgreSql and MySql support :slightly_smiling_face:

[2021-11-23 10:02] holytshirt commented on #1857
@samrumley88  doh, sorry

[2021-11-23 11:32] preardon opened #1867 "Upgrade to Microsoft.Data.SqlClient 4.0.0 and Plumb in Encryption"
Upgrading to Microsoft.Data.SqlClient 4.0.0 causes a breaking change as Encryption is now set to true by default.

I will upgrade this and allow this flag to be configurable through Brighter

[2021-11-28 17:17] preardon commented on #1855
@iancooper @holytshirt what are your thoughts on this, I think if we're going to do this it will have to be either a v9 feature, or wait until v19.  Happy to discuss on Wednesday

[2021-11-28 18:53] iancooper commented on #1855
Maybe. I'm always cautious about breaking up the core packages, Brighter and ServiceActivator outside of the need for external dependencies. I might need to understand the reason why this update cascade happens

[2021-11-28 21:56] iancooper commented on #1855
PS Not saying don't, just saying I'd like to understand the reasoning as this problem is not one I am encountering.

[2021-11-28 22:53] preardon commented on #1855
Effectively, because our packages require the same or newer versions of each other, the issue is when I upgrade to v9.0.1.preview5 my Domain.Events package (which just contains my internal shared events which are published to internal nuget) then requires  this and when another team wants one of my updated events they then are forced to upgrade to the latest version of brighter so that they can co

[2021-11-28 23:26] iancooper commented on #1855
I am definitely in the ‘share schema not type’ school of thought - it’s one of the four tenets.

I’m a little resistant to breaking up the core package with an abstraction package.

Let me ponder, software is about trying to build a common model, so I need to ponder this need more.

[2021-11-28 23:39] preardon commented on #1855
I don't have strong feelings either way, a point I find interesting is that sharing the nuget for this is by and large useless without also sharing the Schema. I do however like the idea that if you were planning to obsolete it's a way of communicating it, and you could argue that it ensures that there are no Typos or issues with the schema, however I know these are not strong arguments.

This req

[2021-11-30 06:19] jeffward01 opened #1875 "[Not a bug] When to use `ICommand` vs `IRequest`? Docs say differently from the code examples?"
Hello all!

This library is excellent!!! Very clean, easy to use and powerful!

I am confused on when to use `ICommand` vs `IRequest`

The code and documentation says `IRequest` is a base class of `IEvent` and `ICommand`.  That is great.  I assume when you want to be more explicit and ensure your Command is only processed by command handlers and not Event Handlers you would use `ICommand`, and whe

[2021-11-30 08:06] preardon commented on #1875
Hi @jeffward01

IEvent and ICommand are the correct ones to use, when you are using an external bus it needs to map to one of these two types to dispatch the messages. I would recommend being explicit and selecting one or the other, I assume at the minute you are only dispatching internally (CommandProcessor.Send) as such if I had to guess most of what you are doing should be ICommand (I personall

[2021-12-01 08:21] iancooper commented on #1875
Command - expects only one handler - an instruction for work
Event - zero or more handlers - an observable fact
Request - base class, a message that I want to handle, could be a command or event

But @preardon is right

[2021-12-02 05:23] #1857 closed

[2021-12-08 07:19] jeffward01 commented on #1875
You  both read my mind! sorry for the slow reply.  @preardon @iancooper

Exactly, just testing internally, I am thinking for my architecture I plan to use Brigher / Darker for in-process and CAP for out-process.

**Question 1**
The main reason for this is that CAP has an [NATS ](https://nats.io/) integration.  I know this is the Brigher repo, but am I making a mistake by not leveraging Brighter fo

[2021-12-08 07:42] preardon commented on #1875
1: one of the best examples to follow for implementing a Messaging Transport for brighter is the RMQ one, there are only a few interfaces that need to be implemented and should be fairly straightforward

2: Firstly for out of proc messaging please use Deposit / DepositPost these use the outbox pattern, also if you want your outbox to participate in the same transaction as your database you will ha

[2021-12-08 08:57] iancooper commented on #1875
We have an issue, and I was planning on tackling in the 9.x timescale. If you feel up to it, you could have a stab. But if you are happy to help test it, I could probably pick up that issue over the weekend and create an alpha version of NATS for you. You might find it easier to PR fixes in than write from scratch. It was on my ToDo list anyway

[2021-12-08 08:59] iancooper commented on #1875
Yes, that it how it tends to be done.

[2021-12-08 09:00] iancooper commented on #1875
?3: There is the discussions tab on GitHub but the main thing is that this is somewhere where others can see and benefit from it

Indeed, we care about folks being able to find answers, and are happy to answer questions. We can move this issue into discussions, but let's work through the conversation first

[2021-12-08 10:32] jeffward01 commented on #1875
Thanks guys for being so helpful with all of this, its been super helpful and lightening fast reply times are something that I can aspire to haha.

### My replies:

**Question 1.)**  [<img src="https://img.shields.io/badge/Answered-Thank%20you-brightgreen">](<LINK>)

Big thanks on sharing the  #1208  issue link! I found the [code here for RMQ Messaging Transport](https://github.com/dotnetcore/CAP/

[2021-12-08 17:00] iancooper commented on #1875
Awesome. We like it when folks who are using something in anger step up to work on the relevant transport - reach out if you need help. I'll assign #1208 to you.

That seems a pretty solid evaluation

[2021-12-08 17:01] iancooper commented on #1208
@jeffward01  volunteered to look at this one

[2021-12-12 21:54] iancooper commented on #1855
Going to move to a discussion over an issue

[2021-12-12 21:55] #1855 closed, assigned to iancooper, holytshirt, preardon

[2021-12-12 21:55] iancooper commented on #1875
Going to move this to a discusion

[2021-12-12 22:05] iancooper opened #1890 "[Feature Request] Support multiple topics/keys in publications"
**Is your feature request related to a problem? Please describe.**
Raised by @honkuan86 and @pieperu on separate transports. Whilst out model under RMQ was to send to the topic identified in the header, because we always created the required infrastructure, the move to publications and support for creating the required infrastructure has created the issue that most publications only support one to

[2021-12-12 22:06] iancooper commented on #1890
@pieperu offered to look at this

[2021-12-12 22:07] iancooper commented on #1560
Closing this one as done

[2021-12-12 22:07] #1560 closed

[2021-12-12 22:08] iancooper commented on #301
Moved this to OpenTelemetry, which shows how long it has been open :-D

[2021-12-14 14:11] timvw74 opened #1896 "[Feature] Support for MQTT protocol"
Brighter doesn't currently support the MQTT protocol.

It would be useful to be able to produce and consume from MQTT.

MQTT pushes from the server, so we may need to do something similar to the RMQ support.

[2021-12-14 14:11] timvw74 commented on #1896
I have started working on a solution for this.

[2021-12-15 18:30] iancooper commented on #1890
@pieperu I'm going to take a first stab at this, as it may involve a breaking change, so best to get it into v9. I'll notify when the PR is up to discuss

[2021-12-15 18:31] iancooper commented on #1896
Thanks @timvw74

[2021-12-15 20:15] iancooper commented on #1890
My first thought on this was  a bust. I looked at Kafka and tried to create an collection of Confluent Kafka Producers within it. That gets nasty because our producer wraps their producers. i think instead the answer is to have the factory return multiple producers, and have the lookup in CommandProcessor to a dictionary via topic. That feels less inasive.

I'll raise a PR when I get a transport r

[2021-12-16 10:20] iancooper commented on #1890
OK, I now have an IAmAProducerRegistry, which feels right as it fixes other issues around sync and async producer dependencies. Will raise a PR (draft for now).

[2021-12-23 12:17] preardon opened #1918 "Outbox Issues - Connections failing"
The Following two bugs were found

1. When Calling CommandProcessor.PostAsync, it Passes through the Transaction Connection Provider (Only Deposit Post Should)
2. If you are to call Deposit Post,
   - with an EF Transaction Connection Provider Configured
   - and the call to the Deposit Post is the first call that is made from the EF Context
   - and the connect is using an Access Token for Authen

[2021-12-23 18:21] #1918 closed

[2022-01-04 09:47] #1890 closed

[2022-01-04 12:41] pieperu commented on #1890
@iancooper apologies I’m late to the party and happy new year! I’ve been away since around 10th December. Will check out the PR out of interest and hope I can contribute more in 2022.

[2022-01-04 14:30] iancooper commented on #1890
@pieperu Definitely have a look, would appreciate the feedback

[2022-01-11 09:18] iancooper opened #1937 "[Feature Request] Dapper Support for Outbox"
**Is your feature request related to a problem? Please describe.**
To use the Outbox effectively you need to ensure that any transaction that is used to write entities to the store, is also used to write the message to the Outbox. To do this, we need to provide the transaction to the Outbox code by implementing the relevant interfaces for the persistence library. We have an "out of the box" soluti

[2022-01-12 11:16] #1838 closed

[2022-01-17 13:01] iancooper opened #1944 "[Feature Request] Add Support for GetExists to Inbox Builder"
**Is your feature request related to a problem? Please describe.**
Our Outbox Builders support a GetExists method that can be used to check for the existence of the Outbox in the Db before deciding whether to create it.

**Describe the solution you'd like**
Add a GetExists method to the builder to let folks check if the table exists

**Describe alternatives you've considered**
If we don' folks wil

[2022-01-24 13:28] iancooper commented on #1944
When working through this, I note that we don't have the SQL for GetExists across all of the Outbox builders either. As it's useful to anyone writing code targeting development environments, then I believe we should add it in across the board, and I am increasing the scope of this issue to cover that.

[2022-02-02 09:57] iancooper opened #1966 "[Bug] Inbox DDL Sqlite seems to be failing"
### Describe the bug
When attempting to create a project with an Inbox using SQlite, the DDL statements to create the Outbox fail with

"Issue with creating Inbox table, SQLite Error 1: 'near "(": syntax error'."

### To Reproduce
WebAPi_EFC-Core example in the local_scopes branch for PR #1965.

Start up the SalutationAnalytics worker process, it will fail to create the Outbox

### Exceptions (if

[2022-02-02 21:43] iancooper commented on #1966
The error message was wrong, a cut & paste issue, and the failure was with the Inbox.

The Sqlite Inbox was failing because the syntax for the default value for the TimeStamp field was incorrect. You cannot use now() in Sqllite and need to use CURRENT_TIMESTAMP instead

[2022-02-09 19:22] #1944 closed

[2022-02-09 19:22] #1966 closed

[2022-02-10 08:44] iancooper opened #1979 "Failure to Build Pipeline Should Stop Pump"
### Describe the bug
If we have a misconfigured pipeline - missing services in the IOC container or mixed sync and async components the exception raises follows the "application error" path and does not stop the pump. This means that you consume messages, but will not process them.

### To Reproduce
Misconfigure a pipeline - easiest way is to use a non async filter on an async pipeline

### Expect

[2022-02-11 17:37] #1979 closed

[2022-02-14 10:37] iancooper opened #1982 "[Feature] Nullable Reference Types"
**Is your feature request related to a problem? Please describe.**
It is possible for reference types to be unexpectedly null i.e. null, when null was not known to be in the possible range of values for that type. So we should be explicit and denote those types that can be null e.g. string?

This solution is not available in netstandard2.0, which we use for the majority of our libraries

**Describ

[2022-02-14 19:55] iancooper opened #1987 "[FeatureRequest] Add An Inbox when using Fluent Configuration"
**Is your feature request related to a problem? Please describe.**
The BrighterHandlerBuilder does not support a UseInbox method, in the same way that it supports UseOutbox

**Describe the solution you'd like**
Add a UseInbox method that registers an Inbox with the ServiceCollection IoC container

**Describe alternatives you've considered**
We could just manually register, but its helpful to provi

[2022-02-14 19:58] iancooper commented on #1987
The PITA here is that it's going to be a breaking change, to mirror the split into Inbox interface and Sync and Async so that we can test for them. The good news is that I don't think it will break many

[2022-02-16 11:09] preardon opened #1991 "AzureServiceBusProducerRegistryFactory doesnt allow for setting the bulkSendBatchSize"
Looks like when we added the producer factor I forgot to merge the last piece in so that we can set the bulkSendBatchSize on the ASB Producer for Bulk sending

[2022-02-16 20:46] #1991 closed

[2022-02-19 12:08] #1764 closed

[2022-02-19 12:23] preardon commented on #1755
It seems that at the minute the Microsoft Libraries don't support this in a way that I deem feasible, I have raised https://github.com/Azure/azure-sdk-for-net/issues/27118 to see if we can rectify this

[2022-02-22 16:25] #1987 closed

[2022-03-25 12:36] omelianlevkovych commented on #1198
Hi @iancooper , is this issue still relevant?
If so I will be happy to work on this as my first contribution.

[2022-03-25 13:58] iancooper commented on #1198
@omelianlevkovych It still is I believe. The Docs repo under the org has recently been moved over to markdown. I am working on making it available via GitBook soon. But if you look in the markdown there, I believe there are some hanging references to Raven.

[2022-03-25 13:59] iancooper commented on #1198
@omelianlevkovych Ah, I have noted above that it might have been done by Paul.

If so, let us know what you can help with, we are always happy to welcome new folks.

[2022-03-25 15:25] iancooper commented on #1198
So the discussions forum is good. We also have some issues that are flagged with help_wanted. I'll set up a discussion, invite you and, and we can figure out the easiest way to help you onboard

[2022-03-25 15:38] iancooper commented on #1198
@omelianlevkovych

I posted a discussion here: https://github.com/BrighterCommand/Brighter/discussions/2045

Figuring out if we can close this issue would help too :-D

[2022-03-26 19:14] iancooper opened #2046 "Port .NET 5.0 Samples to .NET 6.0"
**Is your feature request related to a problem? Please describe.**
From the end of May, .NET 5.0 goes out of support, which forms a good trigger for us to move the samples to .NET 6.0.

https://devblogs.microsoft.com/dotnet/dotnet-5-end-of-support-update/

**Describe the solution you'd like**
The simplest solution here is to just target .NET 6.0 and rebuild. We don't want to bring over .NET 6.0 fe

[2022-03-28 08:36] elyes86 opened #2047 "Error not found Message in the Outbox"
Describe the bug
We use brighter in a multithreaded context (with a batch) with many calls. An exception is triggered in many posts (but not all) after a processing time.
We have a webapi with a worker :
- The webapi add a list of RmqPublication
- The worker  map the list of RmqSubscription

Exceptions (if any)
"@mt": "Error when executing service method '{ServiceMethod}'.",
"@l": "Error",
"@x": "

[2022-03-28 12:27] preardon commented on #2047
Good afternoon @elyes86

Which outbox are you using, and are you using a Box Transaction Connection Provider?

Also to place the message into nah outbox are you using Post or DepositPost?

For reference, Post call DepositPost followed by ClearOutbox under the hood. Also if you have a Box Transaction Connection Provider configured then calling DepositPost directly will attempt to participate in any

[2022-03-29 19:06] omelianlevkovych opened #2052 "[Bug] Inbox table is not getting populated when using EntityFrameworkCore-WebApi example"
### Describe the bug
The consumer Inbox table (Salutations database) is empty after handling the message broker message, even though the entity table (Salutations table) is getting populated.
I assume that _from the box_ behavior is when getting the new entity instance in my consumer database I should also have new Inbox row in the database. Please correct me if I am wrong here.

**It works** when

[2022-03-29 19:30] omelianlevkovych opened #2053 "WebAPI_EFCore example Readme update"
**Is your feature request related to a problem? Please describe.**
I have faced few obstacles when trying to make this example work locally.
Some of the problems are pretty silly.
But I am not that unique as I want to be; so I strongly belive that someone else will struggle as well.
Lets make newcomers life a bit easier together! :rocket:

Thanks @iancooper  for the help and also the initial idea

[2022-03-30 17:06] omelianlevkovych commented on #2053
https://github.com/BrighterCommand/Brighter/pull/2054

[2022-04-01 16:07] IlSocio opened #2055 "Clarify the documentation on the TRequest Handle(TRequest)"
**Is your feature request related to a problem? Please describe.**
It is not clear to me why the signature of the IHandleRequest interface returns TRequest.

**Describe the solution you'd like**
Can't it just return void?

**Describe alternatives you've considered**
I looked within the code comments and within the documentation, but wasn't able to find an answer to this very basic doubt.
But the f

[2022-04-01 17:56] IlSocio opened #2056 "Some projects can't be consumed from .net 4.7.2"
### Describe the bug
These projects below
Paramore.Brighter.MsSql.EntityFrameworkCore
Paramore.Brighter.ServiceActivator.Extensions.HealthCheck

Can't be consumed from .net472 because they don't target .netstandard2.0

### To Reproduce
For this specific case would be overkill to create a repo to reproduce the issue
I'm going to submit a Pull-Request to improve the compatibility

### Exceptions (if

[2022-04-01 21:08] omelianlevkovych commented on #2046
And what about that some new features which we get with .NET 6.0? For instance, the Startup class is completely the part of the Program class, nullable reference type annotation, etc?
wi
**Thing to consider here:**  We defenitely can just update the version and rebuild, however the default structure when you creating the project by template will be different. Does it mean that we will need to upda

[2022-04-01 21:20] iancooper commented on #2046
@omelianlevkovych The key issue is .NET 5 going out of support. As that is May, I was happy for us resolve that, and then look at what .NET 6 offers, and making updates.

- Yes we could look at usings, nullable reference types in any update
- I'd probably distinguish minimal APIs as a separate sample alongside
- I still wonder if separate program and startup still helps, even when not 'required' t

[2022-04-01 21:21] iancooper commented on #2046
But new samples in .NET 6 should feel free to use the new structure aggressively, if only because that will give us a comparison

[2022-04-02 19:47] #2056 closed

[2022-04-04 19:58] IlSocio commented on #1937
hello @iancooper
maybe I got it wrong, so please, feel free to correct me.

To my knowledge dapper is nothing more than a very nice set of extensions methods over the standard ado.net connection, so, I believe there isn't anything in particular to do to support Dapper.

This should be already present within the MsSql adapter.

[2022-04-04 20:28] preardon commented on #1937
@IlSocio isn't Dapper an ORM the same as Entity Framework core we have packages for EF for SQL server which allows the outbox to take part in the applications database transactions if you have a look at the MsSql.EntityFrameworkCore pacakge as a reference

[2022-04-04 23:17] IlSocio commented on #1937
Actually no, Dapper is a "lite-ORM", unlike EF, Dapper doesn't provide a unit-of-work / DbContext, but more important, it doesn't encapsulates the connection / transaction like the DbContext.

Dapper only provides some extensions methods over the existing ADO Net IDbConnection interface.
eg:
`public static int Execute(this IDbConnection cnn, string sql, object param = null, IDbTransaction transact

[2022-04-05 07:19] iancooper commented on #1937
I’m exploring it now.

It’s a placeholder. I’m writing a sample, because we want to make it easy for folks who use that approach. As part of that sample if I want to add anything, this gives me an issue to track that against for a separate PR.

Dapper is a set of extension methods to IDbConnection, so they key issue is sharing the same connection as Dapper is using with the Outbox.

[2022-04-12 07:50] preardon commented on #2052
Sorry its taken me so long to response, I'll see if I can look at this over the next few days, I've yet to play with inbox as yet

[2022-04-12 08:31] preardon opened #2074 "[Feature] Enhance ASB Subscription Maintenance"
At the minute, when create a subscription you can set the following

- Max Delivery Count
- Dead Lettering on Message Expiration
- Lock Duration
- Default Message Time to Live
- Sql Filter

however once the subscription is created, Brighter will never update these. It would be nice to be able to ask Brighter to check these on consumer spin up so that these definitions can be managed in code

[2022-04-14 08:12] preardon commented on #2047
@elyes86 does the above help?

[2022-04-14 08:47] elyes86 commented on #2047
@preardon  yes thxs

[2022-04-14 08:47] #2047 closed

[2022-04-18 04:31] honkuan86 opened #2077 "MySql Outbox - Issue with Connection Pooling"
### Describe the bug
When maxpoolsize property is set in MySql connection string, outbox sweeper will hit exception.
Tested with MySql Server 5.7.

### To Reproduce
Run any sample with MySql Outbox.

### Exceptions (if any)
MySqlConnector.MySqlException (0x80004005): Connect Timeout expired. All pooled connections are in use.
   at MySqlConnector.MySqlConnection.CreateSessionAsync(ConnectionPool p

[2022-04-19 09:51] preardon opened #2088 "[Feature] Outbox Archival / Management"
The outbox can tend to get quite big, some people decide to implement their own solutions, it would be a lot better if Brighter could manage these

- Ability to Archive to another Table / Store ( Configurable)
  - Initially Same outbox provider
  - Longer term ability to archive to a different store
- Ability to truncate old messages (Configurable)

[2022-04-20 08:06] iancooper commented on #2046
Folks,

I have pushed a release that moves the samples over to net6.0 as a "step 1". We should now build on net6.0 (sure there might be some wrinkles on build machines to fix). The point here was to get ahead of the May deadline for net5.0 support dropping out. I also set the samples to latest minor version of C#

What we don't have in this is:

1. Use of new language features - a whole slew from

[2022-04-29 12:30] IlSocio opened #2104 "Does Outbox supports multiple connections?"
Hello,
I'm trying to use the Outbox implementation of Brighter, but it is not clear to use the Outbox when we have multiple SQL connections.

eg.
[code]

In the IOC I'm registering the ConnectionProvider using
`.UseMsSqlTransactionConnectionProvider()`
Which will point to only 1 of the 2 possible Contexts.

Ideally, there exists this overload, which would allow me to explicitly provide the transac

[2022-05-05 11:41] holytshirt commented on #2104
@preardon would you have some ideas on how best to do this?

[2022-05-05 17:18] preardon commented on #2104
It's specifically marked as private as it isn't considered as something we should be parsing in / a concern of your application. However this approach doesn't allow multiple dB contexts.

Let me have a think about this requirement and get back to you

[2022-05-05 18:09] IlSocio commented on #2104
I write here a couple of options, which are all based on make public that private method (and part of the interface as well)
So we can explicitly provide the transaction at runtime, with the double benefit of supporting the use-case and make it clear that the outbox is operating within a very specific transaction (currently, this is a hidden dependency)

After the method will be public, we'll have

[2022-05-05 18:15] preardon commented on #2104
So the Problem with option two is you have then tied the command processor to adodb Transaction.

I was thinking of something more towards a Transaction provider that takes a "Name" or identifier where you can then you can specify a name/identifier if you want to pick one, this way it's generic enough that it will work for all connection types.

[2022-05-05 18:20] IlSocio commented on #2104
Actually, this is the signature:
`
Guid DepositPost<T>(T request, IAmABoxTransactionConnectionProvider connectionProvider) where T : class, IRequest;
`
so, any implementation of the IAmABoxTransactionConnectionProvider will work.
Of course, the provided implementation at runtime, must be consistent with the underling Database you're using (as it must be already right now)

[2022-05-05 18:29] preardon commented on #2104
If we inject the IAmABoxTransactionProvider this would work, however that is a Brighter internal and I feel it's better to set a Default and give the ability to Pass a name, this also means you don't have to rely on DI either

[2022-05-05 22:24] IlSocio commented on #2104
Imho, it would be better to have the option to choose between the two different approaches:
1) current one:, by letting brighter infer the transaction using the infrastructure code.
2) explicitly provide the transaction to use, by exposing the private overload.
I would definitely always use the 2) because there code is cleaner and there is no "magic binding" that happen under the hood and by looki

[2022-05-08 11:46] preardon commented on #2104
@IlSocio doing what you've stated above would close this to other providers as well as bring along additional dependencies, I will knock out a quick Draft PR of something that I think would be a little cleaner and submit it in an hour or so when I've got it working

[2022-05-24 08:34] iancooper commented on #2077
We are going to close the issue for MySQL with #2106 , but either I or @preardon should review other providers. The issue is that when we finish with a connection we need to understand who owns it. If we do, we can close it, if we don't we can't and should leave it to whoever opened it to close it down.

Broadly if you look at #2106 you will see this needs a try...finally block that checks for own

[2022-05-24 08:41] iancooper opened #2130 "[Feature] Support Cloud Events"
### Discussed in https://github.com/BrighterCommand/Brighter/discussions/2067

<div type='discussions-op-text'>

<sup>Originally posted by **IlSocio** April  7, 2022</sup>
Hello everyone...
I just noticed that Brighter is forcing these two fields to be Guid, while when we use directly the transports ASB or Rabbit, it doesn't exists this limitation.

Would you accept a PR to use the more generic "s

[2022-05-25 07:23] iancooper commented on #2088
Agreed, we originally assumed that folks would handle this themselves i.e. write their own routines to run a scheduled job to do cleanup. We might want to offer to install this for you. I guess some design decisions are:

- Treat this as DDL that we use to configure a scheduled process that does cleanup in your Db
- Have Brighter help do this clean up? Does this run as a separate process to your p

[2022-05-25 07:26] iancooper commented on #2052
@preardon @IlSocio Yeah, I spotted this bug as well when working with @omelianlevkovych. It looks as though the global inbox has broken, whereas the explicit inbox still works. That suggests a problem with the pipeline registration of global inbox.

Workaround is to use the attribute on the handler for now.

[2022-05-25 07:27] iancooper commented on #2052
@preardon @IlSocio I'll pick this one up.

[2022-05-28 17:57] devreepiet opened #2131 "Unable to cast object of type 'namespace.RequestHandlerAsync' to type 'Paramore.Brighter.IHandleRequests"
### Describe the bug
I was experimenting with the framework, until I came across a problem with RabbitMQ and an AsyncHandler.
When I send a Command from my API (No issues there), a Console app receives the Command via RabbitMQ. but when it is trying to handle the Request the application crashes. When I change the Handler from Async to a Sync handler it does however work.
I don't know if I am doing

[2022-05-29 07:00] DevJonny commented on #2131
Hi @devreepiet. From the error you've shared it looks like when the message was consumed from RMQ it was send down the synchronous path, instead of the asynchronous path. It's not immediately obvious what is wrong, but I suspect it's something in the setup of Brighter.

Are you able to share the whole solution with us?

[2022-05-29 11:59] devreepiet commented on #2131
Hello @DevJonny. I that case I am very sorry, I think everything that I used in my original project is in here.
https://github.com/devreepiet/BrighterTest

[2022-05-29 13:23] DevJonny commented on #2131
Not at all @devreepiet we're here to help, and I may be wrong and it's a bug! Thank you for sharing the code, I'll check it out and see what I can find 👍

[2022-06-01 18:10] devreepiet commented on #2131
Any news? It seems to me that this is either an important issue or that I actually have configured it wrong.

PS: no pressure, just making sure this is not landing on the forgotten pile.  

[2022-06-01 20:32] #2131 closed

[2022-06-02 12:06] DevJonny commented on #2131
@devreepiet sorry I hadn't gotten back to you sooner, I had been looking at but hadn't gotten very far. However I now realise why, I was looking at it from the a `.Send(..)` point of view rather than the `.Post(..)` side. Doh!

Glad you managed to resolve it yourself. If you want to raise a pull request that makes the XML comment arounds this more obvious the please do, if not I will try and grab

[2022-06-07 00:33] preardon commented on #2088
in my head I would do this similiarly to sweeping,

- Have the command Processor configurable (archive / delete) and a method that takes care of it (I'm thinking similar to Implicit Clear)
- Add a Hosted service the the hosting package so that this can be run in its own process

This keep everything in the Brighter Domain

[2022-06-17 19:22] iancooper opened #2154 "Support a DynamoDb Outbox, using DynamoDb Transactions"
**Describe the solution you'd like**
Add Transactional Outbox support for DynamoDb. Using Dynamo Transactions we want to write to the Outbox as well as to the entities being updated. We have a transaction provider abstraction for the Outbox, it needs implementing for DynamoDb

**Describe alternatives you've considered**
Use of transactions within DynamoDb is a form of 2PC. We would like to think b

[2022-06-20 13:02] #2154 closed

[2022-06-27 03:21] honkuan86 commented on #2077
Hi @iancooper, @holytshirt, @preardon , do you think we can release this fix by this week? because we are pending on this fix in one of our project and is releasing soon.

[2022-06-27 18:21] preardon commented on #2077
@honkuan86 I should be able to get my parts out for you, and assuming @iancooper agrees I'll do a release

[2022-06-28 16:15] holytshirt commented on #2077
If @iancooper is ready should be good to go

[2022-06-28 18:31] preardon commented on #2077
I'm planning on getting the remaining fixes in tomorrow

[2022-06-29 08:57] preardon commented on #2077
As Promised #2171

[2022-06-30 18:24] iancooper commented on #1937
Done. Please look at the samples. Feedback is welcome

[2022-06-30 18:24] #1937 closed

[2022-07-01 10:26] preardon commented on #2077
@honkuan86 9.1.3 should be out, just wait for NuGet Cache

[2022-07-01 16:53] iancooper opened #2174 "[Feature] Add tools to write message payload to S3 (other blob storage) where payload is large"
**Is your feature request related to a problem? Please describe.**
Payloads can exceed the size that messaging middleware can handle. SNS is limited to 256Kb for example. There are two usual workarounds

- Splitter: split the message into multiple parts and stitch it together at the receiver
- DFS: Store the body in a distributed file system/blob storage and retrieve it from there

**Describe the

[2022-07-04 07:25] Daafmans opened #2176 "Enable pipeline validation upon startup"
As someone with little experience with Brighter, setting up a pipeline correctly can be a little tricky. For example, it's easy to mistakenly mix sync and async handlers, subscriptions, policies, etc. When building a consumer, Brighter informs me of these issues when I start everything up and send a message to my broker for my application to consume.

Is it possible to implement something that for

[2022-07-06 10:59] iancooper commented on #2176
Thanks @Daafmans. I think it's a useful suggestion as  the more help we can give with configuration the better. @preardon @holytshirt thoughts?

[2022-07-06 11:01] iancooper commented on #2077
@preardon @honkuan86 Going to close this one

[2022-07-06 11:01] #2077 closed

[2022-07-14 08:52] iqbal-ideagen opened #2184 "[Bug] When using UseExternalBus extension on AWS SQS messaging gateway, it will throw "Missing SNS topic: <topic-name>" exception"
### Describe the bug
When trying to add a topic property in SnsPublication object to UseExternalBus extension and run the code, it will immediately throw the `Missing SNS topic: <topic-name>` exception.

### To Reproduce

1. Use the AWSTaskQueue sample project and go to GreetingsPumper project specifically.
2. Open the Program.cs and make necessary changes to profileName and region
![brighter](htt

[2022-07-14 17:57] iancooper commented on #2184
Fix is out in 9.1.4 or later.

[2022-07-14 17:57] #2184 closed

[2022-07-14 22:22] Driedas commented on #301
I am interested in this, have taken a look at the source code for an attempt to implement this but I am not sure that the extensibility points needed to do so are in place.
First, how should this actually behave (I think): `opentelemetry-dotnet` is based on `System.Diagnostics.Activity` so there is no need to take a dependency on that library. I believe that on the sending/publishing end, the curr

[2022-07-15 09:09] iancooper commented on #301
HI @Driedas,

 I think that my "guess" and it is that, would be that it ought to go into the context bag, and then be accessible from there, and that we would add an attribute to put middleware in the pipeline that began and stopped the activity (its the Russian doll model so you can wrap later steps). But beyond that, I've not investigated the problem that deeply.

But if we agree that this is a

[2022-07-15 09:10] iancooper commented on #301
But @Driedas we would certainly welcome working with you on this

[2022-07-15 09:13] iancooper commented on #301
@Driedas How about this?

- We discuss "how" to do this?
- We write up an ADR
- You can then raise a PR against that.

I'm trying to move us to use ADRs so that we don't have to trawl issues

@preardon @holytshirt

[2022-07-15 15:55] Driedas commented on #301
Hi @iancooper
sounds great to me!
Using the context bag looks like the easiest thing to implement on the receiving end. Are you thinking of exposing _all_ of the message headers or just the activity id? Expose the headers via the already existing bag or provide a new one (read only maybe) for headers only?

Happy to help with the implementation once the ADR is settled on...

[2022-07-19 08:48] preardon opened #2193 "[Feature] Outbox - Retry counter and send after time"
I would like to add the following functionality to the outbox

  - A Retry counter (for explicitly clearing) so that if there is an issues that stops the message from being cleared it can then be pushed to the back of the queue (I have had a time before where the top 100 messages in the outbox were problematic and it kept attempting to clear them to no avail)
  - A Not Before Option on the outbox

[2022-07-19 09:33] iancooper commented on #2193
So I suspect this really relates to an overall idea around "Outbox Data Policy"

There are a number of things you may want to configure:

- Retention policy -> What happens to messages as time passes. When do we delete sent messages or unsent messages
- Message priority -> Do we want to allow you messages to be ordered by priority for retries
- Circuit Breaker/Retry policy -> Do we invoke a circui

[2022-07-19 14:19] preardon opened #2194 "MsSql outbox Isn't operating in UTC Time"
MsSql outbox

https://github.com/BrighterCommand/Brighter/blob/454599d09f39acfafe6059c03a1f51c24c097a70/src/Paramore.Brighter.Outbox.MsSql/MsSqlOutbox.cs#L533

https://github.com/BrighterCommand/Brighter/blob/454599d09f39acfafe6059c03a1f51c24c097a70/src/Paramore.Brighter.Outbox.MsSql/MsSqlOutbox.cs#L502

[2022-07-29 14:48] Jonny-Freemarket commented on #1777
Any more thoughts on this @preardon? I know you've been busy with other things. Some thoughts after reading the [MS example of a Cosmos DB backed Transactional Outbox](https://docs.microsoft.com/en-us/azure/architecture/best-practices/transactional-outbox-cosmos).

**How much do we get involved in client code?**

Unlike EF Core we can't add something to the DI container that can be shared between

[2022-07-29 17:37] preardon commented on #1777
I will have to have a look a little deeper

Realistically to have brighter work the current way we need a way of getting existing transactions, which I suppose we need a way of identifying what partition/transaction the message belongs to. I'll see if I can get some time to look closer after I'm back from Zurich and then let's have a call

[2022-07-29 20:36] iancooper commented on #1777
Let me ponder again.

For Dapper I created a UnitOfWork that you need to use if you want a transaction. I wonder if we have to ask something similar.

[2022-07-29 20:44] preardon commented on #1777
I think a UnitOfWork will be involved the interesting bit for me is how the Transaction providing aware connection provider will know how to return the correct transaction for the message given transactions are now partition scoped not Operation scoped

[2022-07-29 20:47] DevJonny commented on #1777
I was thinking along the lines of that we create a the transactions rather than the client code. So the calling code actually has no interaction with the transaction, we just take the objects that need to be presided.

[2022-07-29 21:52] iancooper commented on #1777
A traditional unit of work, not the one in the MS article, tracks changes so you can commit them in a single transaction.

So really it has both the container context and the uow from that article. A repository is not required.

What it does is let you add in the single transaction.

The problem though is that won’t be easy to find i.e. how do we scan for non-dispatched.

I still suspect you take

[2022-07-30 06:13] DevJonny commented on #1777
That makes sense Ian. The dispatching from the Outbox in the article looks to be along those lines, use the Cosmos change log to dispatch events. Either using a background service or Azure function. We could write the background service like the timed sweeper.

[2022-07-30 11:57] Jonny-Freemarket commented on #1777
So doing some further reading of the Docs (can you tell I'm quite excited about this 😄) you can do a cross-partition query (it's actually just doing individual queries across each partition on your behalf) so we can use that to sweet for no-dispatched items. Due to it's nature, I would say that this probably best reserved for on-demand/explicit sweeping.

As you suspect, we can also use the Cosmos

[2022-08-03 14:42] wozzo opened #2210 "Using DI to create handlers does not work in v9+"
### Describe the bug
We had v8.1.1399 installed.
Just tried both 9.0.1 and 9.1.16, with the same results on each.
Whenever the `commandProcessor.Send(command);` method is called we get an exception with the message "No handler factory defined.".
I've checked and the subscriber registry does contain an appropriate mapping for the command to handler.
No code changes between the attempts, only the pa

[2022-08-03 15:08] wozzo commented on #2210
The `IAmAHandlerFactory` implementation needs to change to `IAmAHandlerFactorySync`.
The documentation that's up seems to be out of date.
I would also suggest an exception should be thrown on [this line](https://github.com/BrighterCommand/Brighter/blob/master/src/Paramore.Brighter/CommandProcessor.cs#L120) if neither of the `_handlerFactoryAsync` or `_handlerFactorySync` are set.

[2022-08-06 12:34] DevJonny commented on #2210
Thanks for raising this @wozzo, we're currently overhauling the documentation we will make sure that this is clear. I will however make a change so that if both factories are set we through an exception to set at least one of them is set.

[2022-08-06 12:41] wozzo commented on #2210
Great. Thanks.

[2022-08-20 09:25] preardon opened #2235 "Null body in outbox - MSSQL"
### Describe the bug
When trying to clear a message in the MSSQL outbox and it has a null body, an exception is thrown
When trying to insert a message with a null body, the MSSQL outbox allows you

[2022-08-20 09:40] preardon commented on #2235
[code]

![image](https://user-images.githubusercontent.com/7712876/185739522-65f10394-3a4c-4c60-b2bc-107acb6a44fb.png)

[2022-08-24 10:14] Arik-Shapiro opened #2241 "Is it possible to use Queue instead of Topic for certain messages in ASB?"
I want to be able to use Queues for Commands and Topics for events.
Is it possible to control whether the library uses a queue for a certain messages or a topic?

Thanks.

[2022-08-24 14:49] Jonny-Freemarket commented on #2241
@Arik-Shapiro would you mind moving this to [Discussions](https://github.com/BrighterCommand/Brighter/discussions) as that is a better forum to discuss this, and then we can raise an issue from it if necessary.

[2022-08-24 14:49] Jonny-Freemarket opened #2242 "Testing something"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Exceptions (if any)

### Further technical details
- Brighter version
- Include the output of `dotnet --info`
- The OS (Window, Linux, MacOs, etc)

[2022-08-24 14:49] #2242 closed

[2022-08-24 15:07] DevJonny commented on #2210
@wozzo this will be in the next release, are you happy for me to close it off?

[2022-08-24 15:09] #2241 closed

[2022-08-24 15:11] wozzo commented on #2210
@DevJonny ofcourse. Thanks for the swift response!

[2022-08-24 15:12] #2210 closed

[2022-08-31 08:23] preardon opened #2251 "[Feature] Support Bulk Deposit into the outbox"
I have a requirement to dispatch a batch of commands, i.e. for Pay Interest, all accounts are batched into chunks and then I sent thousands of PayInterestToAccountsCommand

**Describe the solution you'd like**
On the command processor I would like DepositPost to take an array of message and then persist them to the outbox in a single (or smaller number of) statements

**Describe alternatives you'v

[2022-08-31 08:28] preardon commented on #2251
@iancooper let me know if you're ok for me to go ahead with this,

Also would you like it to be DepositPost or would you like it to stick out i.e. BulkDepositPost, The return type would have to change to an array of persisted messages as well

[2022-08-31 08:52] iancooper commented on #2251
@preardon  Technically, if we change the interface in a breaking way, it would be a bump to v10. So I think that would mean we need a BulkDeposit in v9. We could choose to collapse them together in V10. I guess there might be some advantages in keeping them separate, bbulk ecause you are going to need to create bulk insert statements for a lot of storage tools, so it would then be possible to iden

[2022-08-31 08:53] iancooper commented on #2251
PS It is still a minor version change, to alter the API in a backward compatible way, not a patch, of course.

[2022-08-31 08:57] preardon commented on #2251
@iancooper not suggesting a breaking change, just an overload, happy to do it either way.

I was thinking that we may want a new Interface for IAmABulkOutboxAsync

[2022-09-06 10:24] Arik-Shapiro opened #2262 "[Feature] ASB - Add an option to use ServiceBus Queues"
### Discussed in https://github.com/BrighterCommand/Brighter/discussions/2243

I would like to able to use Brighter for service bus queues in case of commands.
There's an option of using a topic with one subscription for a command but this does not help if you already have multiple services with multiple queues setup.

As part of the subscriptions you can choose whether you want to use a Topic or

[2022-09-15 07:47] honkuan86 commented on #1555
hi @iancooper, may I know if you are still working on this ?

[2022-09-15 07:47] honkuan86 opened #2269 "Kafka Consumer Offset not committed, only committed after service restarts"
### Discussed in https://github.com/BrighterCommand/Brighter/discussions/2263

<div type='discussions-op-text'>

<sup>Originally posted by **honkuan86** September  9, 2022</sup>
Hi all,

We have noticed an issue when consuming message from Kafka using Brighter, where the offsets are not committed until a service restarts.

I'm using the settings bellow:
`new KafkaSubscription<UserSessionEvent>(

[2022-09-15 16:56] iancooper commented on #1555
I have paused it for other priorities but will return to it.

It’s fairly ease to support yourself by writing a middleware handler that on receipt of a DeferMessageAction posts to another topic (name in the attribute parameters) which you poll at a greater interval. That’s all anyone can do for Kafka.

[2022-09-19 08:53] honkuan86 commented on #2269
Hi @iancooper , may I know if you know about this behavior ? Or did I doing the configuration wrong ?

[2022-09-19 10:56] iancooper commented on #2269
Hi @honkuan86. That is a little disturbing.
:
The offsets should be committed when:

- You hit the batch size
- An timeout triggers a "no offsets committed, let's commit what we have"
- Partition changes
- Shutdown

So, a failure to commit them prior to that is worrying.

You could try lowering the batch size, to see what happens i.e. lower it to about 5. (Lowering to 1 maybe counter productive).

[2022-09-19 11:03] iancooper commented on #2269
BTW, @honkuan86  if you are running under EKS I would always tend to set NoOfPerformers to 1 and increase the number of pods that I ran, with multiple pods in the consumer group if you had multiple partitions. It is far easier to manage a pod than a thread - scale out over scale up - our scale out option is mostly for VMs over running in a container.

[2022-09-19 11:08] iancooper commented on #2269
Two other thing @honkuan86:
- We made an update in 9.1.2 to the way that we initialize logging. Can you make sure that you are on 9.1.2 and turn your logs to Debug, that should mean we know for sure what is happening
- Use KafkaCat to check your offsets. Just in case the output is fooling us.

[2022-09-20 09:21] honkuan86 commented on #2269
@iancooper , some updates from me after a round of testing. This behavior seems to be only happen when there is a huge number of messages involved, we are currently running a load test that sends few hundred thousands of messages to a Topic in Kafka, and we want to test the consumers.

So I've tried the settings below:
`new KafkaSubscription<UserSessionEvent>(
                    new SubscriptionN

[2022-09-20 11:04] iancooper commented on #2269
Hi @honkuan86 -

Right. So it may be worth making sure you have reviewed this: https://brightercommand.gitbook.io/paramore-brighter-documentation/brighter-configuration/kafkaconfiguration#offset-management

It is possible at high volume that because we only run one commit thread at a time, you will fall behind on exceptionally high throughput streams. For those, you need to increase the batch size

[2022-09-21 22:38] iancooper commented on #2269
@honkuan86 Any more clarity

[2022-09-22 08:46] iancooper commented on #2269
@honkuan86 When we scale a stream we do via partitioning, not competing consumers. Each partition has a single thread reading it, usually a single process. Kafka polls, so you get backpressure, the rate you read from your partition should be a rate your thread can handle.

Crude calculation: if you have 500 req/sec, and if it took you 250ms to process a request or 4 requests a second, you would ne

[2022-09-22 08:49] iancooper commented on #2269
PS

If you have 500 req/sec, and you had 7 consumers (as above) and we assume 7 partitions therefore, you would need to process each request in 14ms to keep pace with your arrival rate.

Just so you can see the issue

[2022-09-27 09:27] phuaxinyuin commented on #2269
Hi @iancooper

We are facing the same issue, here is our setting (using Brighter v9.1.19)
[code]
![image](https://user-images.githubusercontent.com/105415973/192487830-7943e51b-c3ca-4709-94a4-f53f61a83df0.png)

We have a total of 160 messages in a topic and commitBatchSize set to 5. Although we have processed all the messages, the consumer group still shows 4 messages behind Kafka UI.

May I know

[2022-09-28 11:06] iancooper commented on #2269
@honkuan86 Let me know if the partitions change helped you.

@phuaxinyuin If you have an amount of records below the batch size left, then you will find the 'at the the batch size' trigger for committing offsets won't run. However, any records on the topic can be stopped from sitting there by setting your SweepUncommittedOffsetsIntervalMs value on the subscription. That will run if no batch commit

[2022-09-29 08:11] iancooper commented on #2269
So I have been running the Brighter Kafka sample, which spits messages out continuously.

- The offsets seem to be committed.
- The messages "behind" figure will rise up to the batch size, but this would be expected as we don't commit until the batch interval, and it then falls down again after the offsets commit

So far, running on a single partition, and a new message arrives every 2s. I'll look

[2022-09-29 08:14] iancooper commented on #2269
OK. I do note, if I shut down the generator with a partial batch, it remains uncommitted prior to exit. I'll see what the defaults for the sweeper are as well.

[2022-09-29 10:08] iancooper commented on #2269
@honkuan86 @phuaxinyuin OK, I think we have a repro and a fix incoming. It is a threading issue with the usage of a Monitor, that is being exited on a different thread to where it is being entered. We are switching to a SemaphoreSlim, which is what we use elsewhere for that.

Just testing and I will get a PR in, some eyes on it, and a release out asap

[2022-09-29 11:24] iancooper commented on #2269
Raised a PR #2294

[2022-09-29 13:23] iancooper commented on #2269
Hi @honkuan86 and @phuaxinyuin

9.1.20 has the fix for the bug that you reported. If one of you could test it and give me any feedback necessary, so we can think about closing this issue if it is fixed.

[2022-09-29 19:43] iancooper commented on #2262
@preardon Any thoughts?

[2022-09-29 19:45] iancooper commented on #2194
@preardon is this done?

[2022-09-29 19:56] preardon commented on #2194
@iancooper

@catalintoma fixed this for us

[2022-09-30 08:47] iancooper commented on #2194
Thanks @catalintoma will close

[2022-09-30 08:47] #2194 closed

[2022-10-04 08:33] iancooper commented on #2269
Hi @honkuan86 and @phuaxinyuin

I wondered if you had any feedback. Looking to close this issue if it is fixed.

Thanks,

Ian

[2022-10-05 09:47] honkuan86 commented on #2269
Hi @iancooper, I've updated Brighter to v9.1.20 to test. Below are the details:

Subscriptions:
`new KafkaSubscription<UserSessionEvent>(
                    new SubscriptionName("user.session.subscription"),
                    channelName: new ChannelName("user.session.channel"),
                    routingKey: new RoutingKey(messageBusConfig.SubscriptionTopics.UserSessionEvents),

[2022-10-05 10:13] iancooper commented on #2269
If you have 15 pods and 236 partitions, then you have about 16 partitions per pod. If you are struggling to keep up, that is because you can't process those 16 partitions fast enough with 16 performers.

Don't forget a performer is a single thread. So you would need 16 performers per pod to have a dedicated thread for each partition. If they share a consumer group they should get allocated differe

[2022-10-05 10:59] iancooper commented on #2269
The only other option would be for us to enable you to turn on auto-commit instead of using our batch approach. At your throughput it might be better. Your risk is that if you fail to process a record, then you will still have committed the offset, but it would push the commits back onto Kafka

[2022-10-05 12:26] iancooper commented on #2269
Another way of looking at this: 236 partitions and 16 threads would require processing each item in 40ms.

[2022-10-05 23:09] iancooper commented on #2269
PS @honkuan86 if you turn up your logs to Information you should see it flushing the buffer. You may need to pipe your logs somewhere to see that, probably scroll past at your rate. If you are not then it doesn't seem to be able to schedule the thread that flushes the offsets.

[2022-10-05 23:10] iancooper commented on #2269
I'll see if I can crank my test up fast enough, and with enough partitions to break it.

[2022-10-05 23:11] iancooper commented on #2269
An option might be to allow you to set auto-commit and trade off the possibility of not processing a message against throughput.

[2022-10-06 07:28] honkuan86 commented on #2269
Hi @iancooper, today I've run the tests again with Sync pipeline (isAsync = false), the result is that the consumer is able to keep up with offsets committed to Kafka. Same setup as pervious tests, however, I've only use one pod (one consumer) for the test.

If we turn off Async and the consumer able to keep up with only one pod, does that mean something is not right with Async pipeline ?

[2022-10-06 08:01] iancooper commented on #2269
@honkuan86 There may be an interaction with your load and either our synchronization context or our offset management that we need to look at.

However, we don't recommend the async pipeline in most service activator scenarios. Why? Because we have a single-threaded message pump that is designed to preserve ordering. If you use an async pipeline, you will de-order your stream because you will not

[2022-10-06 08:01] iancooper commented on #2269
@phuaxinyuin Did you get any feedback?

[2022-10-15 19:49] preardon commented on #2251
This has been delivered is 9.2.3

[2022-10-15 19:49] #2251 closed

[2022-10-15 19:55] preardon commented on #2088
I've been thinking about this, the way I see it there should be 2 actions:

- Archive
- Remove

Remove is of course the easy one, however I have a question around Archive, the very first thing I think of is archiving into the same store (i.e. there is a MsSql Outbox and a MsSql OutBox Archive), however what if instead we preferred to archive to Blob instead, this would of course mean that we would

[2022-10-16 10:47] preardon commented on #301
First release of this is in, I'm sure there will be some changes, however it is currently in a state that it will support Open Telemetry

@iancooper  Did you want to keep this one open

[2022-10-16 18:47] preardon commented on #2235
The fix has been released in 9.2.4

[2022-10-16 18:47] #2235 closed

[2022-11-04 14:12] Thijmen commented on #1776
@iancooper I believe this can be closed?

[2022-11-16 06:46] siewchinglim opened #2369 "Fail to produce Kafka message with additional header which in GUID value when using MySQL outbox"
### Describe the bug
When trying to produce a message with enabled MySQL outbox, it fails to create the additional header that with GUID value.

### To Reproduce
I'm using the sample code from Brighter (KafkaTaskQueue) to reproduce the issue.

1. Modify the following files to enable MySQL outbox and add two additional headers (with string and GUID values).
Program.cs in GreetingsSender:
![image](h

[2022-11-20 12:38] preardon opened #2370 "[Feature] Outbox maintenance - Dedicated methods for outstanding"
At the minute the way that external bus service keeps track of the remaining amount of messages in the outbox is

[code]

this will retrieve all of the outstanding messages from the outbox and then do a count, if there is a significant amount of outstanding messages this will be quite a costly operation.  I would like add the following methods to the outbox interface

  - Get number of outstanding

[2022-11-20 12:39] preardon commented on #2370
@iancooper thoughts?

I am adding some outbox management stuff to my Sweeper service and I feel these would be good for the outbox to support

[2022-11-20 15:38] iancooper commented on #2370
@preardon Sounds good. I am always in favor of features we add from the experience of operating at scale.

[2022-11-23 11:14] Thijmen opened #2376 "[Bug] IDispatcher cannot be resolved when connection to Kafka fails"
### Describe the bug
Sample project: https://github.com/Thijmen/Brighter/tree/idispatcher-exception-poc/samples/KafkaTaskQueue/KafkaOutbox

When using
[code]
And later connecting to Kafka (with an invalid hostname, for example), the Exception to the user is not very clear.

[code]

If you dont use the hosted service, you'll get a better exception:
[code]
### To Reproduce
Open Sample project: https

[2022-11-24 03:54] mishadowlsc commented on #2369
Hi @iancooper, may I know is this a known bug? Any workaround for me to insert additional header with GUID value when using external outbox?

[2022-11-24 09:37] Thijmen commented on #2376
I'm all for opening a PR, however I think this requires internal discussion on how to achieve this. Should Brighter even inject the dispatcher eventhough it's possibly not available?

[2022-11-24 10:17] iancooper commented on #2369
I'll have to investigate, thanks for the repro.

[2022-11-25 09:15] iancooper commented on #2269
Closing this one, as assuming it works from no further feedback @honkuan86 we will look separately at why the async pipeline struggles at load

[2022-11-25 09:15] #2269 closed

[2022-11-25 13:32] nesbo opened #2383 "Redundant handler and mapper registrations in consumer projects"
Hi guys!

I obviously have problem understanding the registrations of async handlers and mappers when I have IHostedService that has to build and run the Dispatcher.

So, I have regular service registration in my Worker console project, building IServiceCollection. Here I must .AddBrighter() and register async handlers and mappers explicitly (or use AutoFromAssemblies - which I'd like to avoid btw

[2022-11-28 22:16] dagtveit commented on #1208
hey there @iancooper and thx for last time and all the nice chats :) any idea when NATS will be available and if my cloud vendor starting to deliver NATS as a hosted service so would be nice to not have to self maintain the message servers

[2022-11-29 12:36] iancooper commented on #1208
Hi @dagtveit. It's on my list, after I get our support for large message payloads wrapped. Hopefully over the Xmas period?

[2022-11-29 12:50] dagtveit commented on #1208
nice to hear i havent used brighter as of yet though, but are looking into doing so, and want to be future proof, and its not a rush like over xmas, but if it will arrive sometime over the next quarters or something, our vendor havent released their pricing yet, so i am a bit unsure if it will use it(managed NAT) vs using my own managed(rabbit) on my k8s cluster.

________________________________

[2022-11-30 11:18] #301 closed

[2022-11-30 11:19] iancooper commented on #1896
@timvw74 Any progress on this?