[2014-09-19 14:39] iancooper opened #1 "Support for multiple Application Layer Protocols in Task Queues"
See the restms_support branch

[2014-09-19 14:40] iancooper opened #2 "No API Documentation"
In Progress on the restms_support branch

[2014-09-24 16:55] iancooper opened #3 "Support async versions of Send and Publish"

[2014-09-24 16:57] iancooper opened #4 "Support fluent configuration as well as attibutes"
The fluent configuration needs to work with SubscriberRegistry and register the first item in the chain. In order to support fluent and attributes we might to parse all handlers in the chain for attributes and insert into the chain where there are attributes even if using fluent.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47311

[2014-09-27 09:13] iancooper opened #5 "Automate the build"
We don't have an automated build process, just some batch scripts. Use FAKE by preference.
The hard part is building the NuGet packages, particularly the symbol files, which need to understand the files to include, as well as ensuring dependencies to internal projects are aligned.
We also need a deploy script to push to NuGet

[2014-09-27 09:18] iancooper opened #6 "Support management and Monitoring of ServiceActivator instances"
We want both command line and web based monitoring and control of service activator instances. We want to support a view of the message store(s) and sending messages to active instances via a control bus.

The web site should be self-hosted and allow multiple message stores to be viewed in one location.

The control bus ought to accept over-HTTP control inputs. It needs to publish it's statistics.

[2014-09-27 09:23] iancooper opened #7 "Should Brighter move into its own repository"
The concept behind Brighter being with Paramore was that Paramore was to provide a fuller example of building a hexagonal architecture service using Brighter. I still think that is a valid goal, but it may become questionable for them to live in the same repository over time.

[2014-10-03 13:45] iancooper opened #8 "Combine exceptionolicy and timeoutpolicy into a single policy assembly"

[2014-10-16 14:26] iancooper opened #10 "Support 0MQ"
As well as amqp and RestMS it would be worth supporting 0MQ to 'get the set'

[2014-10-16 14:27] iancooper opened #11 "Support Memoization in pipeline"
Memoization might optimize the pipeline for returning types determined at runtime

[2014-10-21 11:09] iancooper opened #12 "Implement a SQL based message store"

[2014-10-21 11:09] iancooper opened #13 "Support earlier versions of log4net"
Appear to be some issues

[2014-11-07 10:23] iancooper opened #17 "Support Kafka"

[2014-11-07 10:25] #13 closed, assigned to nobody

[2014-11-07 10:26] #7 closed, assigned to iancooper

[2014-11-07 10:27] #12 closed, assigned to nobody

[2014-11-09 19:37] iancooper opened #18 "Switch from common.logging to LibLog"
https://github.com/damianh/LibLog

[2014-11-10 12:55] iancooper opened #19 "Switch from Common.Logging to LibLog"

[2014-11-11 09:42] #18 closed, assigned to nobody

[2014-11-11 09:44] iancooper opened #20 "Support the Celery message format"
The advantage is that this leads towards interop between .NET producers and consumers with other Celery clients and consumers. So it becomes a way to easily platform decouple a solution

[2014-11-13 10:59] #20 closed, assigned to iancooper

[2014-11-13 11:02] iancooper opened #21 "Document a Brighter message format"
If we want to support multiple application layer protocols we need to separate header and body for the message. The header needs things like id, routing key, retries, delivery date, and content type (JSON, BSON, XML, YAML, pickle, protobuf etc.). The body contains the content in that content-type.

Once messages have an agreed format we can become independent of the application layer protocol used

[2014-11-13 11:04] iancooper opened #22 "Implement Go consumer"
Given we have defined the Brighter message format we can use work queues to become platform independent i.e. send from a producer written in one languages to a consumer in another language. This is the most useful initial set for Huddle.

In essence they need to replace ServiceActivator, but idiomatically for their own runtime

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty o

[2014-11-13 11:06] iancooper opened #23 "Implement F# Producer"
Similar to the consumers issue, but the idea here is to allow you to push messages supporting the Brighter message format on the queue and have them consumed by a consumer in a different format i.e. a golang http server pushes messages onto a queue that are handled by a .NET consumer.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/

[2014-12-15 11:17] iancooper opened #27 "Finish the Tasks example"
in essence we want to implement TODO MVC equivalent, with us as the server side: http://todomvc.com/

[2014-12-15 11:18] iancooper opened #28 "Support Azure Service Bus"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7024184-support-azure-service-bus?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github).
</bountyso

[2014-12-15 11:18] iancooper opened #29 "Support Amazon SQS"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7024187-support-amazon-sqs?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github).
</bountysource-pl

[2014-12-16 14:58] iancooper opened #30 "RabbitMQ gives Pipeline Errors when using more than one peformer"
The Taskmailer example will give pipeline errors when you use more than one performer

[2014-12-16 15:30] iancooper opened #31 "RestMS Message Broker ToDo List"
1: Replace the broker in the Tasks example with the RestMS broker
2: Implement persistent repository; needs to support distribution i.e.multiple broker nodes (Raven?) via AP over CP. This requires the async pipeline from commandprocessor
3: Add a user key api, to generate new user id and key (API not UI based for now)
4: Documentation - stress this is not production quality
5: Support HTTPS

[2014-12-19 14:32] #8 closed, assigned to iancooper

[2014-12-19 14:33] #1 closed, assigned to iancooper

[2014-12-29 11:55] holytshirt opened #33 "Declaring RabbitMQ exchange: making it persist-able or not, configurable."
channel.ExchangeDeclare(configuration.Exchange.Name, ExchangeType.Direct, true);

[2014-12-30 11:05] iancooper opened #34 "Consider moving RestMS server to its own repository"
Once we have the gateway working for this application layer, it may make sense to put it into it's own repository. It's not part of the Command Dispatcher/Task Queue project, it's a way to implement it. It also has it's own potential backlog to make a version with persistent queues,  HA etc.

The only real advantage of keeping it with the project is that it could be used as the server for the exam

[2014-12-30 14:41] #33 closed, assigned to nobody

[2015-01-23 13:49] MrHypnos commented on #10
I'm up for this one.

[2015-01-23 14:14] #5 closed

[2015-01-23 14:15] #2 closed

[2015-01-23 14:16] iancooper opened #35 "Improve and surface API documentation in project documentation"
We use Ghost to provide initial comments. We want to ensure these are up to date, and then publish to our project web site

[2015-01-23 14:17] iancooper commented on #35
I've been working my way through much of the public API but some parts still have little more than generic comments. This should become the primary means to provide documentation on how to use the product

[2015-01-23 14:21] iancooper commented on #6
Ian P is looking at displaying the messages from the message store.
Ian C is looking at the control bus (initially driving with Fiddler etc, but then with Python)

[2015-01-26 12:31] iancooper commented on #6
Rocksteady may have a similar concept: send messages via a control bus that a monitoring service picks up: https://code.google.com/p/rocksteady/

[2015-01-26 13:33] iancooper commented on #10
All yours :-)

[2015-01-27 13:32] penderi commented on #6
A few thoughts abpout this. Whilst looking at montiroing alternatives for Push he found [Bosun]( http://bosun.org/) - Open Source monitoring from the worthy chaps at SO.

## Bosun Archicture
![Bosun Architecture] (http://bosun.org/public/arch.png)

Another useful detail of Bosun is the format used - something exotic called [OpenTSDB](http://opentsdb.net/overview.html). :

## OpenTSDB Architecture

[2015-02-02 11:48] iancooper commented on #6
Netflix uses D3 to show Circuit Breaker trips for Hystrix: http://d3js.org/

[2015-02-02 12:37] iancooper commented on #6
Cloudwatch can be used to monitor custom metrics: http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/publishingMetrics.html

[2015-02-02 12:47] iancooper opened #37 "Support Fallback Options Better"
We use Policy to provide Circuit Breaker, but we don't provide a way to fall back to something other than the call, leaving that to the implementer. Hystrix advice is fail fast, fail silent, static, stubbed, cached via network. This involves raising a new command that is queued or serviced by cache in case those elements are also defective.

https://github.com/Netflix/Hystrix/wiki/How-To-Use

Shou

[2015-02-02 12:49] iancooper commented on #6
Servo: https://github.com/Netflix/servo/wiki

[2015-02-02 15:22] iancooper commented on #35
Add a link to Paolo Laurenti's example: https://github.com/PaoloLaurenti/BirthdayGreetingsKata/tree/ParamoreImpl

[2015-02-06 09:25] iancooper opened #39 "Consider using HTTPClient with injected HttpServer in RestMS tests, over dependency on a running server"
It may require a slight re-write to make it simple for the tests to inject the client, into the message producer and consumer. It may also require a slight modification to allow us to pull the server configuration into the HttpServer set up, out of the actual OWIN endpoint.

[2015-02-06 17:34] #19 closed

[2015-02-08 00:06] critchie opened #40 "HandlerFactory Release"
I took notice that my handler factory Release was not being called for my command handler.  Digging into the Brighter code I realized that the handler is not added to the LifetimeScope unless the handler implements IDisposable.  Since a handler that doesn't implement IDisposable is never added to the LifetimeScope, Release will not be called for the handler.  I suppose if I have no real cleanup to

[2015-02-08 18:47] iancooper commented on #40
Hmmm, I guess we ought to think about giving the choice to the consumer on what to do. I think this dates from an earlier version where it was less clear who could make that call. We should probably fix and call Release on all handlers when the pipeline is dismantled. Anyone else?

[2015-02-08 18:48] iancooper commented on #6
Windows has switched to ETW from performance counters: https://msdn.microsoft.com/en-us/library/windows/desktop/aa363668%28v=vs.85%29.aspx

[2015-02-09 11:54] iancooper commented on #40
Fixed

[2015-02-09 11:54] #40 closed

[2015-02-12 18:25] iancooper opened #41 "Add Feature Switch toggling as a Policy Attribute"
At an attribute of the form

[FeatureSwitch(""MyCoolNewFeature)]

That looks for a FeatureSwitch config setting, in a custom config section with an entry for the feature and a yes/no as to whether the feature is enabled or disabled.

Throw a FeatureNotEnabled exception on trying to access a non-enabled feature.

Default to throw i.e. we forgot to add the config setting

<bountysource-plugin>

---

[2015-02-17 12:56] iancooper opened #42 "Implement Python consumer"
Implement a Python equivalent to ServiceActivator, allowing us to send messages from components running one one platform to components running on another.

[2015-02-17 12:58] iancooper opened #43 "Implement Python Producer"
Similar to the consumers issue, but the idea here is to allow you to push messages supporting the Brighter message format on the queue and have them consumed by a consumer in a different format i.e. a python django server pushes messages onto a queue that are handled by a .NET consumer.

[2015-02-23 14:59] holytshirt opened #44 "Inserting the same Message into the Message Store causing duplicate exception"
The command processor post method has the writing to the message store and the writing to Message Gateway wrapped in a single Retry and Circuit breaker.

If the writing to the message store is successful and writing to the gateway fails and the the retry is triggered, the writing to the message store will fail on the retry.

Writing to the Message Store should be an idempotent operation.

[2015-02-23 16:59] #44 closed

[2015-02-24 00:19] iancooper opened #45 "Look at compiling against .NET Core on a branch, fix obvious issues where possible"
Get the core libraries building with dnx

Current blocker is System.Configuration, which will not be implemented in the coreclr.
A new configuration library is been built
- IConfiguration
  http://whereslou.com/2014/05/23/asp-net-vnext-moving-parts-iconfiguration/

[2015-02-24 10:08] iancooper opened #46 "Support direct commands over HTTP"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8861774-support-direct-commands-over-http?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github).
</

[2015-02-25 18:52] iancooper commented on #37
Our best approach to this may be as follows:

1. Add a method to IHandleRequests<TRequest> **TRequest Fallback(TRequest request)**.
2. Add a RequestHandler attribute **[SupportsFallback]**
3. Implement a SupportsFallbackHandler
	1. In the Handle method, wrap the call to next.Handle(...) in a try...catch
	2. On a BrokenCircuitException, call next.Fallback(...)

The idea here is to support an altern

[2015-02-26 11:36] iancooper commented on #37
https://github.com/Netflix/Hystrix/wiki/How-To-Use#Fallback

[2015-02-26 11:40] iancooper commented on #37
We could provide options on Supports Fallback:
1. [SupportsFallback(backstop=false circuitBreaker=true)] to determine if you catch just a circuitBreaker exception or any exception

Might help to configure the fallbackPolicy as a lambda inconstructor and then apply according to selection

[2015-02-27 18:31] iancooper commented on #37
Fixed

[2015-02-27 18:31] #37 closed

[2015-02-27 23:49] critchie opened #49 "Nuget Version Rollback?"
As late as 02/27 1:46 PM EST NuGet pulled down version 3.0.94 with all the LibLog goodness and other changes.  When I pulled from NuGet at 02/27 6:36 PM EST I'm back at 2.0.1.0 with Common logging, etc.

Dazed and confused...

[2015-02-28 00:10] holytshirt commented on #49
That it really odd, we have not rolled anything back. Just double checked and https://www.nuget.org/packages/Paramore.Brighter.CommandProcessor/ is at 3.0.94. That is very strange.
Just a quick question which packages did you pull down?

[2015-02-28 02:39] critchie commented on #49
Disregard and close.  Something on my end I guess.  The old version was in my packages folder.  Once it was deleted the right version appeared in the NuGet window.

[2015-02-28 02:39] #49 closed

[2015-02-28 04:32] critchie opened #50 "Possible RmqMessageProducer Dispose Problem"
I've created a microservice setup that uses TopShelf to host a OWIN self host service which starts a WebApp... pretty standard setup.  This microservice accepts a command, handles it, packages it up into an event which gets published to a RabbitMQ exchange.

My command processor setup seems trivial:

            RmqMessageProducer gateway = new RmqMessageProducer(logger);

                var comm

[2015-03-02 10:29] holytshirt commented on #50
@critchie I'm going to try replicate this today, hopefully something simple. The rabbitmq client has been a pain to deal with.

[2015-03-02 13:36] critchie commented on #50
I'll be glad to try any ideas you decide to try.

-Craig

[2015-03-02 16:35] holytshirt opened #51 "Connections should stop consuming if a unacceptable message threshold is reached"
By default unacceptable messages (e.g. messages that failed to be read from message infrastructure)
are acknowledged and drop.

A configuration setting is needed to override this behaviour and allow a threshold to be set.
When the threshold is reached, messages should stop being read by the Connection consumers.

[2015-03-06 14:22] critchie commented on #50
How often do you release to NuGet?

[2015-03-06 14:32] iancooper commented on #50
@critchie First, all of our Appveyor builds become NuGet packages, so you can download them. Just pick a build you want to use https://ci.appveyor.com/project/IanCooper/paramore/history and then click on the artefacts tab

Once you have the NuGet package locally, you can use them directly (see http://stackoverflow.com/questions/10240029/how-to-install-a-nuget-package-nupkg-file-locally)

It may be

[2015-03-06 16:05] critchie commented on #50
Perfect thanks.

[2015-03-06 16:52] #50 closed

[2015-03-06 17:22] critchie opened #52 "ConfigSection duplicated on NuGet Update"
Low Priority...

In the ServiceActivator app.config.install.xdt

    <section name="serviceActivatorConnections" type="paramore.brighter.serviceactivator.ServiceActivatorConfiguration.ServiceActivatorConfigurationSection, paramore.brighter.serviceactivator" allowLocation="true" allowDefinition="Everywhere" xdt:Transform="Insert"/>

should be InsertIfMissing maybe?  Every time I upgrade I get the s

[2015-03-09 15:37] kiquenet opened #53 "Working together"
I'm newbie about distributed systems.

IMHO, The ideal world is working together Paramore (https://github.com/iancooper/Paramore/) and Wolfpack (https://wolfpack.codeplex.com/) and another like:

Asimov Deploy https://github.com/asimov-deploy by Torkel Ödegaard (@torkelo).

https://periscope.codeplex.com/Wikipage?ProjectName=periscope

https://github.com/chucknorris/dropkick
https://github.com/mmo

[2015-03-17 17:15] iancooper commented on #53
Hi @kiquenet,

Thanks for the steer on wolfpack. We are looking at our management and monitoring proposition right now, so I'll add your suggestion into that issue and we can review. The summary would be that we think logging our monitoring information to a control bus then providing adapters to varied monitoring toolkits is the most friendly way of delivering this, as many people already have the

[2015-03-17 17:15] #53 closed

[2015-03-17 17:16] iancooper commented on #6
Suggestion came in to also consider working with wolfpack: https://wolfpack.codeplex.com/

[2015-03-25 17:52] #52 closed

[2015-03-25 17:53] #51 closed

[2015-03-25 17:58] holytshirt commented on #52
Fixed in release v3.0.129

[2015-03-25 17:59] holytshirt commented on #51
Release v3.0.129

[2015-03-26 14:46] iancooper opened #63 "Implement F# Consumer"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10044220-implement-f-consumer?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github).
</bountysource

[2015-03-26 14:47] iancooper opened #64 "Implement Go producer"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10044264-implement-go-producer?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github).
</bountysourc

[2015-03-26 14:51] iancooper commented on #46
Internally at Huddle we use Hacktivator to allow you to POST a command or event directly the port, using OpenRasta as an intermediary. We find it useful for testing, although we don't expose it in production for documented resources. Damian Hickey has something similar for Cedar as OWIN middleware: https://github.com/damianh/Cedar.HttpCommandHandling At Huddle we will need to replace the Hacktivat

[2015-03-26 14:52] iancooper commented on #34
Not really a priority and it's clouding the issue list. If it becomes a problem later, we can move.

[2015-03-26 14:52] #34 closed

[2015-03-26 14:54] iancooper commented on #27
A lot of work has been done on this, we are almost there. It just needs better documentation.

[2015-03-26 14:55] iancooper commented on #23
Note that someone is looking into the consumer already, so please liaise before picking this out of the list

[2015-03-26 14:56] iancooper commented on #22
Someone is looking at the producer already, so please liaise before picking out of the list

[2015-03-26 14:57] iancooper commented on #10
This still looks tricky with our model, parked for now

[2015-03-31 22:09] iancooper opened #66 "Look at using Helios as an application transport"
https://github.com/helios-io/helios

[2015-04-01 17:53] carlosagsmendes opened #67 "Can I use Brighter to run a pipeline of commands?"
Hi,

I've seen the [Not just layers! What can pipelines and events do for you? by Ian Cooper](http://www.ndcvideos.com/#/app/video/2441).

In the presentation Ian uses a [framework](https://github.com/iancooper/Styles/tree/master/DataFlow/Pipelines/Basic/BasicPipeline/Framework) to build a Pipes and Filters pipeline.

I was wondering if I can use Brighter to create pipelines of chained commands.

[2015-04-03 20:34] iancooper commented on #67
Great question, and the answer is yes.

First, an apology. I am actively working on the documentation, it's not quite there, but it is coming along.

The section you need is 'in progress' with only about half the first page written.

However, that page does explain some things you need to know: Derive from RequestHandler for you sink filter and for other filters in the pipeline. Use attributes der

[2015-04-03 20:34] #67 closed

[2015-04-07 18:31] carlosagsmendes commented on #67
Many thanks for updating the documentation @iancooper!

[2015-04-09 16:28] iancooper opened #71 "Add support for Postgres as a message store"

[2015-04-09 16:28] #35 closed

[2015-04-09 16:29] #21 closed

[2015-04-09 16:29] #27 closed

[2015-04-12 20:36] iancooper commented on #66
The biggest challenge is that we have a broker topology (the same issue occurs with 0MQ which is brokerless) so we don't configure point-to-point (and actually rely on HA capabilities of the broker). So this would either need to add support for point-to-point, or perhaps better add a broker with a recipient list. If we do have a broker though, isn't this just amqp?

[2015-04-12 20:38] iancooper commented on #10
The key issue is that we have a broker topology, not a brokerless topology. We don't support point-to-point and actually rely on the HA features of a broker. Fixing this would require the support of either point-to-point in Brighter, or adding a Broker, which kind of defeats the purpose. As we can go to Helios for point-to-point this may be easier than reaching for 0MQ

[2015-04-12 20:38] #10 closed

[2015-04-12 20:39] #17 closed

[2015-04-14 22:36] iancooper commented on #6
Another option to look at is a Glimpse plugin: http://getglimpse.com/Extensions/

[2015-04-17 11:02] iancooper opened #72 "Add support for delayed messaging via RabbitMQ using plugin and headers"
See http://www.rabbitmq.com/blog/2015/04/16/scheduling-messages-with-rabbitmq/
We need to add the headers to our message if someone intends to delay.
I suggest we add an optional parameter to Post with a default value of -1, that indicates the number of seconds to delay (-1 == no delay).

Other platforms i.e. RESTMS will need to figure out their own mechanism to support a delay

[2015-04-22 14:00] iancooper opened #73 "Should Send be constrained to take a Command and Publish an Event?"
Today we just constrain both of these to an IRequest. But our semantics imply that Send is one handler only for a Command and Publish is zero or more handlers for an event. Should this be explicit?

[2015-04-24 16:51] dstockhammer commented on #73
Absolutely. Forcing developers to use the correct semantics makes it easier to reason about code. E.g. that one can trust that an implementation of ICommand is actually used as command throughout the system.
This also means that Post<T> is now a potential loophole.

Obviously people can still write things like ```OrderAccepted : ICommand``` or ```ProcessOrder : IEvent```, but hey, it's something.

[2015-04-29 21:19] iancooper opened #76 "Get an example running with Azure Service Fabric"
It should be possible to use Azure Service Fabric for hosting services instead of TopShelf Windows Services and IIS hosted APIs. I'm going to do a proof of concept, for part of an upcoming Microservices talk.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12526455-get-an-example-running-with-azure-service-fabric?utm_campaign=plugin

[2015-05-01 09:03] iancooper opened #77 "Support using Redis for Task Queues"
Celery does this and it looks like a fairly common requirement. http://celery.readthedocs.org/en/latest/getting-started/brokers/redis.html

We might want to wait on Disque https://github.com/antirez/disque/blob/master/README.md as it builds a proper in-memory distributed work queue via  broker topology on Redis. That fits our needs better as today we rely on our broker for an HA infrastructure for

[2015-05-01 09:05] iancooper commented on #73
It's a breaking change, but I don't think anyone will be using this in a breaking way, and it would be informative if they were. Let's fix it.

[2015-05-06 09:46] yiannistri commented on #28
So far we can publish messages to an Azure topic but would need to wrap the first connection call in a retry policy as we do for RabbitMQ. Opted for Polly instead of the build-in retry classes to keep the two implementations consistent. Now working on the message receiver.

[2015-05-06 14:18] iancooper commented on #28
Cool. Yes stick with Polly so we can use on approach, I think.

[2015-05-07 09:09] holytshirt commented on #45
Have a project.json file for command processor and have it building on .net4.5 + dnx4.5 + dnxcore5.
I also have Service Activator building on  .net4.5 + dnx4.5 . The dnxcore5 is half way there. I'll push a separate branch once I have this working. The biggest problem is the System.Configuration namespace has not been ported yet

[2015-05-07 19:09] iancooper opened #78 "Support Queries as well as Commands"
Ultimately Brighter has a companion piece that supports a Query. It would have a signature something like (pseudocode) TResult Query<TResult, TArg>(IDictionary<string, TArg>) but might also be something similar to OWIN middleware: Func<IDictionary<string, object>, Task>

It needs to support:
* Retry and Circuit Breaker
* Fallback (i.e. to cache,which we may want to provide help with)

So it is som

[2015-06-01 10:31] iancooper opened #86 "Support Event-Sourcing (with application state)"
The term here is controversial because some folks would rather call this Command-Sourcing, but Fowler has a model of Event Sourcing that stores the incoming command, and allows replay from that (disabling external consumers if necessary). This would be relatively simple for us to implement by adding an orthogonal handler that asynchronously writes commands to a Db, and setting a flag for gateway p

[2015-06-03 15:00] ianbattersby commented on #72
Are we happy this is done or are we leaving open for the control bus stuff to adopt it?

[2015-06-03 17:18] holytshirt commented on #45
The is a dnx branch https://github.com/iancooper/Paramore/tree/dnx now with project.json files in the commandProcessor and Service activator projects.  CommandProcessor was building until the System.Configuration namespace was brought in. **grumbles**

[2015-06-13 12:31] iancooper commented on #72
Let's call it done. We can open new issues for RestMS when I return to it.

[2015-06-13 12:31] #72 closed

[2015-06-13 15:19] iancooper commented on #86
We have a basic implementation now with a UseCommandSourcing attribute. It needs a couple of things for completeness: implementations of the CommandStore in RavenDB and Event Store; an example showing usage; command store utilities to help with replay of commands. Note that because of the need for the handlers matching the commands for replay, implementation of any replay tool is for the consumer,

[2015-06-13 15:21] iancooper commented on #6
https://dropwizard.github.io/metrics/3.1.0/getting-started/

[2015-06-15 14:38] iancooper opened #94 "Provide a configuration setting for RMQ channel durability"
We create all of our RMQ channels as non-durable. This is because we assume that you can replay 'lost' messages from the message store, and thus take advantage of the performance benefits of using a transient queue instead.

Some users may not wish to follow this approach, and instead desire to make their queues durable instead.

We should provide a configuration option, that defaults to false if

[2015-06-17 21:25] iancooper commented on #66
Going to park for now. We have a broker topology so this isn't a priority to look at.

[2015-06-17 21:25] #66 closed

[2015-06-19 14:54] #94 closed

[2015-06-27 10:58] iancooper commented on #3
Pondering upon this the issue that the asynchronous and synchronous pipelines are quite different. Consider that the in the Russian Doll model, if you await, then we have to consider what code will run as part of the completion (everything after the await inside the method body) and what code needs to run because we are now exiting the handler. This implies that the entire pipeline has to be async

[2015-06-27 11:02] iancooper commented on #41
We should probably just use Jason Roberts Feature Toggle to support this: http://dontcodetired.com/blog/?tag=/featuretoggle and https://github.com/jason-roberts/FeatureToggle

[2015-06-30 15:42] holytshirt opened #100 "Command processor .Post fails with "Object reference not set to an instance of an object.""
Post fails with "Object reference not set to an instance of an object."
If you have not configured a policy registry.

It should not fail or should fail explicitly if you have no policies configured.

[2015-07-01 13:46] yiannistri opened #101 "RmqMessageConsumer.Requeue should send a message to a specific queue rather than a topic"
By sending a message to a topic, it results in sending a message to every queue that is bound to that topic via a routing key.

[2015-07-03 12:37] iancooper commented on #6
Just Eat are using grafana http://grafana.org/ for displaying metrics and Syrene on  top of that to manage alerts: https://github.com/scobal/seyren

[2015-07-03 14:02] iancooper commented on #6
See EasyNetQ for an example of integrator traffic: https://github.com/EasyNetQ/EasyNetQ/wiki/Management-API-Introduction

[2015-07-06 08:49] holytshirt commented on #101
Thanks @yiannistri

[2015-07-06 08:49] #101 closed

[2015-07-06 16:55] iancooper opened #105 "Support Binding a channel to multiple topics"
Although we tend to favor a datatype channel, we have some clients who have multiple topics for what is in essence the same event, and they want to bind them all on one queue.

We should allow you to bind to multiple topics

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23804073-support-binding-a-channel-to-multiple-topics?utm_camp

[2015-07-06 16:57] iancooper opened #106 "Error reporting lists exchange and routing key from config not state"
The error reporting always uses the exchange and routing key from config. This could mask errors. The message returned from rmq is stamped with this, so we should use the ones returned by rmq where available.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23804148-error-reporting-lists-exchange-and-routing-key-from-config-not-state

[2015-07-07 09:15] #30 closed

[2015-07-09 10:27] iancooper opened #110 "Dont' surface our LibLog implementation to consumers of Brighter"
Our use of LibLog predates some useful ideas on how to control 'bleed' of a project's logger out into the consumer better. For example, we compile LibLog as public, so a consumer can grab our copy of the LibLog definition. This has value to us as a core library, with our own set of projects able to share our definition, but risks bleeding out to consumers.

One particular issue raised is that beca

[2015-07-13 14:09] ianbattersby commented on #110
How does a consumer control filtering level of messages output by Brighter? E.g. "Here is my logger but I only want you to log ERROR and WARN". Do we leave this up to them to implement - to separate message filtering based on the originator?

*.. he says hoping that makes sense*

[2015-07-13 14:31] iancooper commented on #110
@ianbattersby Yes, it's controlled by the underlying logging framework that we hook into via LibLog. The most significant issue I guess, is to how that framework lets them control that, and does Brighter work well with the control to let them turn up or down our noise

[2015-07-13 17:06] iancooper opened #113 "Create an Invalid Message Queue on the Control Bus"
At present when we fail to handle a message after x tries, because of a sequence exception we simply drop it and raise an error. We should enqueue the message onto an Invalid Message Channel (http://www.enterpriseintegrationpatterns.com/InvalidMessageChannel.html) and then just warn instead. Operators can monitor the invalid message queue if they wish to be alerted to failed messages.

We should u

[2015-07-15 15:34] benjamin-hodgson opened #116 "Support batch-processing of messages"
I've been thinking about the signatures of the `Send<T>` and `Publish<T>` methods. To correctly use these generic methods, you have to know statically the _concrete_ (_runtime_) type of message at which you wish to invoke it. This makes batch processing of messages hard:

[code]

If you make your model responsible for deciding what has happened to it (as you should, in my opinion) then each domain

[2015-07-16 14:30] george-ayris opened #118 "What happens when rabbit message retry limit is reached"
It would be preferable if it logged an error, so it's more obvious when a rabbit message is thrown away.

Alternatively, a callback could be supplied during configuration so custom actions can be taken.

Thoughts/feelings on these or other options?

[2015-07-16 14:33] george-ayris opened #119 "Stopping pipeline processing without logging an error"
It was suggested the best approach would be a custom exception type. Just to double check that this is  the way to go and it should be implemented in a similar manner to DeferMessageAction apart from it should acknowledge the message and log either at info or debug?

[2015-07-16 14:57] #118 closed

[2015-07-16 14:57] george-ayris commented on #118
This has already been resolved :)

[2015-07-16 18:27] ianbattersby commented on #119
I don't think we should use exceptions for flow-control unless absolutely necessary, I find it inherently smelly!

I thought we had a poison message approach for this? Why do we get an error? Is it the CancellationToken being invoked during an I/O operation? As otherwise we should be able to control it no?

[2015-07-17 08:45] george-ayris commented on #119
I'm happy to go down a different route - that's what @iancooper was suggesting.

At the minute to stop processing of a message (e.g. if a version check fails) we just have to throw an exception that gets logged as an error. Is there a better way of doing this at the minute?

[2015-07-17 11:20] holytshirt commented on #100
The command processor build, always adds the default policy and also checks that if you pass in the policy the 2 required ones are there

[2015-07-17 11:20] #100 closed

[2015-07-17 11:26] holytshirt commented on #119
@george-ayris it depends on what you want to do, if the check fails; do you want to throw away the message? then just `return command;` or do you want to requeue the message? then  `throw new DeferMessageAction;` neither of those will log an error

[2015-07-17 12:06] george-ayris commented on #119
I would like to throw it away and stop the rest of the pipeline processing. So by not doing `return base.Handle(command);` and instead doing `return comand;` then that will achieve that?

[2015-07-17 12:11] holytshirt commented on #119
Yes, that is the correct way in a Russian doll pipeline

-----Original Message-----
From: "George Ayris" <notifications@github.com>
Sent: ‎17/‎07/‎2015 13:06
To: "iancooper/Paramore" <Paramore@noreply.github.com>
Cc: "Toby Henderson" <hendersont@gmail.com>
Subject: Re: [Paramore] Stopping pipeline processing without logging an error(#119)

I would like to throw it away and stop the rest of the pip

[2015-07-17 12:31] #119 closed

[2015-07-27 09:43] benjamin-hodgson opened #121 "When a message is discarded, the error log should dump out the content of the message"
At the moment, the error says:

[code]

When we then go to manually replay a message, there is no information in the log about which aggregate the message was from. It would be much easier to debug issues (by replaying messages, etc) if the error contained a JSON dump of the message.

[2015-07-28 11:52] holytshirt commented on #121
@benjamin-hodgson check the merge and close if you are happy

[2015-07-28 11:56] holytshirt opened #124 "Connection missing when adding new connection added while running"
When adding a connection via code to the dispatcher which is already running.
The new connection is not added to the Connections list, the consumer/s for the new connection where  created and working.
The issue would come when you tried to Shut and connection as it would be missing from the list

[2015-07-28 12:00] #124 closed

[2015-07-28 12:45] benjamin-hodgson commented on #121
:+1:

[2015-07-28 12:45] #121 closed

[2015-08-04 14:21] george-ayris commented on #116
We've experienced the same problem with publishing failing to call the correct handler because there are no handlers registered to the event type of our base event class.

[2015-08-04 15:40] holytshirt commented on #116
@george-ayris that is just bad wiring up

[2015-08-05 08:05] george-ayris commented on #116
What I mean is that because the list of events is of type `List<EventBaseClass>` then when `commandProcessor.Publish(event)` is called we're calling `Publish<EventBaseClass>(..) ` and not `Publish<EventConcreteClass>(..)` as Ben has described above.

Since it wouldn't make sense to register any handler for `EventBaseClass` then no handlers are called. We've got around the problem for the minute by

[2015-08-25 10:18] denizkocak opened #131 "Support Message and Command stores on AWS DynamoDB"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26154386-support-message-and-command-stores-on-aws-dynamodb?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_

[2015-08-25 10:20] denizkocak commented on #131
I'm working on it

[2015-09-14 15:08] benjamin-hodgson opened #132 "Can't post messages concurrently"
We get intermittent errors logged in production when multiple threads (API requests) try to POST a message at the same time. The error is `System.NotSupportedException: Pipelining of requests forbidden`.

[code]

It's a concurrency issue, so it's obviously quite difficult to reproduce/debug. That said, here's a failing test case which reproduces the exception pretty consistently for me:

[code]

M

[2015-09-14 15:35] iancooper commented on #132
We're going to drop the Task on MessageProducer for now, as it was a placeholder. That means we can simplify the fix to using a critical section to protect access the the broker. When we implement the *Async versions of the CP interfaces we can address non-blocking access to the broker properly, accounting for the inability to push onto the pipeline from multiple threads simultaneously

[2015-09-14 16:26] iancooper opened #134 "Blocking on Async Code causing Synchronization Context Issues in ASP.NET"
We have hit the issue described here, running under ASP.NET: http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html We await on async code in a number of places related to the MessageStore. As described, it turns out that mixing async and non-async code screws up badly and the app pool crashes as the context thread is blocked when the task completes.

The long term fix is to correctly

[2015-09-15 12:37] #132 closed

[2015-09-15 15:01] iancooper commented on #134
Burnt async with fire

[2015-09-15 15:01] #134 closed

[2015-09-16 10:37] domgreen opened #136 "Channel is null when trying to Post to RabbitMQ"
When we try to post to RabbitMQ using the `RmqMessageProducer` we get the following error:

[code]

I assume that this is due to no longer calling the `EnsureChannel();` method.

[2015-09-23 14:31] holytshirt commented on #136
@domgreen is this still an open issue?

[2015-09-23 14:37] iancooper commented on #136
@holytshirt No @benjamin-hodgson fixed this one. A merge deleted a few lines we wanted

[2015-09-23 14:37] #136 closed

[2015-10-13 12:31] iancooper commented on #116
I think we are conflating several issues:

1) Limitations with generics. we can't route without knowing the type of the Event that you raise, so that we can find matching handlers. Trying to write Publish(IEnumerable<Event> events) thus proves impossible because we can't know the actual type of the event at dispatch from this list. We looked at alternatives here, but most of them are nasty.
2) So

[2015-10-13 15:36] iancooper commented on #116
@benjamin-hodgson and I talked F2F. We agree that the value here lies in using a GetKey() on an IRequest and on IHandleRestues that we use to map a request to a handler and defaulting to RTTI for Command, Event, and RequestHandler that you can override. That would allow us to add a Publish(IEnumerable<IRequest> events) or even Publish(iEnumerable<Event> events) that worked because we could overrid

[2015-10-13 15:36] #116 closed

[2015-10-13 17:17] iancooper opened #143 "Support termination with extreme predjudice"
Our termination model puts a quit message into the queue so that the message pump will read the quit instruction once it has processed the existing message, and before reading from the broker's queue. This causes orderly shutdown of all of our queues, with no partial completion.

For some scenarios this is a problem: the main one seems to be where the time taken to process a message is long (due t

[2015-10-13 17:38] ianbattersby commented on #143
Ouch, but yeah I'm not bursting with alternatives! Perhaps as the codebase grows it's a sync hairs bleeding TPL into implementation into handlers won't feel so wrong.

We should though pass cancellation tokens into internal operations such as requeue wait mechanisms and Polly?

[2015-10-14 12:01] holytshirt commented on #45
Just adding this extra information on the new forth coming configuration reader http://whereslou.com/2014/05/23/asp-net-vnext-moving-parts-iconfiguration/
So I don't lose it

[2015-10-16 09:39] benjamin-hodgson commented on #116
@iancooper I'll raise a new issue

[2015-10-16 09:47] benjamin-hodgson opened #144 "Support non-RTTI-based handler lookup"
See discussion in #116.

We think it might be a good idea to support a `GetKey()` (or similar) operation on a message, so that users can customise handler look-up. By default this function would just return `this.GetType()`. This would allow us to support `Publish(IEnumerable<Event> events)`.

In practice, the message dispatcher would still have to downcast your event (to `MyEvent`) and its handle

[2015-10-16 09:51] iancooper commented on #144
Thanks. We can ponder if this change solves the problem of IEnumerable<Event> and try that instead.

[2015-10-16 09:57] iancooper commented on #86
This really just needs Event Store for completion. We might provide some examples of tooling, but we can't provide something generic as it is handled in-proc

[2015-10-16 09:58] iancooper commented on #63
I don't think this is being actively worked on. Putting back to up for gabs

[2015-10-17 22:49] iancooper opened #145 "HelloWorld demo uses an older builder syntax"
We now have DefaultPolicy not NoPolicy. Documentation needs updating.

[2015-10-17 22:50] iancooper opened #146 "Greetings demo incorrectly gives Install-Package line for LibLog"
It should be for log4net

Install-Package log4net

Update documentation

[2015-10-20 09:33] iancooper opened #147 "Support delayed messaging via a priority queue on the Control Bus"
We want to support delayed messaging. Whilst the RMQ exchange offer this, it comes with the consequence of sending the message to everyone on the dynamic recipient list, which is not always desired. It's also not portable across middle ware.

A better soluton is for the Control Bus to expose a delay channel, and allow messages to be placed on that delay channel. A stand-alone service reads from th

[2015-10-21 15:15] penderi commented on #73
PR ready to go...

[2015-10-21 15:38] penderi commented on #110
Good news - much of this is trivial:
- a new ctor to RequestHandler
- call current ctor with LogProvider.GetCurrentClassLogger()
- obsolete current ctor

the only issue remaining is setting the log provider from the builder (Assum: CommandProcessorBuilder) as I think we need to add an override for ILogProvider as the signature of set is:
            LogProvider.SetCurrentLogProvider(ILogProvider);

[2015-10-21 16:27] penderi commented on #110
Have a test. Passes. It's certainly easier ;-)

[2015-10-22 15:04] penderi opened #153 "Doco for new Logo"

[2015-10-26 10:06] iancooper commented on #110
Reopened. Injecting a logger into the builder is confusing because whilst that sets the logger on the CP, it doesn't set the logger on the RequestHandler. Because that now use GetCurrentClassLogger, it depends on the what LIbLog sets. If you override what you pass in to builder from that, it has not effect on the command handler, which may not be what you expect. Now you can solve this, use IoC to

[2015-10-26 10:09] iancooper commented on #73
So it turns out this breaks Dispatch. The Dispatcher does not know the type of the request, only that it is an IRequest. The compiler won't let us pass that to an interface constrained to IEvent or ICommand, so we are forced to cast it. If we cast it, Send and Publish don't know what the actual type is, and won;t be able to find the handler.

This may be related to the explicity GetKey() issue to

[2015-10-26 15:01] iancooper commented on #110
OK here is what we have now:

1: Where we want to log we have two constuctors. A constructor that directly takes an iLog that you provide either directly or via your ioC container; a constructor that defaults that to LogProvider.GetCurrentClassLogger.
2: In Production code you should set up your log provider and use the constructors that do not take an ILog reference.
3: In Test code you should in

[2015-10-26 15:01] rudygt commented on #145
If you need help, let me know, just tell me how the html is generated, I made a quick search and can't locate the files used to create the html.

[2015-10-26 15:03] iancooper commented on #145
@rudygt We use GitHub pages. So you need to switch to the gh-pages branch. It is s static site there. Feel free to mark the issue us 'grabbed by community' if you want to fix.

[2015-10-26 15:18] rudygt commented on #145
@iancooper Thanks!, can you please add the label? I'm happy to help, I think I can't add labels right?

[2015-10-27 10:36] #146 closed

[2015-10-27 10:37] #110 closed

[2015-10-27 10:37] #73 closed

[2015-11-04 15:17] nitin-natu opened #155 "Azure Service bus dead letter queues not giving Specific exceptions in dead letter reason property"
Hi Team,

We are using Nservicebus as framework for pubs-subs using 4.6.6 version for Nservice bus .

And we are using Azure Service bus as transport for Messages.
 <package id="WindowsAzure.ServiceBus" version="2.3.2.0" targetFramework="net45" />

Their are many reasons for messages getting in deadletter quota,  but as now for any kind of dead letter messages information is stored as dead letter

[2015-11-04 15:59] iancooper commented on #155
Hi,

We are not NServiceBus, but I think that you correctly passed this over to Particular as well. We are about to release our Azure support, it's been under wraps for a while. It needs some work before we consider it production-ready, but we want to release early so as to gain community participation in that.

Hopefully Particular will respond to you. Hope you get it sorted ASAP>

Let us know if

[2015-11-04 15:59] #155 closed

[2015-11-05 07:33] nitin-natu commented on #155
HI Thanks for reply,

My point here is about Deadletter messages logging information..

 we got exceptions such as MessageLockLostException, SerializationException, in logs or sometimes we got ADFS unauthorized as well and got messages in deadletter.

My question is why this exceptions details are not getting captured in deadletter messages property :

DeadLetterReason and DeadLetterErrorDescripti

[2015-12-02 15:25] eskitek opened #156 "Support for RMQ Topic Exchanges?"
Hi - I was wondering if there is a way to create a topic exchange in RMQ. By default, the RMQ Messaging Gateway creates a direct exchange. Looking through the code a bit, I can see that there is a property called "Type" in RMQMessagingGatewayConfigurationSection that appears to be relevant, but it doesn't seem to be used when an exchange is created/configured in MessageGatewayHelper. Thanks!

<bou

[2015-12-20 21:37] Red-F commented on #116
@benjamin-hodgson if you still have that example available in a runnable form, try changing the line

[code]
into
[code]

This should work. As a proof of concept I changed the helloworld example from

[code]
Which prints "Hello Ian", into:

[code]
Which results in an ArgumentException "No command handler was found for the typeof command paramore.brighter.commandprocessor.ICommand - a command shoul

[2015-12-20 21:39] Red-F commented on #144
See my comment under the original #116

[2015-12-20 22:23] benjamin-hodgson commented on #116
Personally I wouldn't call it elegant, but yes, it works :wink:

[2015-12-31 18:55] iancooper commented on #156
Hmmm, we might nee to fix that. @eskitek Sorry for the late reply. It's worth using the Gitter chat room to get attentions if you raise an issue: https://gitter.im/iancooper/Paramore

[2016-01-01 16:18] Red-F commented on #3
Ian, I have read the above and after some (but definitely still insufficient) thinking created an implementation of SendAsync. The IAmACommandProcessor interface has been extended with:

[code]

My current implementation builds a separate async pipeline, but does not  break any of the existing code, tests and examples.

There is actually not much 'my' code, just (copies of) existing code with modi

[2016-01-01 16:21] #153 closed

[2016-01-01 18:22] iancooper commented on #3
I've created the async branch

[2016-01-06 13:13] Red-F commented on #3
And the implementation of PublishAsync is waiting in PR #162

[2016-01-19 17:44] okouam opened #164 "Improved logging messages for easier debugging"
In some places when reviewing the logs we can see the command/event type along with its ID, while in others only the ID is provided. This is a minor issue but would make debugging much easier if the pattern of showing the command/event type along with its ID was used consistently throughout whenever logging the identity of a message.

[2016-01-19 18:50] ianbattersby commented on #164
:+1: .. PR?

[2016-01-20 10:56] iancooper commented on #164
I'm looking at logging tests as part of the async work. So I can review, but it would be great if you could highight which ones are an issue, or even better issue a PR :-)

[2016-02-01 16:38] #164 closed

[2016-02-01 16:40] iancooper commented on #143
I think this one will get picked up by the async work where we are adding cancellation tokens. Once we get service activator in a position to support an async pipeline then it should be possible to use an async pipeline for a long-running operation and then use the cancellation token mechanism to signal termination. Going to work in Huddle on using the former to fix our instance of the latter.

[2016-02-01 16:40] #143 closed

[2016-02-26 10:38] ianbattersby opened #171 "Support RMQ transient (non-durable) exchanges"
Reported by @Wooderz, if you configure Brighter to use a transient (non-durable) exchange it gives the following error:

[code]

Presumably we don't have durability as a config option then so the `ExchangeDeclare` call is forcing it to durable, and when the exchange isn't, it errors. We should provide a configuration attribute or similar.

Edit: https://github.com/iancooper/Paramore/blob/3d3c604d9

[2016-02-26 10:48] ianbattersby commented on #156
Does look like Type configuration attribute gets ignored: https://github.com/iancooper/Paramore/blob/3d3c604d9ad9aeb1a44accbff00fc5399c5a7871/Brighter/paramore.brighter.commandprocessor.messaginggateway.rmq/MessageGatewayHelper.cs#L42

[2016-02-26 11:07] holytshirt commented on #171
@ianbattersby there is a config setting https://github.com/iancooper/Paramore/blob/master/Brighter/paramore.brighter.commandprocessor.messaginggateway.rmq/MessagingGatewayConfiguration/RMQMessagingGatewayConfigurationSection.cs#L216-L225

[2016-02-26 13:27] ianbattersby commented on #171
I know, it's ignored ;-)

[2016-02-26 14:47] holytshirt commented on #171
It can't be ignored, must be working as our exchange is durable. We have to add ```durable="true"``` as the default is false.

Or am I missing something here?

[2016-02-26 20:28] ianbattersby commented on #171
Apologies, I'm thinking about exchange type.

I need sleep :sleeps:

[2016-03-14 16:46] iancooper commented on #78
There is a seperate project Darker, in stealth mode over this.

[2016-03-14 16:46] #78 closed

[2016-03-14 16:48] iancooper opened #173 "Fallback Handler should call back to main pipeline"
The fallback handler currently terminates after calling the fallback handler.

It is possible to desire to do global clean-up regardless of whether the request handled normally or fallback ran.

To effect this we need to have the fallback handler call base.Handle() after executing the fallback chain.

[2016-03-14 16:52] iancooper opened #174 "Consider whether we can allow requests to be read off the queue in a batch"
We avoid batch read for a couple of reasons but in essence its operationally easier to have each consumer deal with one message at a time so that we can understand throughput and introduce new consumers if required to eat the backlog.

Some concerns exist though that at some performance requirements the cost of poll + wait is too high and it is desirable that consumers read in a batch of work to a

[2016-03-17 10:04] #173 closed

[2016-03-17 10:04] iancooper commented on #173
Dropping this, it won't work

[2016-03-17 10:05] iancooper opened #175 "Document how to do Request-Reply using Brighter"
We should document the approach to request-reply.

In essence we can handle with a message mapper, but for convenience we have some helper classes.

[2016-03-18 11:37] nitin-natu commented on #155
Hi Ian,
This is what the reply I got from Particular engineer :

"Deadlettering is not under our control, if you want more info there you will have to ask the Azure ServiceBus team. But as far as I know, the dlq process happens on the ASB broker nodes, so it won't have the exception info to put into the message. In case of Audit & Error Q, it is NSB which is in control and it can add that informat

[2016-03-23 10:05] iancooper commented on #45
One option is for us to abstract out how we do configuration more, so that we can use different implementations. I would like to see us differentiate:

- Design time settings: ensure these are in code
- Machine settings: I don't think we have any of these but they should be in environment variables. The interesting one here is that in a Docker delivery you would probably have one ServiceActivator

[2016-04-05 15:52] ianbattersby opened #178 "SqlMessageStore duplicate-key exceptions fail under Polly policy"
We noticed some time ago that we were getting Polly failing on inserting messages into the message-store when RMQ wasn't available; what we observed was;

1. Message is queued with `Post()`
2. Message is added to the SQL message store
3. Attempt is made to connect to RMQ and fails - Polly kicks in - hazzah!
4. On retry message is added to the SQL message store
5. SqlException is triggered as alrea

[2016-04-05 16:04] ianbattersby commented on #178
The other downside of this commit is it even more diverges the code-path for two supported providers when only one provider is included in the tests. Ideally we need a way to test SQL proper during CI test runs, or with manual tests.

[2016-04-06 19:17] ianbattersby commented on #178
cc @iancooper

[2016-04-08 14:22] iancooper commented on #178
yeah, we should talk about this one over our lunch. SQLCE has always been there because of difficulty running this out-of-the-box. But now SQL Server is free (https://blogs.technet.microsoft.com/dataplatforminsider/2016/03/31/microsoft-sql-server-developer-edition-is-now-free/) maybe we just ship the DDL and tell you to build it. Not sure.

[2016-04-08 14:23] iancooper commented on #178
No problem btw with us merging Command and Message Store. It's only an artefact of don't try to re-use until v3 or it hurts. If it hurts let's make it one.

[2016-04-14 19:06] edblackburn commented on #4
Do you have anything specific in  ind in terms of features or style? I find writing attributes just to dictate order grating, especially as I perceive I've already configured my pipeline elsewhere.

Examples could be:
[code]

Which maintains backward compatibility. In addendum you could also have:

[code]

Obviously RegisterAsync and Register would spawn specific config, with appropriate generic c

[2016-04-14 20:48] ianbattersby commented on #4
We've built something internally similar to this, I think it's good move to have a builder which can provide instantiations of the many interfaces Brighter requires for command professor and dispatcher.

[2016-04-14 21:05] iancooper commented on #4
I didn't have anything specific in mind. At the point I wrote this it was enough that it be compatible as an idea, as I was going with attributes and desired to leave implementation to someone who *wanted* fluent.

One internal request is default filters in the pipeline i.e. Give everything a logging step.

One way would be to add this to CP builder buyout would be nice to fold that request into t

[2016-04-14 21:07] edblackburn commented on #4
Anything you can share? I don't fancy reinventing the wheel?

[2016-04-18 13:25] #175 closed

[2016-04-18 13:27] iancooper commented on #86
Going to close for now and raise a seperate Event Store issue

[2016-04-18 13:27] #86 closed

[2016-04-18 13:28] iancooper opened #181 "Support Command Sourcing with Event Store"
We don't have an Event Store implementation for use with Command Sourcing

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33070539-support-command-sourcing-with-event-store?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_c

[2016-04-18 13:30] iancooper commented on #3
We now have an implementation that supports the serviceactivator sending to an async pipeline if configured. For the moment building a genuine proactor model is out-of-scope.

[2016-04-18 13:30] #3 closed

[2016-04-18 13:32] #145 closed

[2016-04-18 13:33] iancooper commented on #31
Moved to contrib

[2016-04-18 13:33] #31 closed

[2016-04-18 13:33] iancooper commented on #39
Now in Contrib

[2016-04-18 13:33] #39 closed

[2016-04-18 16:07] ianbattersby opened #183 "Remove legacy NuGet package - ExceptionPolicy"
Couple of our guys fell foul of pulling this in without realising it had since been merged into `commandprocessor`, suggest this nuget is removed (made private/hidden) asap!

https://www.nuget.org/packages/Paramore.Brighter.CommandProcessor.ExceptionPolicy/

[2016-04-18 17:17] iancooper commented on #183
Yeah, I'm not sure if I can delete from NuGet. It's a pain, but it is the same issue that npm recently had - deleting means people who have downloaded cannot use. I might be able to request deletion as confusing.

[2016-04-18 17:18] iancooper commented on #183
Ah ok. I need to unlist https://docs.nuget.org/create/deleting-packages

Hang on

[2016-04-18 17:24] iancooper commented on #183
OK should be unlisted. Can you close if you are happy?

[2016-04-18 17:29] #183 closed

[2016-04-26 13:24] tapmantwo opened #184 "Requeuing a message that already has a correlation id header set..."
...causes an exception to throw, and the consuming thread to stop processing messages.

[2016-04-26 13:25] tapmantwo commented on #184
(I will fix this - PR on it's way)

[2016-04-26 15:33] #184 closed

[2016-04-26 19:59] michalczukm opened #186 "Check if only one handler is register for `Send` command"
At the moment exactly one command handler can be registered for one command processed by `CommandProcessor` by `Send` both sync and async. [It can be found here](https://github.com/iancooper/Paramore/blob/master/Brighter/paramore.brighter.commandprocessor/CommandProcessor.cs#L755)

But during configuration you can register multiple handlers to it.
It will be undetected untill `CommandProcessor` ha

[2016-04-26 20:01] michalczukm commented on #186
@iancooper the issue we twitted today.
You think also `ArgumentException` should be thrown when a violation is found? Or something more descriptive?

[2016-04-27 11:30] holytshirt commented on #45
RabbitMQ going to rewrite their client for core: https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/148

[2016-04-27 16:08] iancooper commented on #186
We have our own custom ConfigurationException, so we can raise one of those

[2016-04-27 16:11] iancooper opened #189 "Support multiple content types for messages"
We support application/json via plain/text today. We should really support XML, JSON, and Binary as folks may want to use different text based wire-formats, or binary (particularly protobuf). RabbitMQ client for .NET supports these three, so we should look at enabling clients to provide any one of those message bodies

https://dotnetcodr.com/2014/06/05/rabbitmq-in-net-data-serialisation/

Obviousl

[2016-04-27 17:03] #178 closed

[2016-05-02 01:57] damianh commented on #46
Will be very interested to see your take on this!

[2016-05-04 20:28] michalczukm commented on #186
I just took on this issue, It should be handled in `CommandProcessorBuilder` or somewhere else?
Maybe `CommandProcessorBuilder` is not the only place?

[2016-05-09 09:39] iancooper commented on #189
Taken by @smclewin

[2016-05-13 10:28] ianbattersby commented on #4
@edblackburn Ed I'm really sorry, I completely forgot to reply!

Here you go with our simple 'make do' effort although our feeling is to get beyond this we'd need to make breaking changes to the existing fluency;

[code]

... and we use it like this;

[code]

[2016-05-13 10:30] #171 closed

[2016-05-17 19:42] smclewin commented on #189
Pull request issued for https://github.com/smclewin/Paramore/tree/binary-messages.  I missed where to attach the pull request to issue #189.

[2016-05-30 20:26] holytshirt commented on #45
look at trying AMPQ lite as message bus client https://github.com/Azure/amqpnetlite/releases/tag/v1.1.9-rc

[2016-05-31 07:22] penderi commented on #45
Have you looked at https://github.com/StackExchange/StackExchange.Redis/tree/CoreCLR ?

[2016-06-29 10:53] edblackburn commented on #4
@ianbattersby No worries. Am at a different gig now, may return to this if it becomes a _problem_ again. Incidentally I found this again whilst googling for Brighter and structure map config.

[2016-07-01 09:28] iancooper commented on #189
We've merged in the code that allows a message body to be binary. We haven't added special default for existing text/plain as we can support existing clients with a constructor and property that allow it as a default. Examples left out for now, we'll create something soon, based off the PR. We do need to work with @smclewin to move the tools to Paramore.Contrib which is the appropriate home for th

[2016-07-01 09:28] #189 closed

[2016-07-20 00:07] michaelklishin commented on #45
@holytshirt we updated our existing client to support .NET Core (in master, there's a NuGet feed). A new client is still on the roadmap but for a different reason (a new, modern .NET API without 9 years of baggage).

[2016-07-20 15:33] iancooper opened #197 "No tags on NuGet packages"
We don't support any tags on our NuGet packages. That will make us hard to find. Looking at others tags, those that may be appopriate include:

RabbitMQ, Messaging, AMQP, ServiceBus, PubSub, Publish, Subscribe, Queue, Topic, Relay, Service, Bus, CQRS, Command Dispatcher, Command Processor, Command, Event, Broker, Task Queue, Work Queue, Retry, Circuit Breaker, Availability

[2016-07-20 17:25] jplebre commented on #197
I'll give this a go

[2016-07-20 17:39] holytshirt commented on #45
@michaelklishin thanks! I'm currently trying out your current client via the appveyor feed and have it working.
Looking forward to the new shiny one ... Will it have async apis too?

[2016-07-20 22:02] jplebre commented on #131
Is there a progress on this? I'd be happy to give this a go

[2016-07-20 22:03] denizkocak commented on #131
Lets talk tomorrow in the office about this :)
Cheers,
Deniz

On Wednesday, 20 July 2016, João Lebre <notifications@github.com> wrote:

[2016-07-26 15:58] penderi commented on #45
+1 for async APIs ;-)

[2016-08-04 10:45] holytshirt opened #199 "Exception when requeueing"
Version: 6.1.0

Null exception when requeueing a message, due to the bodytype been NULL.
When a message is read from RabbitMQ without a BasicProperties.Type set, the Message BodyType is null and null exception occurs when this message is requeued.

[code]

[2016-08-04 10:47] #199 closed

[2016-09-14 16:20] nitin-natu opened #201 "Need information about Premium Azure Service bus"
Hi ,
 We are planning to upgrade from Standard to Premium Azure service bus , PFB some queries on it..

Appreciate your response on it ...

1  Can we upgrade Existing Standard Azure Service bus to Premium Azure service bus ? I have tried it , I   have MSDN Ultimate Subscription , I was not able to upgrade in Azure Management website ?
1. We have customers which using service bus queues and topics

[2016-11-10 10:02] #201 closed

[2016-11-10 10:20] iancooper commented on #197
@jplebre Did we get anywhere wit this. I forget. It might be worth checking over this on the new packaging with @holytshirt to see if we have support for tags there

[2016-11-11 16:32] gazlu opened #204 "Data Type for Connection cannot be found in the component When Ports are in different Assembly"
When we keep port in different assembly than the ServiceHost the ServiceActivation does not resolve the data type, I think following trick would help to resolve this.

This issue further leads to not invoking the respective CommandHandler

`Type dataType = Type.GetType(typeName);
 if (dataType != null)
     return dataType;`

[2017-03-01 17:52] iancooper commented on #28
@dstockhammer now has this

[2017-03-01 17:53] iancooper commented on #76
@dstockhammer now has his

[2017-03-17 13:16] vendre21 opened #214 "The current version cannot work with the latest Polly library."
The current version cannot work with the latest Polly library.
When I use the latest Polly library I will get the following exception when I try to create a new instance of RmqMessageProducer.

Could not load type 'Polly.ContextualPolicy' from assembly 'Polly, Version=5.0.6.0, Culture=neutral, PublicKeyToken=null'.

[2017-03-18 16:44] holytshirt commented on #214
Thank you, I'll have a look over the weekend.

From: vendre21
Sent: 17 March 2017 13:16
To: BrighterCommand/Paramore.Brighter
Cc: Subscribed
Subject: [BrighterCommand/Paramore.Brighter] The current version cannot workwith the latest Polly library. (#214)

The current version cannot work with the latest Polly library.
When I use the latest Polly library I will get the following exception when I try

[2017-03-27 15:32] scozzard opened #215 "Appveyor link to nuget feed on release notes out of date?"
Just an FYI really - I noticed the appveyor link (nuget feed for the last good master build) on the release notes is returning a 404.

I.e., the release notes:
https://github.com/BrighterCommand/Brighter/blob/master/release_notes.md

suggests the nuget feed for the last good build on master is:
https://ci.appveyor.com/nuget/paramore-gnrfp84lbfd3

Should this be updated?
Scott

[2017-03-28 14:53] iancooper commented on #215
We will update as it has changed

[2017-03-28 15:12] iancooper commented on #215
Fixed

[2017-03-28 15:12] #215 closed

[2017-03-28 17:27] iancooper commented on #204
Are you using a full name for the type i.e. with assembly name? We use this approach all the time, and it works for us. Any chance you could check

[2017-03-28 17:28] iancooper commented on #45
I'm going to close this, we need to move to VS 2017 etc. but I will raise seperate issues

[2017-03-28 17:28] #45 closed

[2017-03-28 17:32] iancooper commented on #197
We now have these

[2017-03-28 17:32] #197 closed

[2017-03-28 17:34] iancooper commented on #144
Closed as we just use the workaround in #116

[2017-03-28 17:34] #144 closed

[2017-03-28 18:13] iancooper opened #216 "Support VS 2017 .csproj project format"
We want to embrace the VS2017 project format, as project.json has been discontinued. We could run the wizard to convert over, but afterwards we would want to 'clean' any auto-generated build file to remove ay cruft.

See the discussion here: http://www.natemcmaster.com/blog/2017/03/09/vs2015-to-vs2017-upgrade/

Current blockers:

- We use NUnit for tests (having converted over from MSpec). NUnit d

[2017-03-28 18:14] #204 closed

[2017-03-29 08:52] dstockhammer commented on #216
I had a stab at xunit to see how difficult the switch really is. As it turns out, it wasn't difficult at all. There some other problems that need to be resolved though.
See #217

[2017-03-29 09:42] dstockhammer opened #218 "Rmq message gateway circuit breaker maxes out CPU"
When the RMQ message gateway circuit is broken, the message pump keeps hammering `Channel.Receive`, which maxes out the CPU and basically renders the system unresponsive.

[2017-03-30 14:07] iancooper commented on #216
Closed by https://github.com/BrighterCommand/Brighter/pull/217

[2017-03-30 14:07] #216 closed

[2017-03-30 15:20] dstockhammer commented on #214
Fyi, #217 includes a Polly upgrade to version 5.0.6

[2017-03-30 17:50] gazlu commented on #204
Sure, I will check

[2017-04-10 10:46] #218 closed

[2017-04-20 19:51] loneshark99 opened #224 "Project doesnt build when cloned"
Hi,

I tried to build the project locally and it doesnt open in Visual Studio 2015. Is there anything I need to do to get it built on my box? Please let me know.

Thanks,
loneshark99

[2017-04-20 19:53] loneshark99 commented on #76
Is this done yet?

[2017-04-20 20:58] dstockhammer commented on #224
VS 2015 is no longer supported. You either need VS 2017 or VS Code. Unfortunately there's nothing we can do about that :(

[2017-04-20 21:01] dstockhammer commented on #76
No, not really. I've been playing around with Azure Functions and I think that environment is superior to Service Fabric for our needs. However there's a lot of churn with VS Function tools at the moment so that I've decided to wait until a VS 2017 version is available. See https://github.com/Azure/Azure-Functions/issues/201

[2017-04-20 21:06] loneshark99 commented on #224
Thanks for the quick reply. Will use 2017.

[2017-04-20 21:06] #224 closed

[2017-04-20 21:15] loneshark99 commented on #76
ok

[2017-05-15 16:14] #214 closed

[2017-05-19 10:34] iancooper opened #226 "Confirm that we can run under .NET Core 2.0"
This is a todo list for anything that comes up from tracking the .NET Core 2.0 releases.
We probably need to do this on a branch, and regularly merge from master
https://blogs.msdn.microsoft.com/dotnet/2017/05/10/announcing-net-core-2-0-preview-1/

[2017-06-14 16:33] dstockhammer opened #229 "SQL message store uses square brackets incorrectly"
In `MsSqlMessageStore`:

[code]
This results in the following SQL query:
[code]

Notice how `[MySchema.MyTable]` is incorrect. I think it's not possible to add square brackets like that, as you don't know if the `.` (dot) was in fact intended as separator or should be escaped.
The same applies to read queries.

[2017-06-14 17:01] holytshirt commented on #229
Fixed and pushed
Fixes available in version 7.0.139

[2017-06-14 17:01] #229 closed

[2017-06-21 13:41] iancooper commented on #43
This one is complete, although we are at alpha on this

[2017-06-21 13:41] #43 closed

[2017-06-26 23:51] shanselman opened #231 "TargetFrameworks (plural) or TargetFramework?"
I ran a sample like this:

[code]
But changed the csproj from TargetFramework**s** to TargetFramework and it was simpler.

Was this intentional? If not, I'm happy to PR fixes for the samples.

[2017-06-27 13:29] iancooper commented on #231
Yes, this should be <TargetFramework> and we are assuming that this has happened on the auto-conversion. A PR would be great; I suspect there are one or two more in the samples.

Just FYI we still multi-target .netstandard1.5 and net452 for users with older nuget feeds, but we intend to drop net452 soon and target .netstandar1.4

Copying in @holytshirt  as he is our build guru

[2017-06-27 14:02] HamedFathi opened #237 "[ASK] Can you share a classic hexagonal sample with ASP.NET Core and Brighter ?"
in Readme you said

so I want to know can you share a simple classic hexagonal sample with ASP.NET Core, Brighter, EF Core, Logging Framework, IoC, ... in your Github? it can be very useful for somebody like me.

[2017-06-27 14:19] iancooper commented on #237
We built one here: https://github.com/Arc-Lightning/FutureStack

I am tempted to move that repo into BrighterCommand as it is a pretty good example, ad we don't have anything else in that org.

Would that help?

[2017-06-27 14:21] iancooper commented on #237
Actually @dstockhammer's version is better: https://github.com/dstockhammer/todo-backend-aspnetcore

[2017-06-27 15:23] HamedFathi commented on #237
@iancooper

Are both of them based on Hexagonal Architecture ?

because I can find any sample based on Onion or Clean Architecture based on ASP.NET Core but this is first time for Hexagonal :)

[2017-06-28 09:23] #231 closed

[2017-06-28 09:26] iancooper commented on #237
Yes. If you look at ToDoCore you can see that we divide up the assembly into Adapters, Ports, and Model (Domain). The Ports surround the Domain, and both Tests and Primary Adapters (such as ToDoAPI and ToDoApp) call into the Domain through these Ports. Core includes Adapters because these are secondary, ones that we call from within the Ports, such as a Repository pattern.

[2017-06-28 09:26] iancooper commented on #237
I'll move FutureStack into BrighterCommand.

Let me know if that helps to resolve the issue.

[2017-06-28 09:26] #237 closed

[2017-06-28 09:32] iancooper commented on #237
Now at: https://github.com/BrighterCommand/FutureStack

[2017-06-28 15:18] JacobAtchley opened #240 "Azure Service Bus - AMQP - Delayed"
I was looking at Brighter to see if it supports Azure Service Bus. I was browsing the repository when I noticed it doesn't support delayed messages.

https://github.com/BrighterCommand/Brighter/blob/master/src/Paramore.Brighter.MessagingGateway.AzureServiceBus/AzureServiceBusMessageProducer.cs

I've delayed messages in other projects using the following snippet. Where `message` is an `Amqp.Message

[2017-06-28 16:03] iancooper commented on #240
I know that @dstockhammer  was looking at our Azure support. I need to ping him to find out where he is with this. We do support delayed messages for retries, but we don't support raising a message with a specific delay as yet.

We are looking into this. It's probable we will try to find an x-platform solution, perhaps using a priority queue on platforms that don't directly support delayed messagi

[2017-06-29 09:35] iancooper opened #242 "Remove LibLog"
Since we switched to XUnit for testing we have hit issues with tests that check on log output. I suspect that this is because LibLog uses statics, which essentially mean that we have a 'shared fixture' and that is going to break with the use of threads running multiple tests that may all try to initialize and clear settings to the logger.

An answer may be to look at initialization for the test su

[2017-06-29 10:55] iancooper commented on #240
I'm going to close as great feedback. We accept PRs happily though. You might want to come chat on the Gitter channel if you wanted to think about adding this kind of functionality.

https://gitter.im/iancooper/Paramore

Please re-open if you are not happy and want us to respond here in more detail instead.

[2017-06-29 10:55] #240 closed

[2017-07-05 06:51] has-taiar commented on #226
Hi @iancooper,
I am starting on a new project and I am glad that I found Brighter, I am hoping to use Brighter with Asp.Net Core :(
I am happy to offer any help to get this to .NET Core, so that we can use it and the rest of the community can use it too :)

The first blocker I saw was that it relies on Azure Service Bus Nuget packages which is compiled for the full .Net Framework. There is a new .

[2017-07-05 15:48] iancooper opened #243 "Azure Service Bus Issues"
- @has-taiar I moved your issue here

Hi  @@iancooper,
I am starting on a new project and I am glad that I found Brighter, I am hoping to use Brighter with Asp.Net Core :(
I am happy to offer any help to get this to .NET Core, so that we can use it and the rest of the community can use it too :)

The first blocker I saw was that it relies on Azure Service Bus Nuget packages which is compiled for t

[2017-07-05 15:56] iancooper commented on #243
I suspect that you are looking at the old package, we have just updated NuGet to kill those, to avoid this kind of confusion.

The latest version uses AMQPLite and the REST API, because that was what was available at the time, but may do little more than build as we have not tested this one in anger since we went to .NET Core.

We are not wedded to the use of AMQPLite or the REST API but no .NET S

[2017-07-07 15:43] dstockhammer commented on #243
I'm actually working on a new version of the Azure Service Bus gateway, but there are a couple of issues I need to sort out.

Unrelated to that, I'm not sure how far away .NET Standard support is. The new .NET Standard version of the Azure Service Bus package you mentioned seems to be quite far away from RTM, since there are a number of basic features missing. So for now it looks like Azure Servic

[2017-07-13 17:17] BringerOD opened #245 "Authorization?"
I am thinking about using Brighter!   (Sorry for the rambling post.)

Can anyone give me some guidance on how you are handling authorization?  Do you add an attribute and handle it in the pipeline?

Currently I have a simple command bus, which I wrote,  that checks for a custom authorization attribute,  checks for security and either throws an exception or allows the command to proceed. and adds t

[2017-07-13 18:52] dstockhammer commented on #245
I would agree with your first proposed solution and handle authZ before sending the command. The benefit of doing this is that you can give feedback about authZ failure earlier / synchronously. This means you don't have to implement some async process to feed back the information about failures. Subsequently, you don't need to worry about authZ in the handler at all, which again saves you some bra

[2017-07-13 20:46] BringerOD commented on #245
Thanks for the quick reply!

So in my scenario,  I am using event sourcing for portions of my system, which basically stores what happens in event form over time, and I need to store who or what authorized the command that produced the event.

Do I attach the authorized entity to the command object?  For some reason I just don't want to do it.  LOL!

For now that does seem to be the best option th

[2017-07-13 22:02] dstockhammer commented on #245
Maybe I'm not completely following your scenario, but I don't see why event sourcing requires you to perform authZ at the time of handling the command? You can still attach the entity if that's your requirement. But wouldn't an ID and version be sufficient?

[2017-07-14 16:00] BringerOD commented on #245
Sure,  of course,  event sourcing does not require it.  We are just adding it almost as meta data with each event.  Most if not all events in our system are secured,  so we want to be able to see who or what was the authorizing entity.

The object is small it does have a place for a userid if it was a user request, but the request can come from another service that is not a user and does not have

[2017-07-14 16:04] iancooper opened #246 "Show how Brighter can be used within eShopContainers"
eShopContainers uses MeditatR and a homegrown library for doing inter-process messaging over RMQ.

We could replace both of those items fairly easily, and show how Brighter can be used in a microservices scenario.

https://github.com/dotnet-architecture/eShopOnContainers

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47249940-show-

[2017-07-14 16:25] iancooper commented on #245
OK I assume that the scenario is that the authorization is part of the domain i.e. User ins n Role X and Role X has permission to do Y,

In Process Handler
----------------------
For an in-process handler we tend to solve this problem by passing the actor downstream on the command, and then determining if the actor is authorized as part of the handler for that command. We use an exception to retur

[2017-07-14 17:08] iancooper opened #247 "Support Event Store for Task Queues"
A number of people have requested using Event Store as a Task Queue.

@ianbattersby is the chief source of requirements here, and might be able to expand this issue

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/53574446-support-event-store-for-task-queues?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_sourc

[2017-07-17 09:34] iancooper opened #248 "Support Kafka for Task Queues"
We shoud support Kafka if we can. As it has a pub-sub architecture it should be amenable to implementing in our pub-sub architeture

https://en.wikipedia.org/wiki/Apache_Kafka

Kafka is becoming increasingly prevalent and it would help increase our range if we could add it to our list o supported middleware

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.b

[2017-07-19 15:46] BringerOD opened #249 ".net core default dependency injection example."
Does anyone have an implementation using the default dependency injection that comes with .net core?

[2017-07-19 15:54] JosephWoodward commented on #249
Would be interested in seeing this too 👍

[2017-07-19 17:29] dstockhammer commented on #249
When I last checked, the default container didn't support open generics, thus wasn't compatible.
But I think that may have changed now, so I'll revisit when I get a chance.

[2017-07-20 09:36] iancooper commented on #249
There is a discussion here: https://gitter.im/iancooper/Paramore see that as well

[2017-07-20 16:33] iancooper commented on #64
Worth noting that Dan had a crack at this way back when. It ight be worth forking and picking up.

https://github.com/dstockhammer/franklin

[2017-07-20 17:16] BringerOD commented on #249
Thanks!  Great discussion.

[2017-08-03 23:05] iancooper commented on #186
We may leave it for now as it doesn't seem to be a huge issue in usage. Feel free to re-open if you want to deal with it and have a plan :-)

[2017-08-03 23:05] #186 closed

[2017-08-03 23:27] iancooper commented on #46
This should be a separate assembly to avoid pulling this in with projects that don't want to use it.

[2017-08-04 15:40] michalczukm commented on #186
Almost forgot about it, nightly board cleaning as I see ;)

[2017-08-10 01:27] dcomartin opened #250 "Add support for MySql as a Message Store"
I'd take a shot at this if its worthwhile.   There is a netstandard1.3 of an ado.net MySql provider that would be required: https://github.com/mysql-net/MySqlConnector

[2017-08-10 09:54] JosephWoodward commented on #250
What about Dapper? That supports .NET Standard and MySQL?

[2017-08-10 12:26] dcomartin commented on #250
Dapper sits on top of IDbConnection correct? You still need an impl of it.

[2017-08-10 12:31] JosephWoodward commented on #250
Yeah, and come to think of it you do a similar thing (require the Postgres connection library) when using Postgres so ignore my comment :D

[2017-08-10 16:01] Pothulapati commented on #250
@JosephWoodward I'm working on the Postgres implementation for the Message Store Right now. I do think having a consistency using Dapper API is worth looking after.

I think @iancooper should give this a thought.

[2017-08-10 16:53] dcomartin commented on #250
After looking at the sqlite impl, not much would be different since everything is based on ado.net and DbConnection/Command etc.

[2017-08-14 09:12] iancooper commented on #250
It's a tricky one. Franky given the simplicity of the code needed I am inclined to recommend ADO.NET raw as being probably the fastest approach (that's all Dapper is doing really).

The other advantage of us just using ADO.NET is that as we don't take a dependency on Dapper, that is one less potential conflict for implementers to struggle with, where they or another dependency uses Dapper but a di

[2017-08-14 09:20] iancooper commented on #250
PS @dcomartin Yes we would love a PR for that. Please go for it :-)

[2017-08-15 19:36] dstockhammer commented on #249
Can confirm that open generics are now supported: https://github.com/BrighterCommand/Darker/blob/master/src/Paramore.Darker.AspNetCore/ServiceCollectionExtensions.cs

I added an AspNet DI integration package for Darker, the integration looks like this: https://github.com/BrighterCommand/Darker/blob/master/samples/SampleApi/Startup.cs#L18-L31

Will look to do something similar for Brighter. I had t

[2017-08-16 10:10] whunsley commented on #248
Looking at picking this up.  First of all do we agree that https://github.com/confluentinc/confluent-kafka-dotnet will be the client?

[2017-08-16 17:42] GrooveCS commented on #248
Microsoft currently supports the public using this implementation. It a commercially supported by them and your suggestion makes sense.

[2017-08-17 07:48] whunsley opened #257 "Remove "Mixed Platforms" solution platforms from Brighter.sln"
The command:

[code]

Will add the project to the solution with Debug and Release builds for the following platforms Any CPU, x64, x86.

When you run the command you get the warning.
[code]

Removing the "Mixed Platforms" from the Brighter.sln for all projects will stop the warning and make the solution more usable with the dotnet core command line tools.  It should have no impact on the current b

[2017-08-18 01:39] dcomartin commented on #250
Ran into an issue with the MessageStore.  Specifically the fact that a `Message.Header.TimeStamp` doesn't contain any milliseconds.  When calling `messageStore.Add`, the records are not always persisted in the order they were added.  Yes, really.  And since there is there are no milliseconds on the `Message.Header.TimeStamp`, ordering by the Timestamp column doesn't help any.

This is ultimately a

[2017-08-18 14:29] #257 closed

[2017-08-18 16:54] iancooper commented on #248
@whunsley is now the owner of this one

Agreed on the client

[2017-08-22 13:31] holytshirt commented on #71
Ouch, that is a pain.
Does the database do this or the c# progress client?

[2017-08-22 13:44] Pothulapati commented on #71
The database does it automatically.

[2017-08-22 13:51] holytshirt commented on #71
Ah, see now in the documentation. That's a pain.
How about using the `AT TIME ZONE 'UCT'` in the select?
https://www.postgresql.org/docs/9.1/static/functions-datetime.html#FUNCTIONS-DATETIME-ZONECONVERT

[2017-08-22 14:25] Pothulapati commented on #71
I think that's going to work. Will submit a PR once the tests pass.

Thank You. 👍

[2017-08-22 15:45] holytshirt commented on #71
awesome! :+1:

[2017-08-22 16:05] Pothulapati commented on #71
There is a clash in the date of the message, the date that PostgreSQL is giving back is one day more than the one that the test expects.
I get the following error
`Expected date and time to be <2017-08-21 15:15:53>, but found <2017-08-22 02:15:53>.`

And also Why do you decrease the UTC time by one day in MSSQL Server tests?

https://github.com/BrighterCommand/Brighter/blob/ca60978381d969910b729c9

[2017-08-23 08:46] holytshirt commented on #71
@Pothulapati  looks like that is done just to use  an older date.
It looks like what you are seeing is a daylight savings issue. Welcome to the wonderful world of dates, I would add working with dates as one of the most painful things in computing.

Try changing your test to
[code]

[2017-08-23 13:44] Pothulapati commented on #71
@holytshirt I tried but the tests still won't pass. There is this same difference between the two dates every time.

After a lot of struggle, This line makes the test pass every time but I'm not sure if it's the correct solution.
[code]
Thank You.

[2017-08-23 16:26] holytshirt commented on #71
think I'm going to have to see the code to see how the day comes from the db and serialised into the object.  As doing that is not correct, even thought the tests are passing :D

[2017-08-30 00:49] dcomartin commented on #250
Turns out they are being inserted but there is no logical way to sort it to get them in the order they were inserted with the schema I was using.  I ended up adding timestamp column that gets set with NOW(3) in which I can order by.

[2017-09-25 15:20] iancooper opened #262 "Add a [Once-Only] attribute to work with Command Sourcing"
If you have a command store, you can easily suppot once-only by checking if the command has already been seen. Useful for application to handlers that are not idempotent i.e. cannot be run twice.

Need to decide if you can override to allow running anyway (for partial completion) or should force a new message.

Override would require configuration, as per Monitoring, to switch on and off, which im

[2017-09-26 17:08] iancooper commented on #262
A new flag was added to the UseCommandSourcing command of OnceOnly.

[2017-09-26 17:08] #262 closed

[2017-09-27 15:33] awright18 opened #263 "DefaultPolicy cannot be used as a IAMPolicyRegistry to fulfilll CommandProcessorBuilder.Policies argument"
In this example DefaultPolicy fails the check for having policies which it does have.

"The policy registry is missing the CommandProcessor.RETRYPOLICY policy which is required"

This is because DefaultPolicy's implementation of IAmPolicyRegistry.Has always returns false.  I am trying to build some simplified configuration extensions and want the option of passing custom policies or just using Def

[2017-10-03 12:57] brainwipe commented on #249
For those following this (like me), @dstockhammer has kindly started an implementation here (with RC nuget package): https://github.com/dstockhammer/Paramore.Brighter.AspNetCore

You can get the nuget package too. If you're using VS2017 UI then don't forget to check "Include prerelease".

Thank you, Daniel, your implementation is much better than the one I came up with!

[2017-10-03 19:42] JosephWoodward commented on #249
Oh nice!

NuGet package is [here](https://www.nuget.org/packages?q=Paramore.Brighter.AspNetCore) for anyone interested.

[2017-10-04 00:39] #250 closed

[2017-10-04 10:19] iancooper commented on #263
Curious. Let me have a look.

[2017-10-04 10:21] iancooper opened #265 "Support publisher confirms in RMQ"
We don't support publisher confirms in RMQ. We should. We may want to make it a configured option to avoid changing behaviour of existing clients

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50043748-support-publisher-confirms-in-rmq?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept

[2017-10-04 10:21] iancooper commented on #245
I'm going to close the issue, as there have been no further comments

[2017-10-04 10:21] #245 closed

[2017-10-04 12:19] iancooper commented on #265
https://rianjs.net/2013/12/publisher-confirms-with-rabbitmq-and-c-sharp

[2017-10-04 12:20] iancooper commented on #42
We have an alpha. Brightside, with its own repo so closing this issue now

[2017-10-04 12:20] #42 closed

[2017-10-04 12:21] iancooper commented on #226
We have been running against .NET 2.0 projects now, so closing this issue (see FutureStack)

[2017-10-04 12:21] #226 closed

[2017-10-04 12:23] iancooper commented on #249
OK, I am going to mark this issue as done and close. Hopefully, @dstockhammer and I can talk about moving this into the org repo or contrib

[2017-10-04 12:23] #249 closed

[2017-11-02 16:37] brainwipe opened #266 "Question - implementing synchronous and asynchronous projections"
Hello! I'd like to check my thinking.

I am implementing projections using Postgres as a doc store (via Marten). When a Command is raised, I want the Handler to update the persistence layer (all good) and then generate projection documents. My question is how best to do that.

For example, I have a the `CreatePatientCommand` and `CreatePatient` Command Handler.

[code]

So I want two projections:

[2017-11-10 14:37] iancooper commented on #266
@brainwipe  Just a note, its easier to ask questions in Gitter as we get notifications there: https://gitter.im/iancooper/Paramore

I woud raise an event from the command handler, and build the projections in the event. I might well do that on a worker, over a queue, using Post, over in-process by just raising an event from within the command handler.

You could do projection updates as an orthogo

[2017-11-13 16:19] iancooper commented on #243
I have moved this issue back to up for grabs

[2017-12-06 10:03] Jamleck commented on #77
Hi, I was testing the redis messaging getaway you're working on. The library you're using [ServiceStack.Redis](https://github.com/ServiceStack/ServiceStack.Redis) has a Licencing limitation that prevents more than 6000 requests per hour as noted on [their](https://servicestack.net/download) website.  This would require developers to get the licensed version to support any system that has more than

[2017-12-12 12:34] rvanmaanen opened #268 "System.NullReferenceException when using a custom IAmAHandlerFactoryAsync with a custom validation pipeline"
Hi,

I'm having an issue when trying to build a custom validation pipeline together with a custom handlerfactory to support StructureMap.

The following code is used to build the command processor:

[code]

The StructureMapHandlerFactory gets passed an instance of IContainer (structuremap's interface).
The container knows all the IHandleRequestsAsync and IHandleRequestsAsync<> implementations thro

[2017-12-12 14:39] rvanmaanen commented on #268
Noticed you changed some code around there in the master branch, so just downloaded the Paramore.Brighter.7.1.68 artifact and tried that. Still no success, still giving a nullreference at line 46 (as far as i can tell by debugging) in this class https://github.com/BrighterCommand/Brighter/blob/master/src/Paramore.Brighter/AsyncHandlerFactory.cs:

`IHandleRequestsAsync<TRequest> handleRequestsAsync

[2017-12-13 10:51] rvanmaanen commented on #268
Got some sleep, downloaded the sources and had another look. Figured out the problem wasn't in the AsyncHandlerFactory, but my custom ActionHandlerFactory not properly returning a value in all cases.

Rewrote the implementation to the following, which works:

[code]
It still depends on naming the instances registered in the StructureMap container, else StructureMap can't distinguish between the di

[2017-12-13 10:57] #268 closed

[2018-01-01 07:35] Pothulapati commented on #246
@iancooper Are anyone working on this? I would like to take this.

[2018-01-02 18:02] iancooper commented on #6
Time has moved on, and although we do create the hose we don't give a useful example of how to use that.

One answer here is Prometheus, we could create a tool (most likely in Python) to consume the RMQ monitoring feed and use that to feed a site that can be exposed to Prometheus (probably written in Flask).

[2018-01-31 21:49] DejanMilicic opened #272 "Bad link in documentation"
Documentation page
http://paramore.readthedocs.io/en/latest/EventSourcing.html#command-or-event-sourcing

contains bad link
https://github.com/BrighterCommand/Brighter/tree/master/Examples/EventSourcing

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/54477409-bad-link-in-documentation?utm_campaign=plugin&utm_content=tracker%2F523147

[2018-02-14 19:26] iancooper opened #273 "Implement a SQL Server based Broker"
Some people can't deploy middleware but still need a task queue, so for all those folks we want to support being able to use a database as a queue.

Whilst there are concerns about using a database as a queue, most brokers are built on a Db like Mnesia or Redis anyway, and queuing technology within them has improved

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](http

[2018-02-14 19:53] iancooper commented on #29
Reopened because this needs work

[2018-02-14 19:55] iancooper commented on #29
For inspiration: https://github.com/justeat/JustSaying
https://aws.amazon.com/sqs/

[2018-03-07 19:35] iancooper opened #275 "Confirm that we can use the direct reply to feature of RMQ with our point-to-point support"
We support request-reply messaging, and RMQ has some optimizations for queues doing this. It's not a datatype channel, as per our other queue, but an optimization for chatty, occasionally disconnected clients. We should support it nonetheless.

https://www.theguardian.com/books/2018/mar/07/the-children-of-blood-and-bone-by-tomi-adeyemi-review-a-ya-fantasy-inspired-by-west-africa

[2018-03-07 19:42] holytshirt commented on #275
We implementing fantasy based features?

[2018-03-08 13:33] aejay-rs commented on #29
Are there any specific improvements planned for this? We've had a few reliability issues following service outages at AWS, but we aren't sure if it's something we've configured wrong or if there's a library issue.

The most recent happened yesterday, starting with what looks to be 500 error coming back from SQS itself. The stack trails back to a call from `Paramore.Brighter.MessagingGateway.AWSSQS

[2018-03-13 10:13] iancooper commented on #272
Thanks!

[2018-03-13 10:20] iancooper commented on #29
Hi @aejay-rs

We don't know of many production users on SQS (you may be it). We do have a project to improve reliability across our transports and SQS was on my list (because we are contemplating whether to switch from RMQ across AZs for some workloads).

As a result we suspected that we might have some issues during failure. We would need to look at how we handle exceptions on the receive call wi

[2018-03-13 12:03] iancooper commented on #273
Released into beta

[2018-03-13 12:03] #273 closed

[2018-03-13 13:02] iancooper commented on #248
Beta is out

[2018-03-13 13:02] #248 closed

[2018-03-13 13:06] #243 closed

[2018-03-13 16:47] aejay-rs commented on #29
cc @adamwrs

When we find time, we'll try to reproduce this in a lower environment to dig up more details. If we can learn some lessons and contrib something useful, we'll open a PR.

[2018-03-14 09:08] DevJonny opened #277 "Corrections in "Hello World" and "Greetings Example" examples."
After running through the "[Hello World](https://www.goparamore.io/hello-world/)" and "[Greetings Example](https://www.goparamore.io/greetings-example/)" I noticed there were a few discrepancies between the code in the tutorials and the code in [Brighter/samples](https://github.com/BrighterCommand/Brighter/tree/master/samples).

### Hello World

Step two should be:
- `PM> Install-Package Paramore.

[2018-03-14 10:57] iancooper commented on #29
@aejay-rs @adamwrs

Cool. We have a push on our transports right now, and my looking over SQS is behind the Redis project.  But if you guys get it to it first, I would love the help making sure that it is 'battle tested'

[2018-03-28 10:38] #105 closed

[2018-03-28 10:45] #106 closed

[2018-03-28 11:06] iancooper opened #281 "Support a Routing Slip in Brighter"
Brighter's main control point for routing is its Message Mapper. When we serialize a message we set the topic for the message, which is used to route to downstream channels.

For a routing slip we just need to add the slip with the list of routing keys required for each step into the header bag of the first message we create, the data source, along with a index into this list to tell us how far we

[2018-04-09 12:12] iancooper opened #282 "Create a contrib example using MessagePack"
I don't suspect that JSON serialization is our biggest weakness, but it would be good to show how to lower the payload size quickly for folks that need that in a contrib project.

In essence message mapper will handle this for you, but folks like examples

MessagePack: https://msgpack.org/index.html
.NET Lib: https://github.com/neuecc/MessagePack-CSharp

<bountysource-plugin>

---
Want to back thi

[2018-04-30 09:25] rvanmaanen opened #286 "Depend on a signed version of the Polly library"
Hi,

I was experimenting with the latest .NET Core 2.1 preview, especially the new feature that allows configuring HttpClients at startup, together with message handlers and errorhandling and then injecting a typed client. The errorhandling can be done with an very cool extension method from the NuGet package Microsoft.Extensions.Http.Polly. This is documented at [Polly and HttpClientFactory](http

[2018-04-30 13:35] iancooper commented on #286
I hate signed assemblies. I despise the ground they were built on.

That said, we will see what we can do to fix this. perhaps some sort of alternative package (although I am minded to call it Paramore.Brighter.Infected

[2018-04-30 13:48] rvanmaanen commented on #286
Hehe, I can live with Infected :-) Great that you brought it up at the Microsoft team too, let's see how this can be resolved.

[2018-05-01 11:37] iancooper commented on #286
So it looks like Polly are going to [drop the unsigned version](https://github.com/aspnet/HttpClientFactory/issues/105).  That will clarify the ecosystem, but means we will have to release a new version of Brighter that uses the signed version of the code instead. We can do that, and probably should ahead of 2.1 RTM, We will have to notify our consumers of the issue, and their need to move to the

[2018-05-01 11:44] iancooper opened #287 "Consider creating a signed version of Brighter"
The [Polly drama](https://github.com/aspnet/HttpClientFactory/issues/105) has opened up the issue that because we are not signed we can run into difficulty in environments that need signed assemblies. Whilst unsigned can depend on signed, signed needs signed. As a result we may choose to sign Brighter.

We would adopt the Newtonsoft strategy:

- DLLs are strong-named
- semver the nuget packages
-

[2018-05-01 11:45] iancooper commented on #286
We'll use this issue to track creating a version of Brighter that depends on a signed version of Polly, and track creating a signed version of Brighter separately.

[2018-05-01 11:51] holytshirt commented on #287
Referencing the Polly issue
https://github.com/App-vNext/Polly/issues/442

[2018-05-02 09:53] iancooper commented on #286
Just to keep you in the picture. In order to create a version that depends on a signed version we have two dependencies. (1) We need to move to the latest Polly API as we are using obsolete features that won't be supported in that release (2) We need to wait for the signed-only version of Polly from this: https://github.com/App-vNext/Polly/issues/442

The signed version of Brighter issue is here:

[2018-05-02 10:41] rvanmaanen commented on #286
Thanks, I was monitoring all the issues as well. We don't really need a signed version of Brighter (just a signed Polly), but thought you'd want to follow the current Polly strategy by creating a signed and non signed package. Looks like they will drop the non signed package, do you plan on doing the same in the future?

Anyway, thanks for fixing this!

[2018-05-07 19:39] rvanmaanen commented on #286
Polly 6.0.1 has been released!

[2018-05-07 23:09] iancooper commented on #286
Yeah, I just saw

[2018-05-20 21:01] DejanMilicic opened #288 "This probably should be Guid.NewGuid()"
https://github.com/BrighterCommand/Brighter/blob/257f10bcec91b50354a4644b1ac52261cfa950dc/samples/HelloAsyncListeners/GreetingEvent.cs#L8

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/58611621-this-probably-should-be-guid-newguid?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=github)** We accept boun

[2018-05-22 11:20] holytshirt commented on #288
Fixed thanks to @DevJonny !

[2018-05-22 11:20] #288 closed

[2018-06-05 11:09] iancooper opened #291 "CommandSourcing Once-Only expects a null result"
From Gitter via @joelsteventurner

@iancooper been building some spikes and I think i found a bug in the MsSqlCommandStore, the behaviour I'm experiencing is that I have place the following attribute on my handler,
[UseCommandSourcing(step: 1, onceOnly: true, timing: HandlerTiming.Before)]
but every time i receive an event it says its already processed it. Looking in my command tables, it's empty.

[2018-06-06 11:05] #291 closed

[2018-06-06 17:46] iancooper opened #293 "Move to the .NET Generic Host for ServiceActivator configuration"
.NET now has a standard for host configuration. We should look at if we can use it in ServiceActivator to simplify aspects of setup, particularly around sourcing configuration

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-2.1

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59331763-move

[2018-06-06 17:48] iancooper commented on #275
Touching this as part of the Call() RPC method addition to Brighter's Command Processor

[2018-06-06 17:49] #266 closed

[2018-06-06 17:50] #174 closed

[2018-06-06 17:53] iancooper commented on #41
@DevJonny currently has this

[2018-06-06 20:04] holytshirt commented on #287
Pulled in polly, all working no need to sign brighter

[2018-06-06 20:06] holytshirt commented on #286
This is done, and pushed to NuGet.

[2018-06-06 20:06] #286 closed

[2018-06-19 13:04] iancooper commented on #293
We don't want to replace Dispatcher, we want to use this as a layer over the Dispatcher to provide sensible defaults for .NET Projects, working in a similar way to the ASPNetCore integration.

https://github.com/BrighterCommand/Paramore.Brighter.AspNetCore

[2018-07-12 15:56] #41 closed

[2018-08-09 18:28] drewsuccess opened #297 "MessagingGateway.AWSSQS Needs more config for AWS Clients, ie Region"
Paramore.Brighter.MessagingGateway.AWSSQS using various Amazon service clients and only passes in credentials.  We are using this with .NET Core and would like to specify the region as well as credentials for SqsMessageProducer for example.  A simple fix would be to have constructor overloads that also take in RegionEndpoint.

A longer term might abstract out the creation of Amazon service clients

[2018-08-09 22:05] drewsuccess commented on #297
Example Pull Request #298

[2018-08-14 08:50] jablamas opened #299 "Obfuscate logs of sensitive data"
We would need a way to obfuscate certain parts of the messages logged by Brighter on ElasticSearch. Is there a simple way to configure that functionality? Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62112135-obfuscate-logs-of-sensitive-data?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issues&utm_source=git

[2018-08-16 13:45] iancooper commented on #299
Not out of the box, although we use liblog, so essentially you provide the logger, not us. Otherwise I have not thought about it as yet.

Can you give me an idea of what it is you need to obfusticate? I assume there is some plain text information in the message body etc?

[2018-08-16 13:46] iancooper commented on #297
Do you want to leave this open for now, so that we can look at the other issues here. We know this needs a full review.

[2018-08-16 13:47] #293 closed

[2018-08-16 13:48] iancooper commented on #275
To clarify, will our implementation of request reply support this: https://www.rabbitmq.com/direct-reply-to.html ?

[2018-08-16 13:49] iancooper commented on #247
Probably better to use Kafka for the same scenarios

[2018-08-16 13:49] #247 closed

[2018-08-16 13:49] #181 closed

[2018-08-16 13:50] #131 closed

[2018-08-16 14:34] drewsuccess commented on #297
Region was the specific need, using the fork of it with just those changes.  If there were other planned updates/review that is also welcome.  I'm open to either leaving it open or closing since the specific hurdle has been passed.

[2018-08-16 14:56] jablamas commented on #299
Ok Ian, thanks for your quick response. Your assumption is correct, we are trying to obfuscate some parts of the string being logged. We find a problem when trying to use Destructurama package for Serilog: https://github.com/destructurama/attributed
This package requires certain syntax for the variables in the log message, but on the other hand we are relying on the handlers:
https://github.com/Br

[2018-08-16 15:42] iancooper opened #301 "Support OpenTelemetry"
It needs some design thinking in this thread, but we should decide if it makes sense to support OpenTracing

http://opentracing.io/documentation/pages/instrumentation/instrumenting-frameworks

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62231698-support-opentracing?utm_campaign=plugin&utm_content=tracker%2F523147&utm_medium=issue

[2018-08-29 08:54] #297 closed

[2018-08-29 09:09] iancooper opened #302 "Robust SQS + SNS support"
Until now our SQS+SNS transport has lagged behind the RMQ and Redis transports in both functionality and robustness. It does not for example support automatic creation of the assets by consumers, nor is it robust in the face of connection loss to AWS infrastructure.

The goal of this issue is to begin work as part of our '2018 Robust Transports' project

<bountysource-plugin>

---
Want to back thi

[2018-08-31 12:56] iancooper commented on #301
We could probably stab at an initial version using Jaeger

https://github.com/yurishkuro/opentracing-tutorial

[2018-08-31 13:02] iancooper commented on #301
Oh and as it may not be obvious. We would look to implement this as an attribute, similar to the existing Monitoring attribute which you add to a handler to trace handling individual messages. We could choose to instrument parts of the infrastructure too, but it is harder to tie that to tracing the path of a request through a distributed system, over integrating with say Prometheus to provide oper

[2018-08-31 15:50] iancooper opened #303 "On RMQ Producer we don't retry following a connection reset, we probably should"
When the RMQ Producer tries to send to the broker and fails, we retry, break the circuit and eventually give up. When we give up, we reset the connection in the pool, on the assumption that it is no longer valid.

If we have just lost contact with a node, because it is paused, being upgraded etc. we really want to try and send the message on the new connection before we give up.

So we should retr

[2018-08-31 15:52] iancooper commented on #29
OK I have this now

[2018-08-31 18:46] iancooper opened #304 "On the RMQ Consumer, only Receive has robust error handling"
On Receive we watch for a range of exceptions that could be thrown and respond, either by retrying the operation if we think we can reconnect to the channel. We don't do this for other operations, we just catch, log and rethrow.

Now this may not matter. We can't ack a message on a node that just paused via another node for example. We will just get a delivery tag error.

But we may want to walk s

[2018-09-06 08:27] iancooper opened #305 "New Bulk Message Retrieval Support"
We dropped bulk message support recently. It was inconsistently implemented, we want to preserve fairness across multiple competing consumers for example, and with changes to the RMQ we moved away from the built in deprecated consumer that queued up results.

However, for queues with high latency to read, such as SQS or an RMQ node across a WAN (for example in a different AWS AZ) there can be a ne

[2018-10-03 07:42] SeanFarrow opened #307 "Replace the current brighter policy registry with Polly"
Hi,

It would be good, as we have now done with Darker,  to replace brighter's own PolicyRegistry with the one from Polly.
I am happy to do the work as before if this is wanted.
Cheers
Sean.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64204525-replace-the-current-brighter-policy-registry-with-polly?utm_campaign=plugin&utm_conten

[2018-10-03 09:06] SeanFarrow opened #308 "Provide an IAmAMessageConsumerAsync interface"
It would be nice to have an IAmAMessageConsumerAsync interface as a companion to the IAmAMessageProducerAsync interface.
Given that a lot of messaging gateways are using the tpl, this makes perfect sense to me.
I'm happy to do the work if desired.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64208116-provide-an-iamamessageconsume

[2018-10-03 17:23] iancooper opened #309 "RMQ Transport: Support Blocked Connections Notifications for Diagnostic Purposes"
We should subscribe to Blocked Connections Notifications so  that we can notify via the logs that we have a blocked connection to highlight resource or synchronization issues.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/64232054-rmq-transport-support-blocked-connections-notifications-for-diagnostic-purposes?utm_campaign=plugin&u

[2018-10-10 09:43] iancooper opened #312 "RMQ Timeout is aggressive at 5s, and should be configurable, we should back-off more on timeout"
We have an aggressive timeout of 5s set for the required heartbeat timeout for RMQ. The RMQ team recommend a number between 5 and 20s. We may wish to lower this, to reduce noise.

We currently set this in RMQMessageGatewayConnectionPool. We should continue to support defaults, if the user does not set them, but we ought to allow passing values in from outside via RMQMessagingGatewayConnection

We

[2018-10-16 09:39] iancooper commented on #287
I a reopening this issue, as guidance from MS is now to sign.

https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming#create-strong-named-net-libraries

We have to play as part of the ecosystem. It is possible that someone is going to refuse to play with us because we don't strong name. However, we are a framework, not a library so we are more top-level and folks don't dep

[2018-10-16 16:50] iancooper commented on #308
@SeanFarrow We have thought about this a little bit, and its not quite as simple as it sounds. First our consumers use a single-threaded message pump via a supervisor worker pattern. These are long-running threads. If you need to scale out, you increase the number of performers i.e. threads. This is already parallel. Normally you don't instantiate a consumer directly, but use the dispatcher instea

[2018-10-16 16:53] iancooper commented on #307
We could. Have a stab and create a PR. Come over to the Gitter channel if you have questions.

[2018-10-16 16:54] iancooper commented on #305
We might want to sue this to pick up work on rmq switching to using a consumer

See: https://github.com/wjdavis5/RabbitMqConsumers/blob/master/src/RabbitMqConsumers/Consumers/QueueingConsumer.cs

[2018-10-16 16:55] #304 closed

[2018-10-16 16:58] iancooper commented on #77
The StackExchange Redis library won't work as it multiplexes the connection, and this is not compatible with the blocking operations that we need to support Redis queues. However, the stream code might change our minds on this.

Sorry for the long time to reply, ping us on the Gitter channel, as replies here can get lost on GithHub;s interface

[2018-10-16 17:01] iancooper commented on #29
Closed as a duplicate now

[2018-10-16 17:01] #29 closed

[2018-10-16 17:03] iancooper commented on #307
If you wanted to pick up #263 while you are there @SeanFarrow ?

[2018-10-16 21:28] SeanFarrow commented on #307
@IanCooper,
I’ll pick up both over the weekend.

From: Ian Cooper <notifications@github.com>
Sent: 16 October 2018 18:03
To: BrighterCommand/Brighter <Brighter@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [BrighterCommand/Brighter] Replace the current brighter policy registry with Polly (#307)

If you wanted to pick up #263<h

[2018-10-16 21:31] SeanFarrow commented on #308
@IanCooper,
That all makes ssense.
Is there any chance of an EventStore gateway? I’m not sure whether I raised a separate issue for this? What do you do in terms of checkpoints, so that messages are not processed more than once in gateways where the last message position isn’t stored?

From: Ian Cooper <notifications@github.com>
Sent: 16 October 2018 17:51
To: BrighterCommand/Brighter <Brighter@no

[2018-10-16 23:43] iancooper commented on #307
Thanks @SeanFarrow

[2018-10-16 23:47] SeanFarrow commented on #307
@IanCooper,
You have a defaultPolicy class that implements the IAmAPolicyRegistry interface. It just returns policies given a name. Where should these be registered. I don’t really want to sub class the polly policy registry if I can help it.
Is there a reason default policies are added in the first place, I’m writing a microservice based system, so want my own policies for each service. Should we

[2018-10-17 00:14] iancooper commented on #307
We added this to prevent a 'fail' when you didn't register even a basic policy. We can review that if we are moving away from our own policy registry.

[2018-10-17 02:33] SeanFarrow commented on #307
What would the ideal scenario be, given people will want to use there own policies.
Where are policies used currently?

From: Ian Cooper <notifications@github.com>
Sent: 17 October 2018 01:14
To: BrighterCommand/Brighter <Brighter@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [BrighterCommand/Brighter] Replace the current brig

[2018-10-17 11:52] iancooper commented on #307
@SeanFarrow We liked the idea of having the building blocks be replaceable, for whatever reason. Hence we let you define your own PolicyRegistry if you wanted to. Why not? But now Polly has one, there does not seem to be too much point in you defining your own, apart from backward compatibility. But I am all for simplifying.

So really, at that point we just need to ensure that the builder guides

[2018-10-17 14:17] iancooper commented on #308
@SeanFarrow We had Event Store on our backlog for a long time, and someone keen to write it, but it never happened. I'm open to offers. I might get to it, if someone else does not first.

Currently we use the Command Sourcing attribute with OnceOnly to de-duplicate i.e. I have seen this before. We have some fixes at Huddle (on a branch of that attribute) that I am pushing to get the author to PR.

[2018-10-17 15:15] SeanFarrow commented on #308
@IanCooper,
That makes sense. What would be your time frame for this to be PR’d ideally?

It would be good to have a message gateway, the only question I would have is how would you want to acknowledge messages, as without using the persistent subscriptions feature of EventStore, there is no built-in way of doing this.
What is the minimum needed to write a message gateway in terms of classes/inter

[2018-10-19 11:13] SeanFarrow commented on #307
@IanCooper,
I'm just implementing this now, Is it the CommandProcessorBuilder or the dispatcher that need to define the default policies?
I'm thinking about adding a way to register any policies within a policy registry, during the building process, so probably adding another interface and implementing this in the CommandProcessorBuilder. I don't want people to be able to add to a PolicyRegistry o

[2018-10-19 11:31] iancooper commented on #307
@SeanFarrow The Command Processor Builder. It looks as though we already throw if you don't include the policies that we require, so you just need to change the type of the parameter on Policies. For DefaultPolicy, why not return a Polly PolicyRegistry with the policies from the DefaultPolicy object. That way we will keep the same behavior?

[2018-10-19 12:14] SeanFarrow commented on #307
@IanCooper,
Makes sense. Although, the DefaultPolicy object isn’t strictly required as it only implements IAmAPolicyRegistry which is now not needed. Perhaps we should require a user to pass a polly policy registry to the CommandProcessorBuilder?

From: Ian Cooper <notifications@github.com>
Sent: 19 October 2018 12:32
To: BrighterCommand/Brighter <Brighter@noreply.github.com>
Cc: Sean Farrow <sean

[2018-10-19 12:43] iancooper commented on #307
DefaultPolicy is really intended to provide the policies that **we** need over the end user. We use them to retry our connections to MoM. So we don't need the implementation, we need the effect of the implementation, which is that if you don't provide us with your own policy registry, we will provide one, with our default policies added.

The idea is that you might not want to create your own poli

[2018-10-20 09:15] SeanFarrow commented on #308
@IanCooper,
I've just looked at doing this, based on the existing transports. It looks straightforward, but EventStore don't have timeouts on individual reads, they just have a timeout on the connection for all reads which is disposable, so I wouldn't want to create a connection per operation. I know the sql gateway does this, so am happy to if it's the best option.
How do you handle async calls i

[2018-10-22 17:08] iancooper commented on #308
I'm traveling, let me look tomorrow.

[2018-10-27 19:17] obeyda opened #315 "Brighter.MessagingGateway.Kafka Status"
Hello, I would like to know if  the nuget package `Paramore.Brighter.MessagingGateway.Kafka` is production ready, compared to other packages like `Paramore.Brighter.MessagingGateway.RMQ`.

[2018-11-07 23:10] holytshirt commented on #315
Hi @obeyda, I have not used it myself yet. The code was contributed by @whunsley I'm not sure if uses it in production.

[2018-11-16 14:35] iancooper opened #317 "AWS changing ARN formats"
AWS is changing the ARN formats, with all accounts switching over by 2020. We parse the ARN for SNS to get the topic name. We will need to ensure that the Brighter AWS transport copes with this change.

https://aws.amazon.com/blogs/compute/migrating-your-amazon-ecs-deployment-to-the-new-arn-and-resource-id-format-2

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https

[2018-11-16 14:36] iancooper commented on #315
Hi @obeyda if you wanted to contribute to making it robust enough to support production usage, we would be very grateful for any help.

[2018-11-16 14:38] iancooper commented on #315
@a2glukhov Any light you can shed. I know you fixed some issues...

[2018-11-22 10:39] iancooper commented on #315
Hi @obeyda I would have to defer to @whunsley for what point he reached. I would suspect that a first step would be to see how it handles failure by pulling the plugs out :). I use a tool called blockade (Python version of Jepsen) to test RMQ and Redis locally by simulating network partitions in the cluster, which can be informative as to production issues. To some extent these things tend to requ

[2018-11-22 10:44] iancooper commented on #305
There is a first check in that does not do much. It just changes us to use the buffer on the Channel for all reads, and then goes to the consumer when the buffer is empty. It is not that different to the existing scenario as we still read one item at a time. The next step is to make the buffer size configurable, up to 10 items. The step after that is to make that multi-threaded, so that multiple p

[2018-11-22 10:45] #302 closed

[2018-11-22 10:46] #77 closed

[2018-11-22 12:52] DejanMilicic commented on #315
@iancooper (forgive this off-topic) are you aware of any projects that would be Net ecosystem matches for Jepsen?

[2018-11-22 14:02] iancooper commented on #315
@DejanMilicic I'm not. Blockade is however quite simple to use, even if you are not a Pythonista. That said, if you find one...

[2018-12-28 19:50] satishviswanathan opened #318 "Issue with Call() method to CommandProcessor"
I've trying to use Call() to implement Request - Reply using RabbitMQ. I'm seeing 2 issues.

1. The interface IAmACommandProcessor does not have the definition for Call().
2. Using the Call() I'm able to send the request and process it and send a response back to the client but found that the queue created for this purpose is not getting deleted once the response is send back. I'm also seeing the

[2019-01-17 13:41] iancooper commented on #318
@satishviswanathan Thanks for reporting this, I'll take a look at these issues and see what is up.

[2019-01-17 16:55] iancooper opened #319 "Add Support for the Outbox Pattern to Brighter"
We currently do not support the Outbox pattern explicitly. Although we have a message box, that could be used to provide the pattern, we do not allow you to separate writing to the Message Box and then sending that message via the Transport.

The proposal here is to ass two new interface methods, with working signatures of:

Guid DepositPost(IRequest message)
ClearPostBox(Guid messageId)

Where De

[2019-01-18 12:41] #319 closed

[2019-01-18 12:55] iancooper commented on #318
I've pushed a fix to the master for the missing method on the interface. I need to look into why the queue does not delete. Are you sure that the queue is still there when you restart the broker?

[2019-01-18 14:40] iancooper commented on #318
OK, I understand why this is happening now. I just need to ponder the best approach to the fix (how much to expose to the client around this, and how much to just manage). But I understand the issue here now.

[2019-01-18 14:41] iancooper commented on #315
@obeyda Did you pick up anything here. I might be able to get to this one soon.

[2019-01-18 14:45] iancooper commented on #11
Parked for now, there are issues with not creating the pipeline afresh each run

[2019-01-18 23:53] obeyda commented on #315
@iancooper nothing important yet

[2019-01-19 14:10] iancooper commented on #156
Fixed this one, because the strategy of waiting on first-timers should not really be applied to bugs i.e. help wanted and bug are pretty much incompatible labels. We should make sure that bugs are not flagged as help-wanted

[2019-01-19 14:10] #156 closed

[2019-01-22 11:02] mit-jamie-clayton opened #335 "https://www.goparamore.io/hello-world/ references incorrect Github Repo"
As a new developer to Brighter,
I want confidence in finding information quickly,
So I can become productive with the nuget packages.

## Steps to locate wrong URL.
- Navigate to
- Locate the first paragraph with the words

- Confirm the URL "Hello World Example" navigates incorrectly.

## Expected behaviour
- URL should be https://github.com/BrighterCommand/Brighter/tree/master/samples/HelloWorld

[2019-01-22 11:13] mit-jamie-clayton opened #336 "https://www.goparamore.io/hello-world/ references incorrect Nuget Package"
As a new developer to Brighter,
I want to practice creating code projects, by following on examples,
with out recieving Nuget package warnings,
So I can prepare myself for creating software using Brighter.

## Steps to locate wrong URL.
- Navigate to
- Locate the paragraph with the words

- Confirm the PM command causes an error "Can't find package".

## Expected behaviour
- Execute PM> Install-Pa

[2019-01-22 11:26] mit-jamie-clayton opened #337 "Readme.md documentation has broken URL references."
As a software developer,
I want to open up the most important git document, Readme.md and navigate to all the information without recieving errors,
So I can be confident that the project is being well maintained.

## Steps to reproduce
- Navigate to root of the git repository https://github.com/BrighterCommand/Brighter/
- Scroll down to the Readme document HTML.
- Click on all URL's can confirm th

[2019-01-22 12:30] mit-jamie-clayton commented on #337
Suspect the Master\Docs\CNAME file is missing to provide the *.io/* URL's in readme.md.
https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/#publishing-your-github-pages-site-from-a-docs-folder-on-your-master-branch - implies a GitHub Administrator setting would be required to address the expected https://brightercommand.github.io/Brighter/ name.

[2019-01-22 20:09] mit-jamie-clayton commented on #337
I think a follow on issue, around the repo's documentation settings is required by on the administrative users. See https://help.github.com/articles/what-is-github-pages/

Looks like your using \Docs\ folder but it expects index.html default file in that folder.

[2019-01-25 00:56] mit-jamie-clayton commented on #277
#336 #335

[2019-01-27 17:35] iancooper opened #344 "Consider Exchange to Exchange Bindings in RMQ"
We currently don't support setting up and exchange-to-exchange binding in RMQ. There are some messaging topologies that gain from this. We should consider our support for them.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/69261032-consider-exchange-to-exchange-bindings-in-rmq?utm_campaign=plugin&utm_content=tracker%2F523147&utm_m

[2019-02-01 14:53] #337 closed

[2019-02-15 19:40] holytshirt commented on #307
@SeanFarrow  I don't know how far you got on this, this work has just been added to master and we are looking to release soon.

[2019-02-16 11:35] SeanFarrow commented on #307
That’s fine, I’ve mostly been involved with the upgrade to the PolicyRegistry/polly code clean up.
We’ve also switched away from brighter/darker for various reasons within the project.

From: Toby Henderson <notifications@github.com>
Sent: 15 February 2019 19:40
To: BrighterCommand/Brighter <Brighter@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.githu

[2019-02-16 12:52] holytshirt commented on #307
Thanks @SeanFarrow I replaced IAmAPolicyRegistry with IPolicyRegistry<string> and now just use the PolicyRegistry from Polly.

This will be in release v8, out soon :)

[2019-02-16 17:22] holytshirt commented on #336
@skatersezo these are the same ones you found, hopefully fixed soon

[2019-02-16 17:22] holytshirt commented on #335
@skatersezo these are the same ones you found, hopefully fixed soon

[2019-02-16 17:24] holytshirt commented on #277
@skatersezo and this too

[2019-02-21 13:11] iancooper opened #374 "Rename message store to outbox and command store to inbox"
Outside of Brighter the term Outbox is now common for what we call the Message Store.

http://gistlabs.com/2014/05/the-outbox/

In addition, where you use Outbox, to de-duplicate the Inbox is the common name, and our use of the Command Sourcing idea, when primarily folks tend to use it de-dupe is probably not helpful.

So the goal here is to rename MessageStore to Outbox and UseCommandSourcing to

[2019-02-21 13:14] iancooper opened #375 "Allow Inbox to de-duplicate events as well as commands"
Because the Inbox was originally a Command Store and designed to allow Command Sourcing, although it provides de-duplication, it does not really provide de-duplication for events, as the first handler will store the request, making others believe they have seen it. For this reason we need to track 'seen' against both the message id and the handler which has seen the message, and check whether this

[2019-02-21 13:18] iancooper opened #376 "Support header based routing"
SNS is a channel, and is a little like an exchange in RMQ, and a little like a routing key. It is possible to use a filter to send to refine the messages sent to queue subscribed to the topic using a header.

RMQ also supports a header exchange that allows headers to be used for routing.

We should support the option to route not only via the routing key, but also by a 'Brighter' header that allow

[2019-02-27 14:16] iancooper commented on #375
Believe that this is fixed by context argument already

[2019-02-27 14:16] #375 closed

[2019-02-27 14:19] iancooper commented on #307
Think that @holytshirt has completed this one

[2019-02-27 14:19] #307 closed

[2019-02-27 14:21] iancooper commented on #308
Going to close this for now. We know what we need to do to get the STA pump to work with async, though it has side-affects (de-ordering messages)

[2019-02-27 14:21] #308 closed

[2019-03-03 20:49] holytshirt commented on #307
Fixed in V8.0.*

[2019-03-03 20:49] holytshirt commented on #287
fix in v8.0.*

[2019-03-03 20:49] #287 closed

[2019-03-03 20:50] holytshirt commented on #263
fixed v8.0.*

[2019-03-03 20:50] #263 closed

[2019-03-04 11:24] iancooper commented on #11
Pulled this one back in. Adding the inbox globally just adds to the work we have to do to figure out the pipeline, and if we trigger the concept of global handlers more via the Inbox work, then it will only get more expensive.

We should distinguish between the list of handlers required for the pipeline, which we should cache as opposed to the handlers themselves which we should always ask the  fa

[2019-03-06 08:24] iancooper opened #388 "Fix issue with infinite timeout on Inbox Async Write"
This TODO has been around for a bit, I am picking up as I am working on the Outbox and Inbox enhancements so it popped up for my attention. We should never have an infinite timeout.

I just need to decide if this can go on the global inbox configuration, which means you can't set it from a handler, unless the handler provides a default, and just defaults to something more sensible like 500ms

[2019-03-11 18:14] holytshirt commented on #272
Done

[2019-03-11 18:14] #272 closed

[2019-03-12 17:16] iancooper commented on #374
Code is checked in. Documentation changes outstanding.

[2019-03-12 17:18] iancooper commented on #11
We now have a global cache for the attributes on the pipeline, so that we do not need to interrogate it. We do build the pipeline every time, because we want to ensure that the handler factory can control the lifetime of handler instances

[2019-03-12 17:18] #11 closed

[2019-03-14 15:36] iancooper opened #405 "Outbox needs to be updated for message sent"
We need to update the outbox when a message has been sent, by updating a time sent in the outbox.

it is out of scope of this issue to resend messages that have not been sent within a given time window but that is the intent. An separate app could be responsible for doing this work.

We may want to write this so as to support ideas like RMQ publisher confirms i.e. the update is a callback that hap

[2019-03-14 15:37] iancooper commented on #374
Assemblies renamed

[2019-03-26 11:15] holytshirt commented on #282
@skatersezo is going to pick this up

[2019-03-28 16:58] iancooper commented on #246
This seems to be abandoned. Going to park the issue and come back if anyone has time

[2019-03-28 16:58] #246 closed

[2019-04-10 09:46] skatersezo commented on #376
I'm going to pick up this ticket and give it a try @iancooper

[2019-05-08 14:03] acraven opened #485 "RabbitMQ unavailability is causing Dispatcher to stop"
If RabbitMQ is unavailable for a period longer than the cumulative retry duration the Dispatcher will stop (and will need to be restarted).

An exception is being thrown in `RMQMessageGatewayConnectionPool.ResetConnection` when the connection does not exist in the connection pool. This causes the message pump task to end, which in turn causes the Dispatcher to stop when all tasks have been complet

[2019-05-08 21:41] iancooper opened #489 "Provide support for RMQ Quorum Queues"
We should support the option to use an RMQ Quorum Queue over a Mirrored Queue

http://next.rabbitmq.com/quorum-queues.html

Note that we had an ha flag, which was superseded by policy. Quorum Queues move us back from policy based queue declaration to us passing a flag again

[2019-05-09 10:22] acraven commented on #485
Having tested this change with our service, it didn't solve the problem; the message pump simply stopped due to another unexpected exception.

My proposed fix (https://github.com/BrighterCommand/Brighter/pull/493) is to remove the CreateConnection from the ResetConnection method and simply remove the connection if it exists. The next iteration in the message pump re-connects to Rabbit.

The ResetC

[2019-05-09 15:46] iancooper commented on #485
Right, but ResetConnection was added to resolve a specific set of errors that happen during a partition in RMQ which we uncovered by doing some chaos engineering with blockade. So removing that call would need us to to test for why we added CreateConnection there (was it just to refill the pool?) It might be better to leave the call, but ignore failure to connect on a ResetConnection, perhaps afte

[2019-05-09 16:06] iancooper commented on #485
@acraven Can you try this? Modify the CreateConnection method so that it catches and logs any exceptions on attempting to recreate the connection over allowing the exception to bubble out of the method? That way, if RMQ is unavailable we won't exit with an unhandled exception but just run the loop again, but we will still recreate the connection if RMQ is available. Can you try that, test it, and

[2019-05-10 15:16] acraven commented on #485
@iancooper I've changed `ResetConnection` to now log and suppress `BrokerUnreachableException` exceptions thrown from within `CreateConnection`. This solves our specific use-case in the same way as just removing the `CreateConnection` call from `ResetConnection`, so all good hopefully.

It made sense to apply the exception handler to `ResetConnection` rather than `CreateConnection` as you suggeste

[2019-05-10 17:39] iancooper commented on #485
OK, why not push the PR and I'll check it out. Sounds promising

Blockade is a Python too for simulating network partitions, that we use to see what happens if we lose a node in a Docker RMQ cluster: https://github.com/worstcase/blockade

[2019-05-13 09:16] acraven commented on #485
@iancooper Done. Feel free to squash away my reverted async changes.

[2019-05-13 16:40] iancooper commented on #485
Closed by https://github.com/BrighterCommand/Brighter/pull/502

[2019-05-13 16:40] #485 closed

[2019-05-17 22:39] holytshirt opened #509 "Create a github social media preview card"
Upload an image to customize your repository’s social media preview.

Images should be at least 640×320px (1280×640px for best display).
![repository-open-graph-template](https://user-images.githubusercontent.com/90132/57959714-f0e2d500-78fc-11e9-82c7-993e7cff7243.png)

[2019-05-21 15:47] acraven opened #515 "Rabbit message without headers brings down Dispatcher"
We have a microservice that handles messages from Rabbit via Brighter. We have an example message body that we publish to RabbitMQ to demonstrate our service.

We have discovered by accident that omitting the MessageType header when publishing the message to RabbitMQ brings the Dispatcher to a halt.

Each consumer appears to receive the message once and reply with a NoAck before completing. We are

[2019-05-21 16:15] acraven opened #516 "It's not possible to customise the behaviour of the PipelineBuilder"
We are using Brighter in our microservice to handle messages from RabbitMQ. We had created a method to register handlers with the IServicesCollection.

We have been a bit naughty and actually registered a decorator as the concrete which delegates to the actual handler. This allows for our logging, metrics and exception concerns to be added to each handler without having to decorate the HandleAsync

[2019-05-21 18:13] holytshirt commented on #515
That is strange, I remember doing  fix for this once where we default to `MessageType.MT_EVENT` is there is nothing in the header.

Secondly if that does error it should be logged as an error and depending on poison message settings. Stop and log an error or log an error, throw away message and continue.

I think there was a big rewrite to this area, I can double check tomorrow.

I know we regular

[2019-05-22 11:33] acraven commented on #515
The default message type is indeed `MT_EVENT` - this causes a problem in `MessagePumpAsync.DispatchRequest` which throws a `ConfigurationException` since the `TRequest` is an `ICommand`.

`MessagePumpBase.Run` handles `ConfigurationException`, rejecting the message and exiting the message loop.

I haven't got a great deal of knowledge around this library, but I have some thoughts:

* If the messag

[2019-06-27 15:07] penderi commented on #243
Hello ! I was wondering what state this was in ? Is there a plan, a branch or some code? Or is it already covered by a contrib project and thus closed *hopeful face*. Hope all are well!

[2019-06-27 16:05] iancooper commented on #243
@penderi No, it's in alpha. We need someone who deals with ASB to pick it up really, because the rest of the team are RMQ or AWS

We should do beer soon!

[2019-06-28 16:54] penderi commented on #243
I may know someone. Us. Just need to know plans (ie how to map to ASB concepts). Simple would be good (at least for now) as tight timescales but willingness to help. Beer. Hell yeah.

[2019-07-04 16:05] penderi commented on #243
I *may* have something coded. I've gutted the Sqs Messaging Gateway and have an ASB version working the same way. Can you let me know if that's what you had envisaged ? And that you're happy with the SQS code?

[2019-07-04 16:05] penderi commented on #243
AND BEERS DATES

[2019-07-05 08:34] penderi commented on #243
Re:ASB. It seems the only tricky part is on the consumer - what to use for Reject and Requeue.
So I need to know the nature of Reject (and go easy I am primitive in AMQP). Does this reject on this consumer and leave for another (seems like Abandon of lock in ASB) or is this reject the message for processing and dead letter?

Requeue - there's a path that suggests reject the message and re-sending.

[2019-07-26 10:28] iancooper commented on #516
A couple of thoughts. We have added support for registering some global attributes, I'll dig that out later, which lets you avoid the problem of repeated registration. That might solve your problem. We need to document this I think

Alternatively, this looks like our existing issues about proper support for a fluent approach, that also respects the attributes on the individual handlers, and we cou

[2019-07-26 10:31] iancooper commented on #315
OK, I'll probably start looking at this one now

[2019-07-29 09:33] spektrix-dev commented on #516
Okay. Thanks @iancooper , we will give that a go.

I spiked out my thoughts just after I raised this issue
https://github.com/acraven/Brighter/commit/84533a1bc0db3901e59b4c728c4af6996d16e390

[2019-09-02 14:04] wwestrop opened #721 "Brighter does not allow messages to be sent as persistent when using RabbitMQ"
**Is your feature request related to a problem? Please describe.**
When using RabbitMQ as the messaging gateway, the queues/exchanges it creates can be marked as `durable` and will survive a server failure, but the messages themselves are not sent as `persistent`, so they will be lost.

**Describe the solution you'd like**
I'm not 100% on what the solution would look like, but I imagine some way o

[2019-09-13 21:28] holytshirt commented on #721
@iancooper I can't remember why we didn't add persistent messages?

[2019-09-25 11:05] alanmynah commented on #335
@holytshirt, this should now be fixed.

https://www.goparamore.io/hello-world

[2019-09-25 11:08] alanmynah commented on #336
@holytshirt, This is also now fixed

[2019-09-25 12:00] alanmynah commented on #277
@holytshirt, this one is fixed too.

[2019-09-25 16:51] iancooper commented on #721
Sorry, missed this. At the time we made that choice there were complexities with having queues with persistent messages in some failure scenarios for the RMQ broker. As we store the outgoing message in the message box, we reasoned that it was on balance better to replay.

Much of this has changed, including when RMQ chooses to persist (answer seems to be the flag is not as absolute either way as y

[2019-09-25 19:46] #277 closed

[2019-09-25 19:46] holytshirt commented on #277
Awesome, thank you!

[2019-09-25 19:47] holytshirt commented on #336
👍

[2019-09-25 19:47] #336 closed

[2019-09-25 19:48] holytshirt commented on #335
👍

[2019-09-25 19:48] #335 closed

[2019-10-10 09:23] iancooper commented on #315
We have some basic fixes here, going to close this issue for now

[2019-10-10 09:26] iancooper commented on #376
@skatersezo Any joy?

[2019-10-11 08:19] skatersezo commented on #376
@iancooper sorry I haven't put my hands back on this in long time.

[2019-10-30 19:09] holytshirt opened #846 "System.InvalidOperationException: You cannot enqueue more items than the buffer length"
**Describe the bug**
When callign `End()` on the dispatcher

**To Reproduce**
Steps to reproduce the behavior:
When as service is stopped `_dispatcher.End().Wait();` is called we are seeing these errors .

[code]

Seems to happen if you have a lot of consumers with performers.

**Expected behavior**
Should shut down cleanly

[2019-11-08 16:46] holytshirt commented on #846
Fixed in release v8.1.11

[2019-11-08 16:46] #846 closed

[2019-11-20 15:34] homcl commented on #721
Working on this issue

[2019-11-20 15:44] iancooper commented on #721
Awesome. Thank you

[2019-11-29 16:45] homcl commented on #309
https://www.rabbitmq.com/connection-blocked.html

[2019-11-29 17:09] iancooper commented on #309
@homcl  Are you volunteering?

[2019-11-29 23:20] holytshirt commented on #309
Yes she is!

On Fri, 29 Nov 2019, 17:09 Ian Cooper, <notifications@github.com> wrote:

[2019-11-30 08:20] homcl commented on #309
Hi Ian

I am volunteering to do this issue. I wasn’t sure where to start so Toby found this link. I’ll give it a read. I need to push a minor change to #721 (persist message) also.

Hope

Hope Mcleod | Junior Developer
Huddle – Transform the way you work!

Hope.mcleod@huddle.com

Ninian Solutions Ltd (trading as Huddle) is registered in England & Wales at Aldgate Tower, 2 Leman Street, London, UK

[2019-12-13 18:46] SeanFarrow opened #938 "Upgrade all samples to the latest lts release"
It is desirable to have all samples upgraded to the latest .Net lts release v3.1.

[2019-12-16 10:35] iancooper commented on #721
Thanks @homcl Closing this one now

[2019-12-16 10:35] #721 closed

[2019-12-16 10:37] iancooper commented on #281
Over time I have grown cold on routing slips and we probably need a proper process manager

[2019-12-16 10:37] #281 closed

[2019-12-16 10:39] #282 closed

[2019-12-16 10:41] iancooper commented on #376
Put back into the backlog

[2019-12-18 13:44] alanmynah opened #954 "Auto-restart Performers"
**Is your feature request related to a problem? Please describe.**

We noticed that a consumer count was going down and not recovering in Rabbit. Restarting a service brings the count back up.

From what we found in code, Brighter knows how to get to required number on start-up, but we could not find anything about some kind of a process that oversees the numbers of performers and gets them back u

[2019-12-18 14:49] iancooper commented on #954
Let me grab this one, as I am playing with our pump options and management and my head is in the right space

[2020-01-15 16:21] #309 closed

[2020-02-03 14:36] holytshirt opened #1027 "Move Paramore Brighter Extensions within the Brighter repo"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-07 12:11] #405 closed

[2020-02-07 12:12] #374 closed

[2020-02-07 12:13] #305 closed

[2020-02-07 12:14] #76 closed

[2020-02-07 12:15] #63 closed

[2020-02-07 12:15] #64 closed

[2020-02-07 12:15] #22 closed

[2020-02-07 12:15] #23 closed

[2020-02-07 12:16] iancooper commented on #6
The world has moved on and we probably want to support OpentTracing at this point

[2020-02-07 12:18] iancooper commented on #6
Now replaced by #301

[2020-02-07 12:18] #6 closed

[2020-02-07 12:19] #312 closed

[2020-02-18 16:58] jkears opened #1047 "Kafka on Confluent Cloud"
Need additional configurations on KafkaMessagingGatewayConfiguration security.protocol, sasl.username and sasl.password in order to connect to the Kafka Confluent Cloud

[2020-02-25 12:41] homcl commented on #303
I'll take this one. Pls assign me to it.

[2020-03-03 14:03] iancooper commented on #1047
@jkears Feel free to give us a PR, otherwise we will pick this us asap

[2020-03-03 14:05] iancooper commented on #46
Closing for now, until we see demand

[2020-03-03 14:05] #46 closed

[2020-03-03 14:12] iancooper commented on #516
@spektrix-dev Sorry, I never saw this and just picked up in review. It's worth using our Gitter channel when this happens. Let me take a look asap

[2020-03-03 14:13] iancooper commented on #489
Closed until they hit a more stable release

[2020-03-03 14:13] #489 closed

[2020-03-03 14:14] iancooper commented on #4
Closing this, because it has never bubbled enough for anyone to offer a PR, and post host builder might be a different concern

[2020-03-03 14:14] #4 closed

[2020-03-03 14:15] iancooper commented on #344
Closed for now, interesting but we have other priorities

[2020-03-03 14:15] #344 closed

[2020-03-03 14:17] iancooper commented on #242
LibLog has now been deprecated: https://github.com/damianh/LibLog

"My recommend course of action for library developers is to use Microsoft.Extensions.Logging.Abstractions as it is now the defacto standard logging interface in the .NET ecosystem. For library developers that wish to continue to use LibLog or need to make adjustments for their needs should copy the code into their project (after al

[2020-03-03 14:22] iancooper opened #1065 "Use Polly Timeout for Timeout"
**Is your feature request related to a problem? Please describe.**
We have a Timeout feature that is based on MS code (based on the old idea of start timer with callback, if callback finishes before work, time out). Polly not supports a similar Timeout policy, and our code is erratic, so we should deprecate our version for Polly

**Describe the solution you'd like**
We should mark the attribute as

[2020-03-03 14:40] iancooper opened #1066 "RMQ Close Connection is deprecated"
**Is your feature request related to a problem? Please describe.**
We get the following build warning from the .NET RMQ client

RMQMessageGateway.cs(139,21): warning CS0618: 'IConnection.AutoClose' is obsolete: 'Please explicitly close connections instead.' [/Users/ian.cooper/CSharpProjects/github/BrighterCommand/Brighter/src/Paramore.Brighter.MessagingGateway.RMQ/Paramore.Brighter.MessagingGatewa

[2020-03-24 10:42] #1066 closed

[2020-03-24 10:43] holytshirt commented on #1066
Fixed in brighter V8 and in master for V9

[2020-03-24 10:46] holytshirt commented on #954
We I fixed https://github.com/BrighterCommand/Brighter/commit/6019b7c9874b230e19533bd0f5a03801c53c770c
our disappearing consumers stopped.

[2020-03-24 10:48] holytshirt commented on #303
@homcl  I think you did this already?

[2020-03-24 10:53] holytshirt commented on #303
Fixed with this commit https://github.com/BrighterCommand/Brighter/commit/28445044d2a48df20b79876e79fa4286ec133c60

[2020-03-24 10:53] #303 closed

[2020-04-09 09:46] dsquadcgi opened #1157 "async messagestore"
Hi
i can't find a way to register an asyncmessagestore
in ServiceCollectionExtensions class, line 51 MessagingConfiguration is called with a BrighterMessaging structure which fill  the object with a messagestore value. but there  is also a different ctor with asyncmessagestore.
can you provide us a way to use this constructor please ?

[2020-04-09 13:40] jpiquot opened #1101 "Microsoft Dapr"
Hi,

Any plan to support Microsoft Dapr state storage and pub/sub features?

[Dapr Home](https://dapr.io/)
[Dapr Github](https://github.com/dapr/dapr)
[Dapr DotNet Github](https://github.com/dapr/dotnet-sdk)

[2020-05-20 10:27] iancooper commented on #1101
@jpiquot Good question. Dapr is so new that our thoughts about this are very nascent. Hoping to get some more time over the next couple of weeks to understand what it might mean to us

[2020-06-06 21:10] holytshirt commented on #1027
Done

[2020-06-06 21:10] #1027 closed

[2020-06-22 18:13] iancooper opened #1185 "eSwitch to Redis Streams and StackExchange Redis"
**Is your feature request related to a problem? Please describe.**
ServiceStack.Redis is only free up to a limited number of API calls per hour, after that it is a paid product. We use ServiceStack.Redis because our implementation of queues over Redis requires use of a Blocking Pop operation which cannot work on a multi-plexed channel over a single threaded database like Redis. This creates an iss

[2020-07-16 07:21] dsquadcgi opened #1196 "Cannot post simple event to AWS SQS"
**Describe the bug**
I cannot achieve to post an event to an AWS SQS queue. I'm using Brighter and AWSSQS v 8.1.1399.
Am I missing a configuration ?

**To Reproduce**
1. Declare an empty Event
2. Configure Brighter

[code]
3. Post the event

[code]

**Additional context**
Posting the same message with a RBMQ producer works well (see code).

Using RBMQ, I have this line of log, that I don't have wh

[2020-07-16 15:12] iancooper opened #1197 "[Feature] Support Polly Context"
**Is your feature request related to a problem? Please describe.**
We cannot access the Polly Context in a policy, to allow logging for example, because we do not use the version of ExecuteAsync which supplies a context

**Describe the solution you'd like**
Pass a Polly Context to the ExecuteAsync call. We may need to use our own internal context to transport a Polly Context through to the handler

[2020-07-17 10:06] iancooper opened #1198 "Remove RavenDB from documentation"
**Describe the bug**
We no longer support RavenDb as a store

**To Reproduce**
Some of our documentation still refers to RavenDb: https://www.goparamore.io/new-page-2

**Expected behavior**
There should be no references to RavenDb in our documentation

**Additional context**
We should review the list of storage providers for accuracy in our documentation

[2020-07-28 09:27] holytshirt opened #1208 "[Feature] Add NATS as a new message gateway"
https://nats.io/

NATS was built to meet the distributed computing needs of today and tomorrow. NATS is simple and secure messaging made for developers and operators who want to spend more time developing modern applications and services than worrying about a distributed communication system.

- Easy to use for developers and operators
- High-Performance
- Always on and available
- Extremely light

[2020-08-18 08:43] iancooper commented on #1208
Agree, it would be useful to add it

[2020-08-18 08:45] iancooper commented on #1196
@dsquadcgi Thanks, will take a look and see what broke

[2020-08-18 08:46] #317 closed

[2020-09-09 18:10] iancooper opened #1233 "Working Build"
**Describe the bug**
We have not had a reliable build for some time. Much of the issue here is due to the desire to run tests for all of the transports automatically. It might be more sensible to split as follows:

* CI build used by GitHub for PRs is Core tests only. These run without dependencies
* We use a separate step to run all of our transport tests

**To Reproduce**
Steps to reproduce the

[2020-09-09 18:11] iancooper commented on #1196
Closing this for now

[2020-09-09 18:11] #1196 closed

[2020-09-22 08:27] vmartos opened #1254 "Add support for structured logging"
Hello,

We are using Brighter for the message bus in our application, we have centralized logging using elasticsearch + kibana. We saw that in certain fields there are type conflicts (long and string with the same field), all of them are related with Paramore.Brighter.* logs.

![image](https://user-images.githubusercontent.com/10826413/93856255-074f2c80-fcb9-11ea-8893-5a99d6a1f373.png)

My feature

[2020-09-25 13:47] #1233 closed

[2020-10-12 20:48] iancooper opened #1272 "Review all tests that use Task.Delay()"
**Is your feature request related to a problem? Please describe.**
We use Task.Delay in a number of tests related to the work of the message pump. The problem we have is that the pump runs until sent a terminate, and this takes time to happen. But, tests that use a Task.Delay are fragile. Fragile Tests cause us to lose our rhythm investigating them and may encourage us to work with red tests.

**D

[2020-10-12 22:11] iancooper opened #1273 "Create a Sidecar console project"
**Is your feature request related to a problem? Please describe.**
The goal here is to allow us to run Brighter as a sidecar

**Describe the solution you'd like**
Implement the Dapr Pub-Sub specification i.e. we can hot swap for Dapr
https://github.com/dapr/docs/blob/master/reference/api/pubsub_api.md

**Describe alternatives you've considered**
Using RESTMS as the API over using Dapr. It is possi

[2020-10-13 05:40] iancooper commented on #1273
Interesting question is, do we want the callback to be in ServiceActivator (requires ASP.NET in Service Activator) or stand alone. Adding ASP.NET to service activator does open some things we have resisted, such as a monitoring endpoint on the service

[2020-10-28 09:59] iancooper opened #1293 "Provide Support for Both Short and Long Polling in SQS"
**Is your feature request related to a problem? Please describe.**
AWS provides support for both short and long polling strategies, allowing a client to trade latency for non-empty responses: https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-short-and-long-polling.html

**Describe the solution you'd like**
When configuring a consumer we should be able to elect either s

[2020-10-28 10:08] iancooper opened #1294 "[Feature] Support FIFO Queues in AWS transport"
**Is your feature request related to a problem? Please describe.**
Because of our Broker based model, and the lack of support for FIFO based queues via SNS, we have not supported AWS FIFO SQS queues as they were not available from SNS. They now are. https://aws.amazon.com/blogs/aws/introducing-amazon-sns-fifo-first-in-first-out-pub-sub-messaging/

**Describe the solution you'd like**
* We want to

[2020-11-06 17:35] iancooper opened #1303 "Support Using Redis as an Inbox"
**Is your feature request related to a problem? Please describe.**
An Inbox only requires a key-value store. It needs a fast lookup time, and it would be useful if messages received could be evicted automatically via a TTL. We currently support several RDBMS solutions in this role, but only DynamoDB as a key-value store, despite supporting Redis as a transport.

**Describe the solution you'd like*

[2020-11-28 17:06] zlavoie opened #1324 "Supporting C#9 init-only properties for Commands"
**Is your feature request related to a problem? Please describe.**
C#9 came out with records and init-only properties. So now when trying to implement records, I am limited to using  'set' in IRequest.

**Describe the solution you'd like**
 If the Id of IRequest can be init instead of set, then it can be used in a record and the comand can be fired to the handler.

**Describe alternatives you've c

[2020-12-15 09:47] iancooper commented on #1324
Yeah, we need to look at how we support C# 9 and even nullable reference types properly. One issue for us is backwards compatibility. For now, in a related example, it may make more sense for us to target LTS releases of .NET, so 6 vs 5. When looking at new language feature support i.e. treating a message as a record type, we need to think about breaking folks who are not using C# 9 yet.

So it ne

[2020-12-15 09:54] iancooper commented on #1324
@zlavoie Do you know anything about the backward compatibility of C# 9 init properties, I have not had a chance to look

[2020-12-19 17:30] Shawn-Fan commented on #1273
What a very exciting project.
There are many client APIs(Net, Java, ...) for Dapr runtimes and pub/sub api is called by the client API.
I am wandering if the project (Brighter as a sidecar) supports all the APIs(net, java,...) or just for one specific client API(for example .net api) or else? how the Brighter as a sidecar works(In the application code/ In the client API/ In the Dapr sidecar)? Than

[2020-12-21 09:43] iancooper commented on #1273
@Shawn-Fan it is a proposal for now. Dapr is just a simple HTTP API over transports, we already abstract transports, so we could build something similar. As I think more about this though, I think Dapr's API is very lilmited and it might be smarter to use something like RESTMS to build a sidecar.

[2020-12-23 15:18] iancooper opened #1346 "Switch to AsyncHelper where we need to do sync over async"
**Is your feature request related to a problem? Please describe.**
We have some places where we need to have sync over async, usually because we are supporting a sync api but the transport only has an async api. The problem is that this code is likely to deadlock. For this reason we need to make sure we use the best approach to that

**Describe the solution you'd like**
Use AsyncHelper: https://gi

[2020-12-29 10:38] iancooper commented on #1254
We already have a discussion of the need to remove LibLog, but this is valuable input. We should continue the discussion under #

[2020-12-29 10:39] iancooper commented on #242
We should not the comments in #1254

[2020-12-29 10:40] iancooper commented on #242
We should also note #299

[2020-12-29 10:40] iancooper commented on #299
Added to #242

[2020-12-29 11:02] iancooper commented on #242
When looking at replacement of LibLog, I believe that there are a number of related issues:

(1) We should consider where a framework 'logs'. It may be better for a framework to use TRACE and DEBUG to allow consumers of the framework to diagnose faults, but not log, as logging from the framework may be verbose and unhelpful for highlighting problems in production code. Under this model, any existi

[2021-01-19 06:41] Shawn-Fan commented on #1273
@iancooper After some researches on it, the workflow could be as following:
 1)   microservcies A--> sidecar(Brighter) --->Dapr (API interface->server) sidecar A====> Dapr sidecar B-->sidecar(Brighter)-->Microservices B
OR
2) microservcies A(Brighter + Dapr net API) -->Dapr sidecar A====> Dapr sidecar B-->Microservices B(Brighter+ Dapr net API)
The problem is that Brighter works on pub/sub of Dapr

[2021-01-19 09:30] iancooper commented on #1273
@Shawn-Fan

I think that Brighter and Dapr solve the same problem. They are abstractions over message-oriented- middleware, provide a message pump to pull messages of a queue etc.

The difference is that Dapr runs not as an library, or framework for the consumer,  but as a separate process that you call using HTTP. In return for that latency, you get to use one library across your microservices, r

[2021-01-20 17:40] Shawn-Fan commented on #1273
@iancooper In my knowledge, the Dapr messaging is the abstract layer above the communication among the kubernetes(pod) in the cluster.  This is the reason why Brighter should be used to on the layer, or else, we do not have to use Dapr.

[2021-01-21 20:45] iancooper commented on #1273
@Shawn-Fan Dapr is an abstraction over multiple possible transports, RMQ, NATS, HTTP etc. In that sense it is no different to Brighter. I don't think we would consider it a transport.

[2021-01-21 20:46] iancooper commented on #1101
I'm going to park this one. As Dapr is really just an abstraction over transports it has the same role as Brighter. It's more likely that we would deploy Brighter as a sidecar.

[2021-01-21 20:46] #1101 closed

[2021-01-22 02:47] Shawn-Fan commented on #1273
@iancooper You can have a look at the source code of http/grpc interface:
    https://github.com/dapr/dapr/blob/master/pkg/http/api.go
    https://github.com/dapr/dapr/blob/master/pkg/grpc/api.go

[2021-01-26 10:08] gcaferra opened #1375 "Variable reference not used"
https://github.com/BrighterCommand/Brighter/blob/e76b912a171f9e7b90c224173d606648a74525c5/src/Paramore.Brighter.MessagingGateway.RMQ/PullConsumer.cs#L87

as seen above a local copy of messages is created but the following loop is using the field

[2021-02-09 15:33] holytshirt commented on #1375
Thanks @gcaferra do you want to do a pull request?

[2021-02-09 15:35] holytshirt commented on #1375
Don't worry, I'll just delete the line. Thanks so much for finding it!

[2021-02-09 17:31] holytshirt commented on #1375
Done

[2021-02-09 17:32] #1375 closed

[2021-02-10 15:36] holytshirt opened #1388 "[Feature] Create AsyncAPI specification 2.0.0 documentation for Service Activator consumers"
**Is your feature request related to a problem? Please describe.**
I would like to create automated document for the message consumers, this the messaging version of OpenAPI spec

**Describe the solution you'd like**
https://www.asyncapi.com/docs/specifications/2.0.0

**Describe alternatives you've considered**
Have not found any alternatives

The asyncapi format can also be edited by https://stop

[2021-02-10 16:00] holytshirt opened #1390 "V9 NoOpOutbox does not work"
### Describe the bug
The NoOpOutbox does not work
https://github.com/BrighterCommand/Brighter/blob/master/src/Paramore.Brighter/NoOpOutbox.cs

### To Reproduce
Configure Brighter with NoOpOutbox and Post() message.
You'll get a null exception

### Exceptions (if any)

### Further technical details
- Brighter version: 9.0.0

[2021-02-10 16:09] iancooper commented on #1390
Thanks @holytshirt Top of my list.

[2021-02-10 16:36] holytshirt opened #1391 "V9 SQL Outbox missing headers"
### Describe the bug
When using the SQL outbox and you Post() a message, the message on the queue is missing the CorrelationId.
The Message persisted to the database is also missing the CorrelationId.

Here is the code writing to SQL
https://github.com/BrighterCommand/Brighter/blob/master/src/Paramore.Brighter.Outbox.MsSql/MsSqlOutbox.cs#L449-L461

and here are all the properties on MessageHeader

[2021-02-10 23:40] iancooper commented on #1391
Thanks

[2021-02-14 19:56] iancooper commented on #1390
See #1394

[2021-02-14 19:59] iancooper commented on #1390
PS Design is loosely based on the Microsoft.Extensions.Caching InMemoryCache i.e. threads for sweep and compaction.

[2021-02-16 09:39] iancooper commented on #71
Reopened this issue as we don't have an Inbox for Postgres, and we need to confirm this error is gone

[2021-02-16 09:40] #1324 closed

[2021-02-16 09:41] #1273 closed

[2021-02-16 09:42] #516 closed

[2021-02-16 09:43] #1272 closed

[2021-02-17 10:42] #1390 closed

[2021-02-17 15:16] iancooper opened #1406 "Skip declaring channels if desired"
**Is your feature request related to a problem? Please describe.**
We always declare infrastructure. If infrastructure is being declared via Terraform, Pulumi or the like, we don't need to re-declare. It might also be desirable not to dec lare, even if it is missing.

**Describe the solution you'd like**
Create a flag:

* Declare (if missing)
* Validate and Never Declare

It should default to exis

[2021-02-18 11:42] iancooper opened #1408 "Allow for cross-account queue usage in AWS SQS/SNS"
### Describe the bug
It's quite common to have the queue defined in a different account to the topic, we need to make sure you can still subscribe

### To Reproduce
Create an SNS Topic and an SQS queue in different accounts, try to subscribe one to the other

### Further technical details
We are going to assume the following are commonly true:

* The queue lives in the subscribers's account
* The

[2021-02-18 11:46] iancooper commented on #1157
I added a constructor that looks for the missing async interfaces as part of testing #1407. It would work the other way too, and look for missing sync interfaces

[2021-02-18 11:49] iancooper commented on #954
@holytshirt I think this one still needs attention. Try the following, spin up an RMQ sample against docker-hosted infra. Kill the infra. The consumer loops but eventually kills its performers. It then won't restart once the infra comes back online. It ought to monitor its performer count and restart them if it falls below the desired number

[2021-02-20 16:27] iancooper commented on #113
Opted to handle this by using the middleware support for a dead-letter queue instead. We can revisit this but the correctness of the concern around invalid message queues is not in line with expectations of users of a platform that their dead-letter queue approach won't be supported

[2021-02-21 12:56] iancooper opened #1409 "Bug: Missing Tests for MSSQL Gateway"
### Describe the bug
The MSSQL has no regression tests

### To Reproduce
Look at the project structure, we might expect them to be in the MSSQL tests project under a MessagingGateway folder, but they are not there

### Further technical details
Whilst a transport may use Test After as opposed to Test First (because you are writing a plugin not designing contract first) we do need to ensure that we

[2021-02-21 13:03] iancooper commented on #1293
We can use a WaitTimeOutInSeconds of 0 to get this behavior, because we have extended the parameter list

[2021-02-21 13:04] iancooper commented on #1157
@holytshirt Can you take a look at this, once we get the main PRs in, not sure if they cover this

[2021-02-21 13:05] iancooper commented on #1047
I'll address this as part of that work

[2021-02-21 13:08] iancooper commented on #938
@holytshirt I picked this up because as I started to alter the samples this one popped out for me

[2021-02-21 13:09] iancooper commented on #938
@holytshirt We may need to watch for regression with multiple PRs 'in flight'

[2021-02-21 13:11] iancooper commented on #388
Need to check the Inbox changes for this

[2021-02-21 13:12] iancooper commented on #265
The completion of the Outbox work makes this one more straightforward as the publisher confirms merely marks as dispatched

[2021-02-21 13:12] iancooper commented on #71
Added an inbox via the inbox work

[2021-02-24 17:55] #388 closed

[2021-02-24 17:55] #938 closed

[2021-02-24 17:55] #1303 closed

[2021-02-24 17:55] #1391 closed

[2021-03-01 13:13] #113 closed

[2021-03-01 13:13] #1047 closed

[2021-03-01 13:13] #1293 closed

[2021-03-01 13:13] #1406 closed

[2021-03-01 13:13] #1408 closed

[2021-03-03 18:00] holytshirt opened #1420 "Add documentation for interop-ing with Brighter from other services"
**Is your feature request related to a problem? Please describe.**
I would like to know how Brighter reacts if it receives messages from other systems.

**Describe the solution you'd like**
Would like to know if you can rely on default behavior or if any additional message headers are needed

[2021-03-18 10:08] #28 closed

[2021-03-18 11:30] #71 closed

[2021-03-18 16:55] penderi opened #1442 "ASB - add integration test(s) for ASB"
We need coverage to ensure ASB transport is working.

Add at least one happy path test(s), following the SQS/SNS example by allowing:
- specifying credentials in environmental variables
- running  against a real ASB instance

mentioned in #1438

[2021-03-18 16:58] penderi opened #1443 "ASB - add support for Azure Managed Service Identities for connections"
Azure services typically use MSI to control access to resource from services. Current ASB implementation allows only a connections tring.

Allow Azure connections (via config) to specify MSI connection

mentioned in #1438

[2021-03-18 17:01] penderi opened #1444 "ASB - allow creating of topics/subscriptions to be optional"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Cloud hosting typically leaves infra concerns (topuic/subscription creation) to be outside of the scope of a component or service. Moreover reduced-rights deployment means attempts to create will fail.

Add the ability to ASB transport to

[2021-03-18 17:05] penderi opened #1445 "ASB - allow configirable ack behaviour - allow ack post-read (current & brighter default), or on read (ASb default)"
ASB currently reads and acks in one action (this is less chatty).  This is also contra to other transports (rabbit/SQS) which ack post successful handle.

We should allow the behaviour to be configurable - to allow more guarenteed, but less performant (acc post-handle) or more perfomant (ack on read)

mentioned in #1438

[2021-03-18 17:13] preardon commented on #1443
@penderi I would be more than happy to pick this one up

[2021-03-18 17:46] preardon commented on #1443
@penderi  From what I can see this isn't required as it comes out of the box with the Topic Client (via the Connection String "Endpoint=sb://xxx.servicebus.windows.net/;Authentication=Managed Identity" )

See  ( https://github.com/Azure/azure-sdk-for-net/blob/1e2b25c14c307be96365c45b0f47dbdc2df03649/sdk/servicebus/Microsoft.Azure.ServiceBus/src/ServiceBusConnection.cs#L19 )

[2021-03-18 18:43] preardon commented on #1444
@penderi @iancooper I'll have a PR in for this in ~30 minutes

[2021-03-18 18:56] iancooper commented on #1444
@preardon Guessing you have seen the optional creation enum on the V9 publication and subscription?

[2021-03-18 18:59] preardon commented on #1444
@iancooper I have not, I was just adding creation Booleans to AzureServiceBusConfiguration as I figured I would keep this confined to ASB Config. I can have a look to wire it up to the over arching config if you like

[2021-03-18 19:16] iancooper commented on #1444
@preardon So on Subscription https://github.com/BrighterCommand/Brighter/blob/master/src/Paramore.Brighter/Subscription.cs and Publication https://github.com/BrighterCommand/Brighter/blob/master/src/Paramore.Brighter/Publication.cs we have an enum OnMissingChannels that indicates what you want us to do:

- Assume - don't validate or create, it's there trust me (low latency)
- Validate - check its

[2021-03-18 19:35] iancooper commented on #1444
+ @penderi and @preardon Please make sure you are talking so we don't have two folks trying to fix the same issue :-D

[2021-03-18 20:37] penderi commented on #1444
@iancooper don't worry @preardon is a mate at Flagstone, all good.

[2021-03-18 20:45] penderi commented on #1443
@iancooper I raised this thinking we've an issue. We're confident it should be ok - I propose we close. If we see any issue we'll address it and re-open.

[2021-03-18 20:50] penderi commented on #1445
@mustodomenico added this comment that's worth bearing in mind https://github.com/BrighterCommand/Brighter/pull/1438#issuecomment-801437587

[2021-03-19 00:31] holytshirt commented on #1444
Let me know if you happy to close this now @iancooper

[2021-03-19 02:35] honkuan86 opened #1447 "AWS SQS - Unable to parse messages from non-Brighter services"
### Describe the bug
When we are using Brighter to exchange messages with services from different technology stacks (Java, etc) that are not using Brighter as message producer in AWS SQS, Brighter failed to parsed the message and throws error, because the Message Attributes that Brighter expecting is not provided.

### To Reproduce
Publish message to queue without using Brighter, then process the

[2021-03-19 09:17] iancooper commented on #1444
@holytshirt Going to look shortly

[2021-03-19 09:18] preardon commented on #1445
@penderi I'll cast an eye over this, so effectively you want to Read, Lock, process, ACK/Fail?

[2021-03-19 09:41] iancooper commented on #1444
@holytshirt I just wanted to check on the following. Forwarding my comments from the PR:

@preardon So the only thing that might be missing is that the consumer doesn't check for the topic and create it if asked to create. I don't know enough about the management wrapper to know if that will automatically check for the topic and create it, if it is missing, but it would probably need that if not.

[2021-03-19 09:42] iancooper commented on #1444
If it subscription doesn't check for/auto-create the topic, we'll need a PR to fix that before we can close this issue.

[2021-03-19 10:06] preardon commented on #1444
@iancooper I will have a look and report back

[2021-03-19 11:57] mustodomenico commented on #1445
yeah so you should be able to take the code mentioned in the comment and branch it behind a configuration value

[2021-03-19 12:06] preardon commented on #1444
@iancooper Have confirmed, does not AutoCreate Topic, PR Incoming

[2021-03-19 15:39] iancooper commented on #1445
@preardon This behavior is the default for Brighter. So if receive just does a lock so others read past (different implementations on different platforms i.e. explicit lock on RMQ, VisibilityTimeout on SQS), then on acknowledge you ack/delete from the queue, you get default behavior. But, as it caused Spektrix pain, we want to make it configurable to AckOnRead as they have already, which would mak

[2021-03-19 23:21] preardon commented on #242
@iancooper how in this one going? Still need a hand?

[2021-03-20 11:49] #1447 closed

[2021-03-20 14:16] #1346 closed

[2021-03-20 14:20] iancooper commented on #515
Going to close this one. We default to MT_EVENT if no header as our approach is tolerant reader. This will fail if the requesthandler is expecting a command of course. At this point, we don't know what type it will serialize to. We are on GetMessage and not TranslateMessage, so we can't inspect the type you intend to map too.

My suggestion would be to alter the sender, and if you can't alter the

[2021-03-20 14:20] #515 closed

[2021-03-20 14:20] iancooper commented on #242
@preardon This one is with @holytshirt right now.

Plan has changed to:
* Use MS ILogger
* Use the approach outlined here to create a global logger factory and initialize class level loggers from it in their constructor:https://docs.microsoft.com/en-us/archive/msdn-magazine/2016/april/essential-net-logging-with-net-core
* Make it possible to set this from your logger via our hostbuilder extensions

[2021-03-20 14:24] iancooper commented on #1254
Hey @holytshirt this is worth thinking about when we tackle replacing LibLog in #242

[2021-03-20 14:30] preardon commented on #242
@holytshirt happy to help if you want a hand. I am familiar with ILogger.

Let me know if I could be of use

[2021-03-20 15:00] iancooper commented on #299
@holytshirt If you are looking at logging, worth noting if we can obfuscate for PII etc

[2021-03-22 14:08] preardon opened #1457 "Replace Newtonsoft.Json with System.Text.Json"
Update of Dependencies

Replace the use of Newtonsoft.Json to use the newer System.Text.Json in Brighter

Performance Gains ( https://devblogs.microsoft.com/dotnet/whats-next-for-system-text-json/ ) I'm aware this link is old, however I believe its only gotten better and know that there have been a few extra features added as part of 5.0

System.Text.Json
https://docs.microsoft.com/en-us/dotnet/st

[2021-03-22 14:13] penderi commented on #1457
I hadn't even thogut of this, but I like it!

[2021-03-22 14:33] preardon commented on #1457
@penderi you know me, I just see Newtonsoft.Json and want to rip it out and replace it with System.Text.Json

Looks like its only really used for the In Memory Inbox, but if this table is to be believed
![image](https://user-images.githubusercontent.com/7712876/112006040-400e7800-8b1b-11eb-9545-77544ab3a87a.png)

(and its even an iteration old) then 2x desterilisation and 1.5x serialisation could

[2021-03-27 21:53] preardon commented on #1444
Was doing some testing and found that I missed plumbing a part, PR incoming

[2021-03-27 22:23] preardon commented on #1444
@iancooper Hey Mate, was looking deeper into this tonight, the error that ends up getting thrown on Channel Failure due to not Topic / Subscription Not existing ends up being "Could not receive message. Note that should return an MT_NONE from an empty queue on timeout" (MessagePump Line 89), Just wanted to get your opinion on this as while the original Error with reason gets swallowed, it'll be lo

[2021-03-29 08:21] iancooper commented on #1457
@preardon it should definitely go on our list, but perhaps post v9 at this point. We do have some older dependencies, such as LibLog and this one that need to go, but I suspect we will only get to LibLog if we want to "call" this release as done. Further reducing the set of our dependencies outside the BCL for the core libraries would also be good. If we end up with just Polly for that, it would b

[2021-03-29 08:38] iancooper commented on #1457
That said @preardon feel free to do the work, and we can see when it lands.

[2021-03-29 09:10] preardon commented on #1457
@iancooper I'll take a look today from memory you were only using it in one or two places, if it isn't much I'll get a PR in for it

[2021-03-29 09:32] iancooper commented on #1457
@preardon it's in a few places on Brighter, where we want to serialize, such as monitoring, as well as the Outbox/Inbox. You will also find it's used in transports and a lot in the tests. Worth doing, but a bit of a chore. Thanks for picking it up.

[2021-03-29 13:51] preardon commented on #1457
@iancooper yeah this went a bit more than I original thought ~111 file PR will be inbound after some extra testing)

On another note, do you have strong feelings about Property Name Casing in Json, I tend to prefer Camel for json and Pascal for Dotnet. I've just run into some tests where I have to make a decision?

[2021-03-29 13:57] holytshirt commented on #1457
I prefer Camel for Json and Pascal for Dotnet too.
Just set it in the `JsonSerializerOptions`

[2021-03-29 14:11] preardon commented on #1457
@holytshirt  My exact feels, the issues was the Test was Comparing strings so I could either Change the string to be Camel or the Serialiser to be Pascal, I've Created a static Instance of SerializerOptions so that we can manage them globally

[2021-03-29 14:25] holytshirt commented on #1457
We should probably update the json string compares. FluentAssertions has a nice json addon
https://github.com/fluentassertions/fluentassertions.json

[2021-03-29 14:27] holytshirt commented on #1457
But you don't have to worry about adding that!

[2021-03-29 14:41] preardon commented on #1457
@holytshirt @iancooper I take it the Easiest way to run the tests in your CI pipelines is a PR, I cant run the AWSQS ones locally as I don't have the infrastructure setup locally, Also having some wierdness around the SQLLite Inbox and In Memory Inbox, and I'm fairly confident that I haven't touched anything around them?

[2021-03-29 16:48] preardon commented on #1457
@iancooper I've just check the tests from that PR, there is 1 in Redis that I think I caused (Json Convert Issue, I'll get another PR in to cover that)

[2021-03-29 17:15] preardon commented on #1457
PR #1471 is in to Fix this issues with Redis

[2021-03-29 20:25] iancooper commented on #1457
Go ahead and close it

[2021-03-30 01:20] #1457 closed

[2021-04-05 17:01] preardon commented on #509
@iancooper Was just playing around, thoughts?

![Brighter-Social-Card](https://user-images.githubusercontent.com/7712876/113601137-dd4bcf00-9638-11eb-8e1d-cd1cd7c9f030.png)

[2021-04-05 17:10] iancooper commented on #509
I like the mix of cannon and letters. I like the colors.

Landing page should be: https://www.goparamore.io/
Not sure about the little icon in the QR code though

[2021-04-05 17:17] preardon commented on #509
@iancooper Thats Great news considering the Logo in the QR is being a Pain in my Arse at the minute, I'll update the QR Code, Also I was playing with a grey background on the QR Code, Thoughts?

[2021-04-05 17:21] preardon commented on #509
@iancooper How is this?

![Brighter-Social-Card](https://user-images.githubusercontent.com/7712876/113603279-ab883780-963b-11eb-81d4-45ff6550f1cf.png)

[2021-04-05 17:30] iancooper commented on #509
Looks good, though I still think we should point to the  https://www.goparamore.io/ landing page

[2021-04-05 17:39] preardon commented on #509
@iancooper do you mean the GitHub URL? I changed the QR Code to point to https://www.goparamore.io/

[2021-04-05 17:43] preardon commented on #509
![Brighter-Social-Card](https://user-images.githubusercontent.com/7712876/113605612-d0ca7500-963e-11eb-9665-d5249fae7810.png)

Do you want me to PR this into the Assets/logo Folder?

[2021-04-06 10:09] holytshirt commented on #509
Yes please `Assets/logo` Folder is perfect 👍🏼
Thank you for this!

[2021-04-06 10:13] preardon commented on #509
@holytshirt Just Added PR #1480

[2021-04-08 09:31] preardon commented on #242
@holytshirt How is this one going mate? I really would like to see this in v9 as it gives me personally a lot for free (Logging into App Insights for a start)

Is there anything I can do to help?

[2021-04-11 12:35] holytshirt commented on #242
Hey Paul,

Still in progress, have just trying to get a beta release out.

If I can get anywhere by Wednesday I may have to hand the baton over to you?

On Thu, 8 Apr 2021, 10:32 Paul Reardon, ***@***.***> wrote:

[2021-04-11 14:00] preardon commented on #242
@holytshirt sounds good mate, let me know 🙂

[2021-04-13 13:45] iancooper opened #1486 "Validate infrastructure does not work cross account"
### Describe the bug
When we validate an SNS Topic exists for a publication and subscription we use List Topics. List Topics has two issues:

(A) In environments with a lot of topics this is not performant.
(B) This won't work if the topic is another account. Even if you have permissions to publish to that account, the List Topics call only returns results for topics in the caller's account

### T

[2021-04-15 09:44] preardon commented on #242
@holytshirt How did we go with this mate?

[2021-04-19 13:37] preardon opened #1491 "Update MsSql Inbox and Outbox to use Azure.Identity (MSAL)"
The Current MsSQL inbox and outboxes only current support SQL Authentication and no the newer MSAL Libraries

I would like a config switch to allow the use of Token Based Authentication to the SQL Server (MSAL)

I do no believe that there are any alternate solutions.

[2021-04-19 13:40] preardon commented on #1491
@iancooper If you're happy with this I'll get it done in the next few days mate

[2021-04-19 14:31] iancooper commented on #1491
@preardon Very happy mate. Thanks for adding that.

[2021-04-22 16:23] holytshirt commented on #242
@preardon it was quite a lot of replacing, pull request ready for review.
Do you need the extra stuff for structured logging?

[2021-04-23 10:21] #242 closed

[2021-04-24 03:32] honkuan86 commented on #376
@iancooper , to understand you correctly, currently implementation of the AWSSQS message gateway is that the message producer will only send messages to RoutingKey, and we want to allow the gateway to recognize the topic defined in the message header as well and send the message to the topic instead. Did I understand you correctly ?

[2021-04-24 18:15] iancooper commented on #376
@honkuan86 We don't support SNS filter policies when creating a subscription at the moment i.e. https://docs.aws.amazon.com/sns/latest/dg/sns-message-filtering.html.

The original idea here was instead of making this specific to one transport e.g. we would like to create a cross-transport ability to configure header-value based routing and then implement in transports that can support it. I'm less

[2021-04-25 09:05] preardon commented on #1491
Looking at this again, I'm going to do a quick refactor to plumb through Cancellation tokens to all Async Methods

[2021-04-25 09:18] preardon commented on #1491
@iancooper Is there any Documentation you want be to update with these Configuration Items?

[2021-04-25 12:09] iancooper commented on #1491
We use ReadTheDocs at the moment, and you can find the source in a the docs directory. It might be worth switching to GitBook at some point. I don't think we have per-Db documentation, we tend to rely on tests and samples, so it depends whether you think it needs it, as someone who uses that platform

[2021-04-25 12:37] preardon commented on #1254
@iancooper @holytshirt I will have a PR in for this soon, one thing I would like to discuss are the Fields

At the minute I have used the following

- Id
- CommandType
- EventType
- HandlerType
- RequestType
- Type
- HandlerCount
- HandlerName
- NextHandler
- HandlerTiming
- Topic
- ChannelName
- Request
- OutstandingMessageCount
- SecondsSinceLastCheck
- MessageCheckTime
- InstanceHashCode
- Time

[2021-04-25 13:18] preardon commented on #1254
@holytshirt I see You've already done Most of the ASB project, It it worth Standardising the Logging Fields? i.e. you've used Topic and TopicName for the same thing as well as using SubscriptionName (The ASB name for that component) where I've been using ChannelName (The Brighter Name) regardless?

[2021-04-25 14:59] preardon commented on #1254
PR #1499 in for this

[2021-04-29 10:11] #1486 closed

[2021-04-29 19:16] #1491 closed

[2021-04-29 21:27] preardon commented on #1444
@iancooper I think we can close this

[2021-04-29 21:27] preardon commented on #1445
@iancooper I think we can close this

[2021-04-30 08:26] #1445 closed

[2021-04-30 08:27] #1444 closed

[2021-04-30 08:29] preardon commented on #1443
@iancooper This can be closed as it was already supported

[2021-04-30 10:06] #1443 closed

[2021-04-30 10:09] iancooper commented on #509
@preardon and @holytshirt Can we close this now?

[2021-04-30 10:10] preardon commented on #509
@iancooper As Far as I am aware this is completed

[2021-04-30 11:02] iancooper commented on #509
@holytshirt Feel free to reopen if you to, but closing this one

[2021-04-30 11:02] #509 closed

[2021-04-30 16:52] iancooper commented on #1409
@preardon Have we moved the dial on this one at all?

[2021-04-30 16:54] preardon commented on #1409
@iancooper I wasn't looking at this one, I can pick it up if you would like and can give it the Azure.Identity Treatment while I'm there if you like

[2021-04-30 16:54] iancooper commented on #1254
@preardon Can we list outstanding actions here please? Thanks, you are a star for tackling this one.

[2021-04-30 16:57] preardon commented on #1254
@iancooper I believe the only thing Left was for us to Review how the Keys I used and if we are Happy i.e. Having CommandType, HandlerType and RequestType

[2021-04-30 16:57] iancooper commented on #1409
@preardon Be cool if you could, I'd like to kill any bugs we have related to areas we are working on. (I'd like to kill anything marked Bug, but this is a start).

[2021-04-30 16:58] iancooper commented on #1442
@preardon @penderi Where are we on this one?

[2021-04-30 17:01] iancooper commented on #1254
@preardon Let me review. It occurs that channel name and routing key are different for us. Channel name is what we call your subscription i.e. queue name on some platforms, but routing key is what you subscribe to, i.e. topic on some platforms

[2021-04-30 17:23] iancooper commented on #1254
@preardon Going in, but it might take some time :-D

[2021-05-01 14:20] preardon commented on #1409
@iancooper is Anyone going to get upset, If I modify the Test Helped to point to a docker instance instead of The local one currently being used for Inbox and OutBox

[2021-05-01 15:06] preardon commented on #1409
@iancooper Found a few bugs will fix while I'm in the Ditch

[2021-05-01 15:07] iancooper commented on #1409
@preardon No, that's a good idea.

[2021-05-01 15:14] iancooper commented on #1409
Yeah, I thought that might happen. Hoping to have the logging review done today

[2021-05-01 16:09] preardon commented on #1409
@iancooper Have we had issues with v9 and Deserialization of Messages in General?

[2021-05-01 16:53] preardon opened #1509 "When I Deserialise A Message in V9, it does not Deserialise"
v9 Bug (since System.Text.Json)

it appears when Desearalising Message and Message Body System.Text uses the incorrect Constructors

[2021-05-01 16:58] preardon commented on #1409
Logged a Bug and PR for the Above #1509 and will continue with this after the fix is in

[2021-05-04 08:07] honkuan86 opened #1516 "AWSSQS - SqsSubscription Constructor parameters incorrectly assigned"
### Describe the bug
Found that the SqsSubscription constructor params (bufferSize, noOfPerformers) is assigned incorrectly to the base Subscription class, causing the Dispatcher always create the performers according to the value of bufferSize.

### To Reproduce
Run the AWS sample project should be able to reproduce it.

### Exceptions (if any)
No exception, as it is a behavior bug.

[2021-05-04 08:08] honkuan86 commented on #1516
@iancooper , I'll pick this up

[2021-05-04 08:28] honkuan86 commented on #1516
@iancooper , I can pick this up.

[2021-05-04 08:33] preardon commented on #1509
Closing now this PR is in master

[2021-05-04 08:33] #1509 closed

[2021-05-04 08:40] iancooper commented on #1516
@honkuan86 Please do. Thanks for spotting this one.

[2021-05-05 08:51] iancooper opened #1519 "Messages that are retried too many times should move to DLQ if there is one"
### Describe the bug
To avoid a poison message scenario we only allow you to requeue a message x times. In the event that you are tried beyond that count we ack you, so you won't go onto any DLQ.

In addition, we treat all user code exceptions that bubble out of the handler as application errors i.e. we just ack and move on. We might chose to let you opt to retry a failure that you think is timing

[2021-05-05 09:06] iancooper commented on #1254
So I went through all of these and made some comments for you to all review @holytshirt @preardon
[brighter-logs.xlsx](https://github.com/BrighterCommand/Brighter/files/6426013/brighter-logs.xlsx)

[2021-05-05 14:21] #265 closed

[2021-05-07 08:43] #1516 closed

[2021-05-09 12:07] preardon commented on #1198
@iancooper I believe I've done this as part of the PR let me know if there is anywhere else

[2021-05-11 14:22] preardon commented on #1409
@iancooper I'll have a look, can we spin up Docker in your Pipeline to connect these to?

[2021-05-11 14:38] preardon commented on #1409
@iancooper I've found it and Pushed a change

[2021-05-17 17:49] iancooper opened #1538 "System Text JsonSerializer does not de-serialize Dictionary<string, object> faithfully"
### Describe the bug
System Text JsonSerializer does not de-serialize Dictionary<string, object> faithfully.

When serializing Dictionary<string, object>, JsonSerializer works as expected, but when converting back, the object is a value type called JsonElement, with hints as to the type info. Because we can't process this, we have to convert back to an object.

This bug impacts all Outbox code tha

[2021-05-17 18:19] preardon commented on #1538
@iancooper I will have a look at this now if you like

[2021-05-17 19:44] preardon opened #1540 "The Azure Service Bus Transport does not support Rejecting"
At the Current point in time the Azure Service Bus Transport does not support Rejecting the Message

Line 211 of AzureServiceBusConsumer
`s_logger.LogWarning("Reject method NOT IMPLEMENTED.");`

and as such messages will not find their way to the Dead Letter Queue

[2021-05-17 20:34] preardon commented on #1540
I've just submitted PR #1541 For this

[2021-05-17 21:16] preardon commented on #1540
@iancooper I am under the Assumption (Based on SQS Gateway) that we want the Reject Command to Put the Letter on the Dead Letter Queue instead of a Just Abandoning the Lock (Which would either Retry or Dead Letter dependant on retires)?

[2021-05-17 21:25] preardon commented on #1519
Hey mate, I am happy to pick this one up if you want.

From what I can see, in the Message Pump, on When Catching Generic Exceptions we Log an Error, Exit the Catch Block and then the Code Continues on to Acknowledge.

I'm Guessing in the Catch Block we want to call Reject Message and then Continue on to the Next Iteration of the Loop? Perhaps Increment The Unacceptable Message Limit as well

[2021-05-18 08:16] iancooper commented on #1540
@preardon Yes, we have an explicit requeue op for 'make this available to others' (although its common to delay to allow transient issues to correct). Reject means don't re-queue this and put on the DLQ if we have one.

[2021-05-18 08:22] iancooper commented on #1519
@preardon Feel free to give it a go (separate PR please).

So, if the channel supports a DLQ, we need to count the number of times you requeue a message. To do that, we need to:

* Maintain a count in the header of the number of times it has been requeued. (We might do that already, nagging suspicion). * Increment the counter on requeue
* When the count exceeds a user-defined value (set in the bas

[2021-05-18 08:23] iancooper commented on #1519
PS Channel is your friend here I suspect. It wraps the per-platform message consumers. So if you want to put some generic code i.e. incrementing the count in the header, this is where you would do it.

[2021-05-18 08:29] iancooper commented on #1519
@preardon Yes, we have a HandledCount on the message and the pump currently discards when hit, but should reject

The wrinkle here is that HandledCount is used for the explicit DeferMessage exception that can be raised by a consumer. That is how you should reject to retry the message (don't forget you just have a handler, not the consumer, so you can't reject, instead you throw a specific exceptio